﻿<style>
    h5 { font-size: 18px !important;
    }
</style>
@* Folder Tree *@
<div class="modal fade popover-control" id="formModalView" tabindex="-1" role="dialog" aria-labelledby="formModalDriverLabel">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title mt-0">Choose Folder</h5>
                    @*<button type="button" class="close" data-dismiss="modal" onclick="CallData()" aria-hidden="true">×</button>*@
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" >X</button>
                </div>
            @*<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title pull-left" id="formModalDriverLabel">Choose Folder</h4>
            </div>*@

            <div class="modal-body">
                    <div class="box box-clear">
                        <div class="box-body">
                            <fieldset id="folderview">
                                <!-- Abre row e col-md-10 que envolver os campos -->
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">

                                        <div>
                                            <div id="jstree" style="height:300px;overflow:auto;">
                                            </div>
                                            <br />
                                            <table>
                                                <tr><td><input id="txtchoosedpath"  type="text" class="form-control" readonly style="background-color:white;width:300px" /></td></tr>
                                                <tr><td><input id="txtchoosefolder" type="text" class="form-control" style="width:300px" placeholder="New Folder Name" /></td>
                                                    <td><button id="btnadd" onclick="addfolder()" class="btn btn-primary">Add New Folder</button></td>
                                                </tr>
                                                <tr><td><button type="button" class="btn btn-primary" data-dismiss="modal" onclick="CallData()">Done</button></td></tr>
                                            </table>
                                            
                                            
                                            
                                            @*<button id="btnpath" onclick="pathfolder()" class="btn btn-primary">Set Path</button>*@
                                            
                                        </div>

                                    </div>
                                </div>


                            </fieldset>
                        </div>
                        <!-- Loading -->
                        <div id="overlayFormTableDriver" class="overlay" style="display: none;">
                            <i class="fa fa-spinner fa-pulse fa-spin"></i>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="text-center">
                        @*<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" onclick="CallData()">Next</button>*@
                    </div>
                </div>
        </div>
    </div>
</div>

@* Primary Tree *@

<div class="modal fade popover-control" id="formModalViewPrimary" tabindex="-1" role="dialog" aria-labelledby="formModalDriverLabel">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title mt-0">Choose Primary Data Set</h5>
                    @*<button type="button" class="close" data-dismiss="modal" onclick="CallData()" aria-hidden="true">×</button>*@
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" >X</button>
                </div>
            @*<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title pull-left" id="formModalDriverLabel">Choose Folder</h4>
            </div>*@

            <div class="modal-body">
                    <div class="box box-clear">
                        <div class="box-body">
                            <fieldset id="FieldPrimary">
                                <!-- Abre row e col-md-10 que envolver os campos -->
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-3">

                                        <div>
                                            <div  style="border:2px solid #d5d5e4;border-radius: 3px;width:60px;text-align:center;margin-left:380px">
                                                <button type="button" style="background-color:inherit;border:none"  onclick="ChangeViewPrime('expand')" title="Expand All"><i class="fa fa-plus"></i></button>
                                            <button type="button" style="background-color:inherit;border:none"  onclick="ChangeViewPrime('collapse')" title="Collapse All"><i class="fa fa-minus"></i></button>
                                            </div>
                                            <div id="jstreePrimary" style="height:300px;overflow:auto;">
                                            </div>
                                           <button type="button" class="btn btn-primary"  onclick="CallPrimaryData()">Done</button>
                                           
                                            
                                            
                                            @*<button id="btnpath" onclick="pathfolder()" class="btn btn-primary">Set Path</button>*@
                                            
                                        </div>

                                    </div>
                                </div>


                            </fieldset>
                        </div>
                        <!-- Loading -->
                        <div id="overlayFormTableDriverPrimary" class="overlay" style="display: none;">
                            <i class="fa fa-spinner fa-pulse fa-spin"></i>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="text-center">
                        @*<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" onclick="CallData()">Next</button>*@
                    </div>
                </div>
        </div>
    </div>
</div>


@* Comparison Tree *@

<div class="modal fade popover-control" id="formModalViewComparison" tabindex="-1" role="dialog" aria-labelledby="formModalDriverLabel">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title mt-0">Choose Comparison Data Set</h5>
                    @*<button type="button" class="close" data-dismiss="modal" onclick="CallData()" aria-hidden="true">×</button>*@
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"  >X</button>
                </div>
            @*<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title pull-left" id="formModalDriverLabel">Choose Folder</h4>
            </div>*@

            <div class="modal-body">
                    <div class="box box-clear">
                        <div class="box-body">
                            <fieldset id="fieldCompare">
                                <!-- Abre row e col-md-10 que envolver os campos -->
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-3">

                                        <div>
                                            <div  style="border:2px solid #d5d5e4;border-radius: 3px;width:60px;text-align:center;margin-left:380px">
                                                <button type="button" style="background-color:inherit;border:none"  onclick="ChangeViewCompare('expand')" title="Expand All"><i class="fa fa-plus"></i></button>
                                            <button type="button" style="background-color:inherit;border:none"  onclick="ChangeViewCompare('collapse')" title="Collapse All"><i class="fa fa-minus"></i></button>
                                            </div>
                                            <div id="jstreeComparison" style="height:300px;overflow:auto;">
                                            </div>
                                           <button type="button" class="btn btn-primary"  onclick="CallComparisonData()">Done</button>
                                            
                                            
                                            
                                            @*<button id="btnpath" onclick="pathfolder()" class="btn btn-primary">Set Path</button>*@
                                            
                                        </div>

                                    </div>
                                </div>


                            </fieldset>
                        </div>
                        <!-- Loading -->
                        <div id="overlayFormTableDriverComparison" class="overlay" style="display: none;">
                            <i class="fa fa-spinner fa-pulse fa-spin"></i>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="text-center">
                        @*<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" onclick="CallData()">Next</button>*@
                    </div>
                </div>
        </div>
    </div>
</div>
 
<script type="text/javascript">
    //$(function () {
    //    $('#input_hidden_user').val(sessionStorage.getItem("UserNum"));
    //    $('#hdaccount').val(sessionStorage.getItem("AccountId"));
    //});
    //var PrevNode;
    //var PrimaryidNew ="";
    //var PrimaryyearNew ="";
    var PrevNode="";
    var PrevNodeCompare="";
    $(function () {
        // html demo
        $('#jstree').jstree({
            'plugins': ["state"],
            'core': {
                'data': @Html.Raw(ViewBag.Json),
                'check_callback': true
            }
        });
        //JsTreePrimary
        $('#jstreePrimary').jstree({               
            'core': {
                /**/
                'data': @Html.Raw(ViewBag.JsonPrimary),
                /**/
                'check_callback': true
            },
            "checkbox": {
                "keep_selected_style": false,
                "three_state": false,
                "cascade": 'none'
            },
            "plugins": ["wholerow", "checkbox"]
        });

        $('#jstreePrimary').on('changed.jstree', function (e, data) {
            if (data.instance.is_checked(data.node)) {
                if (data.instance.is_parent(data.node)) {
                    //console.log(data.node.children);
                    //$("#jstree").jstree().uncheck_node(data.node.children);   
                    //  $("#jstreeComparison").jstree().enable_node(data.node.children);
                    //alert("Prevnode_"+PrevNode);
                    $("#jstreePrimary").jstree().enable_node(data.node.children);
                    var lvl = data.node.children.length;
                    if(lvl == 1)
                    {
                        $("#jstreePrimary").jstree().check_node(data.node.children);
                    }

                    var  node = $("#jstreePrimary").jstree().get_node(PrevNode);

                    // console.log(node);

                    $("#jstreePrimary").jstree().uncheck_node(node);
                    PrevNode = data.node.id;  
                    //ComparisonyearNew ="";


                    //if (data.node.id == "Company1") {
                    //    var node = $("#jstree").jstree().get_node("Company2");
                    //    $("#jstree").jstree().uncheck_node(node);
                    //}

                    //if (data.node.id == "Company2") {
                    //    var node = $("#jstree").jstree().get_node("Company1");
                    //    $("#jstree").jstree().uncheck_node(node);
                    //}
                }
            }
            else {
                if (data.instance.is_parent(data.node)) {
                    //console.log(data.node.children);
                    PrevNode="";
                   // PrimaryyearNew ="";
                    $("#jstreePrimary").jstree().uncheck_node(data.node.children);
                    $("#jstreePrimary").jstree().disable_node(data.node.children);
                }
            }
            //if (resetting) //ignoring the changed event
            //{
            //    resetting = false;
            //    return;
            //}
            //if (!$("#multiselect").is(':checked') && data.selected.length > 1) {
            //    resetting = true; //ignore next changed event
            //    data.instance.uncheck_all(); //will invoke the changed event once
            //    data.instance.check_node(data.node/*currently selected node*/);
            //    return;
            //}
            //selectedId = [];
            //for (var i = 0; i < data.selected.length; i++) {
            //    selectedId.push(data.instance.get_node(data.selected[i]).id);
            //}
            //$("#log").append("Selected nodes: " + selectedId.join(', ') + "<br />");
        });

        // bind to events triggered on the tree
        $("#jstreePrimary").bind('ready.jstree', function (event, data) {
            var $tree = $(this);
            $($tree.jstree().get_json($tree, {
                flat: true
            }))
                 .each(function (index, value) {
                     var node = $("#jstreePrimary").jstree().get_node(this.id);
                     var lvl = node.parents.length;
                     var idx = index;
                   
                     if (lvl == 2) {   
                         $("#jstreePrimary").jstree().disable_node(node);       
                        
                         var pnode = $("#jstreePrimary").jstree().get_node(node.parent);
                         // alert(pnode.id+"_"+ ComparisonidNew);
                         // ComparisonidNew = "1";
                        // alert(PrimaryidNew);
                         if (pnode.id == PrimaryidNew) {
                            
                             $("#jstreePrimary").jstree().check_node(pnode);
                             $("#jstreePrimary").jstree("select_node", "#" + pnode.id);
                             //alert('came');
                         }
                         if (pnode.state.selected) {

                             var  varpreselectarray = PrimaryyearNew.split(',');
                             // console.log(varpreselectarray);
                             for(i=0;i<varpreselectarray.length; i++)
                             {
                                 //alert(pnode.id+"_"+varpreselectarray[i]);
                                 if(pnode.id+"_"+varpreselectarray[i] == node.id)
                                 {
                                     $("#jstreePrimary").jstree().check_node(node);
                            
                                     $("#jstreePrimary").jstree("select_node", "#" + node.id);
                                        
                                     //   $("#jstreeComparison").jstree("select_node", "#" + pnode.id+"_"+varpreselectarray[i]);
                                 }
                             }
                             $("#jstreePrimary").jstree().enable_node(node);
                         }
                     }
                    
                     // console.log('node index = ' + idx + ' level = ' + lvl);
                 });
        });
      


        //JsTree Comparison

        $('#jstreeComparison').jstree({               
            'core': {
                /**/
                'data': @Html.Raw(ViewBag.JsonComparison),
                /**/
                'check_callback': true
            },
            "checkbox": {
                "keep_selected_style": false,
                "three_state": false,
                "cascade": 'none'
            },
            "plugins": ["wholerow", "checkbox"]
        });

        $('#jstreeComparison').on('changed.jstree', function (e, data) {
            if (data.instance.is_checked(data.node)) {
                if (data.instance.is_parent(data.node)) {
                    //alert('came');
                    //console.log(data.node.children);
                    //$("#jstree").jstree().uncheck_node(data.node.children);   
                    //  $("#jstreeComparison").jstree().enable_node(data.node.children);
                    //alert("PrevnodeCompare_"+PrevNodeCompare);
                    $("#jstreeComparison").jstree().enable_node(data.node.children);
                    var lvl = data.node.children.length;
                    if(lvl == 1)
                    {
                        $("#jstreeComparison").jstree().check_node(data.node.children);
                    }
                    var  node = $("#jstreeComparison").jstree().get_node(PrevNodeCompare);

                    // console.log(node);

                    $("#jstreeComparison").jstree().uncheck_node(node);
                    PrevNodeCompare = data.node.id;  
                    //ComparisonyearNew ="";


                    //if (data.node.id == "Company1") {
                    //    var node = $("#jstree").jstree().get_node("Company2");
                    //    $("#jstree").jstree().uncheck_node(node);
                    //}

                    //if (data.node.id == "Company2") {
                    //    var node = $("#jstree").jstree().get_node("Company1");
                    //    $("#jstree").jstree().uncheck_node(node);
                    //}
                }
                else if(data.node.id == "-1")
                {
                   
                    var  node = $("#jstreeComparison").jstree().get_node(PrevNodeCompare);
                    $("#jstreeComparison").jstree().uncheck_node(node);
                    PrevNodeCompare = data.node.id;  

                }
            }
            else {
                if (data.instance.is_parent(data.node)) {
                    //console.log(data.node.children);
                    PrevNodeCompare="";
                    $("#jstreeComparison").jstree().uncheck_node(data.node.children);
                    $("#jstreeComparison").jstree().disable_node(data.node.children);
                }
            }
            //if (resetting) //ignoring the changed event
            //{
            //    resetting = false;
            //    return;
            //}
            //if (!$("#multiselect").is(':checked') && data.selected.length > 1) {
            //    resetting = true; //ignore next changed event
            //    data.instance.uncheck_all(); //will invoke the changed event once
            //    data.instance.check_node(data.node/*currently selected node*/);
            //    return;
            //}
            //selectedId = [];
            //for (var i = 0; i < data.selected.length; i++) {
            //    selectedId.push(data.instance.get_node(data.selected[i]).id);
            //}
            //$("#log").append("Selected nodes: " + selectedId.join(', ') + "<br />");
        });

        // bind to events triggered on the tree
        $("#jstreeComparison").bind('ready.jstree', function (event, data) {
            var $tree = $(this);
            $($tree.jstree().get_json($tree, {
                flat: true
            }))
                .each(function (index, value) {
                    var node = $("#jstreeComparison").jstree().get_node(this.id);
                    var lvl = node.parents.length;
                    var idx = index;
                    if(ComparisonidNew == "-1")
                    {
                        if(node.id == ComparisonidNew)
                        {
                            $("#jstreeComparison").jstree().check_node(node);
                            $("#jstreeComparison").jstree("select_node", "#" + node.id);
                        }
                    }
                    if (lvl == 2) {   
                        $("#jstreeComparison").jstree().disable_node(node);                        
                        var pnode = $("#jstreeComparison").jstree().get_node(node.parent);
                       // alert(pnode.id+"_"+ ComparisonidNew);
                       // ComparisonidNew = "1";
                        if (pnode.id == ComparisonidNew) {
                            
                            $("#jstreeComparison").jstree().check_node(pnode);
                            $("#jstreeComparison").jstree("select_node", "#" + pnode.id);
                            //alert('came');
                        }
                        if (pnode.state.selected) {

                          var  varpreselectarray = ComparisonyearNew.split(',');
                              // console.log(varpreselectarray);
                                for(i=0;i<varpreselectarray.length; i++)
                                {
                                    //alert(pnode.id+"_"+varpreselectarray[i]);
                                    if(pnode.id+"_"+varpreselectarray[i] == node.id)
                                    {
                                        $("#jstreeComparison").jstree().check_node(node);
                            
                                        $("#jstreeComparison").jstree("select_node", "#" + node.id);
                                        
                                     //   $("#jstreeComparison").jstree("select_node", "#" + pnode.id+"_"+varpreselectarray[i]);
                                    }
                                }
                                $("#jstreeComparison").jstree().enable_node(node);
                        }
                    }
                    
                   // console.log('node index = ' + idx + ' level = ' + lvl);
                });
        });

    });
    $("#jstree").on('select_node.jstree', function(e) {
      //  alert('jesus');
        var path = $('#jstree').jstree().get_path($('#jstree').jstree("get_selected", true)[0], '/');            
        $('#txtchoosedpath').val(path);
        
        //// gather ids of selected nodes
        //var selected_ids = [];
        //$("#jstree_id").jstree('get_selected').each(function () { 
        //    selected_ids.push(this.id); 
        //}); 
        //// do summit with them
        //$('#RightSide').text('selected '+selected_ids);
    });

        // Helper method createNode(parent, id, text, position).
        // Dynamically adds nodes to the jsTree. Position can be 'first' or 'last'.
        function createNode(parent_node, new_node_id, new_node_text, position) {
            $('#jstree').jstree('create_node', $(parent_node), { "text": new_node_text, "id": new_node_id }, position, false, false);
        }

        function addfolder() {
            var foldername = $('#txtchoosefolder').val();
            if(foldername !="")
            {
                var position = 'inside';
                var parent = $('#jstree').jstree('get_selected');
                //alert(parent);
                SaveFolderOnDB(foldername, parent);
                $('#txtchoosefolder').val('');
            }
            else
            {
                alert("FolderName Should Not be empty");
            }
            

        }
        function pathfolder() {
            var path = $('#jstree').jstree().get_path($('#jstree').jstree("get_selected", true)[0], '/');            
            $('#txtchoosedpath').val();
            FolderPath =path;
            
            
           
        }
        function CallComparisonData()
        {
            ComparisonyearNew ="";
            ComparisonidNew="";
            ComparisontextNew="";

                
            var valarray =$("#jstreeComparison").jstree("get_selected",true);

            if(valarray.length == 0)
            {
                alert("Choose Comparison DataSet");
            }
            else if(valarray.length == 1 & valarray[0].id !="-1")
            {

                alert("Choose Comparison Year");
            }
            else
            {
                ComparisonidNew = $("#jstreeComparison").jstree("get_selected",true)[0].id;
                console.log(ComparisonidNew);
                ComparisontextNew =valarray[0].text;
                for(i=1; i<valarray.length; i++)
                {
                    ComparisonyearNew=ComparisonyearNew + $("#jstreeComparison").jstree("get_selected",true)[i].text+",";//$("#jstreePrimary").jstree("get_selected").text();//data.instance.get_node(data.selected[i]).text
                }
                ComparisonyearNew =ComparisonyearNew.replace(/,\s*$/, "");
                
                //alert(ComparisonidNew);
                //alert(ComparisonyearNew);
              
                PrevNodeCompare="";
                if(ComparisonidNew != -1)
                {
                    $('#comparehtml').html(ComparisontextNew+"_"+ComparisonyearNew);
                }
                else{
                    $('#comparehtml').html('None');
                }
                $('#formModalViewComparison').modal('hide');
                ddlcatbycidyid();ddlGetECIFilter();
            }
        }
        function CallPrimaryData()
        {
             PrimaryidNew ="";
             PrimarytextNew="";
             PrimaryyearNew ="";
            var valarray =$("#jstreePrimary").jstree("get_selected",true);

            if(valarray.length == 0)
            {
                alert("Choose Primary DataSet");
            }
            else if(valarray.length == 1)
            {
                alert("Choose Primary Year");
            }
            else
            {
                PrimaryidNew = $("#jstreePrimary").jstree("get_selected",true)[0].id;
                primarytextNew =valarray[0].text;
                for(i=1; i<valarray.length; i++)
                {
                    PrimaryyearNew=PrimaryyearNew + $("#jstreePrimary").jstree("get_selected",true)[i].text+",";//$("#jstreePrimary").jstree("get_selected").text();//data.instance.get_node(data.selected[i]).text
                }
                
                PrimaryyearNew =PrimaryyearNew.replace(/,\s*$/, "");
               
                PrevNode="";
                $('#primaryhtml').html(primarytextNew+"_"+PrimaryyearNew);
                $('#formModalViewPrimary').modal('hide');
                ddlcatbycidyid();ddlGetECIFilter();
            }
        }

        function ChangeViewCompare(type)
        {
            if(type == "expand")
            {
                $("#jstreeComparison").jstree("open_all");
            }
            else
            {
                $("#jstreeComparison").jstree("close_all");
            }

        }

        function ChangeViewPrime(type)
        {
            
            if(type == "expand")
            {
                $("#jstreePrimary").jstree("open_all");
            }
            else
            {
                $("#jstreePrimary").jstree("close_all");
            }
        }
        function CallData()
        {
            var path = $('#jstree').jstree().get_path($('#jstree').jstree("get_selected", true)[0], '/'); 
            FolderPath = $('#txtchoosedpath').val();

            SaveReportIcon();
            ////Datapopulate('bar',1,0);ddlGetECIFilter();removesearch();
            ////// $('.nav-link a[href="#RData"]').tab('active');
            ////// $('#reviewdata').attr("href", "#RData");
            ////$('ul li a[href="#RData"]').click();
            ////$('#RData').addClass('active').attr('aria-selected', 'true');
            ////$('#SData').removeClass('active').attr('aria-selected', 'false');
            ////$('#GReport').removeClass('active').attr('aria-selected', 'false');
            //////$('#SData').removeClass("active");
            //////$('#RData').addClass("active ");
        }
    function SaveFolderOnDB(foldernameval, parentid){
        //alert(foldernameval + ' ' + parentid)
        console.log(parentid);
       
        var cnt = 0;
        $.ajax({
            type: 'POST',
            traditional: true,
            url: '@Url.Action("SaveFolderOnDB", "SuperAdmin")',
            data: { foldername: foldernameval, parentfolderid: parentid,UserNum:sessionStorage.getItem("UserNum")},
            async: true,
            success: function (data) {
                console.log(data);

                var id = data.result;

                createNode("#" + parentid, id, foldernameval, "last");

                //$('#jstree').jstree('select_node', id);

                var path = $('#jstree').jstree().get_path($('#jstree').jstree("get_selected", true)[0], '/');

                $('#txtchoosedpath').val(path + '/' + foldernameval);

                //alert($('#txtchoosedpath').val());
                
                
            }
        });
        return false;
    }
</script>