﻿@model ECIModel.AccountModel

@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
<style>
    .danger {color:red;
    }

    .card-body {
        padding-top: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 1.5rem;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $("#UserNum").val(sessionStorage.getItem("UserNum"));
        //  Open Modal - ADD
        $('#backbutton').on('click', function (e) {
            e.preventDefault();

            //location.reload(); location.href = "@Url.Action("SAECIAccounts", "SuperAdmin")";
            LoadNewScreen("@Url.Action("SAECIAccounts", "SuperAdmin")");
            //AddModal();
        });
        $('#saveaccount').on('click', function (e) {
            //alert('like');
            $.ajax({
                type: 'POST',
                traditional: true,
                url: '@Url.Action("checkaccount", "SuperAdmin")',
            data: { companyname: $('#companyName').val() },
            async: true,
            success: function (data) {
                console.log(data);
                if (data == 0) {
                    $('#frnAddAccount').submit();
                }
                else {
                    alert("CompanyName Already Exist");
                }


            }
        });
          });
        $('#updateaccount').on('click', function (e) {
            $('#frnAddAccount').submit();

        });

    });
  
</script>
@using (Html.BeginForm("Accounts", "SuperAdmin", FormMethod.Post, new { id = "frnAddAccount" }))
{
    @Html.HiddenFor(x => x.id)
    <input type="hidden" name="UserNum" id="UserNum" />
    <div class="row">
        <div class="col-12">
            <div class="card m-b-20">
                <div class="card-body">


                    @if (Model.id == 0)
                    {
                        <h4 class="mt-0 header-title">
                            Add Account
                        </h4>
                    }
                    else
                    {
                        <h4 class="mt-0 header-title">
                            Edit Account
                        </h4>
                    }


                    <p class="text-muted m-b-30 font-14">Please update required information to add new account.</p>

                    <div class="form-group row">
                        <label for="CompanyName-input" class="col-sm-2 col-form-label">Company Name <sup class="danger">*</sup></label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.companyName, new { @class = "form-control" })
                            @*@Html.ValidationMessageFor(x => x.companyName)*@
                            @Html.ValidationMessage("companyName", new { @class = "alert-danger" })
                        </div>


                        <label for="AliasName-input" class="col-sm-2 col-form-label">Alias Name <sup class="danger">*</sup></label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.AliasName, new { @class = "form-control" })
                            @Html.ValidationMessage("AliasName", new { @class = "alert-danger" })
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="Industry-input" class="col-sm-2 col-form-label">Industry</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Industry, new { @class = "form-control" })
                        </div>
                        <label for="Employees-input" class="col-sm-2 col-form-label">Employees</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Employees, new { @class = "form-control", @type = "number" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="AnnualRevenue-input" class="col-sm-2 col-form-label">Annual Revenue</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Annual_Revenue, new { @class = "form-control" })
                        </div>
                        <label for="Phone-input" class="col-sm-2 col-form-label">Telephone</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Telephone, new { @class = "form-control", @type = "tel" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="MailingStreet-input" class="col-sm-2 col-form-label">Mailing Street</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Mailing_Street, new { @class = "form-control" })
                        </div>
                        <label for="MailingCity-input" class="col-sm-2 col-form-label">Mailing City</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Mailing_City, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="MailingState-input" class="col-sm-2 col-form-label">Mailing State</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Mailing_State, new { @class = "form-control" })
                        </div>
                        <label for="MailingPostalCode-input" class="col-sm-2 col-form-label">Mailing Postal Code</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Mailing_Postal_Code, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="MailingCountry-input" class="col-sm-2 col-form-label">Mailing Country</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Mailing_Country, new { @class = "form-control" })
                        </div>
                        <label for="example-url-input" class="col-sm-2 col-form-label">Website</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Website, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-url-input" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-4">
                            <textarea  class="form-control" id="Description" name="Description">@Model.Description</textarea>
                        </div>

                        <label for="AccountOwner-input" class="col-sm-2 col-form-label">Account Owner</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.AccOwner, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div>
                            @if (Model.id == 0)
                            {
                        <input type="button" class="btn btn-primary" value="Save" id="saveaccount"/>
                                
                            }
                            else
                            {
                        <input type = "button" class="btn btn-primary" value="Update"  id="updateaccount"/>
                                
                            }
                            @*<button type="button" class="btn btn-primary waves-effect waves-light" onclick="save()">
            Save
        </button>*@
                            <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                Reset
                            </button>
                            <button type="reset" class="btn btn-primary waves-effect m-l-5" id="backbutton">
                                Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
        //function save() {
        //    alert("You could not save data... waiting for role assignment..")
        //    return false;
        //}
</script>
