﻿@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
<script src="../blue/assets/js/jquery.min.js"></script>
<style>
    .danger {color:red;
    }

    .card-body {
        padding-top: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 1.5rem;
    }

    .jstree-default-large > .jstree-container-ul > .jstree-node {
        margin-left: -41px !important;
        margin-right: 0;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
                       
        $('#createdby').val(sessionStorage.getItem("UserNum"));

                       $('#saverole').on('click', function (e) {
                           
                           if ($("#RoleName").val() != "" && $("#selectedItems").val() != "" ) {  
                               $('#frmAddRole').submit();
                           }  
                           else
                           {
                               alert("Information Required");  
                               return false;    
                           }
                       });

            //  Open Modal - ADD
            $('#crudOptionAdd').on('click', function (e) {
                e.preventDefault();
                //window.open("@Url.Action("AddRole", "SuperAdmin")");
                //location.reload(); location.href = "@Url.Action("SAECIRoles", "SuperAdmin")";
                LoadNewScreen("@Url.Action("SAECIRoles", "SuperAdmin")");
                //AddModal();
            });
        $('#resetbt').on('click', function(e)
        {
            $('#jstree').jstree(true).deselect_all();
        });

        });
</script>
@*<script type="text/javascript">
    $(function () {
        
    });
</script>*@

<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">
                <h4 class="mt-0 header-title">
                    Add Role
                </h4>

                <p class="text-muted m-b-30 font-14">Please update required information to add new role.</p>


                @using (Html.BeginForm("AddRole", "SuperAdmin", FormMethod.Post, new { id = "frmAddRole" }))
                {
                    <input type="hidden" name="selectedItems" id="selectedItems" />
                    <input type="hidden" name="createdby" id="createdby" value="" />
                    <div class="form-group row">
                        <label for="CompanyName-input" class="col-sm-2 col-form-label">Role Name <sup class="danger">*</sup></label>
                        <div class="col-sm-6">
                            
                            @Html.TextBox("RoleName",null ,new { @class = "form-control" })
                            @Html.ValidationMessage("RoleName", new { @class = "alert-danger" })
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="CompanyName-input" style="padding-right:0px"  class="col-sm-2 col-form-label">Select Required Permission <sup class="danger">*</sup></label>
                        <div class="col-sm-6">
                            <div id="jstree">
                            </div>
                        </div>

                    </div>


                    <div class="form-group m-b-0">
                        <div>
                            <input type="button" id="saverole" class="btn btn-primary" value="Save" />
                            @*<button type="button" class="btn btn-primary waves-effect waves-light" onclick="save()">
                                    Save
                                </button>*@
                            <button type="reset" class="btn btn-secondary" id="resetbt">
                                Reset
                            </button>
                            <button type="reset" class="btn btn-primary" id="crudOptionAdd">
                                Back
                            </button>
                        </div>
                    </div>
                }
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
                <script type="text/javascript">
        $(function () {
            $('#jstree').on('changed.jstree', function (e, data) {
                var i, j;
                var selectedItems = [];
                for (i = 0, j = data.selected.length; i < j; i++) {

                    //Fetch the Id.
                    var id = data.selected[i];

                    //Remove the ParentId.
                    if(id.indexOf('-') != -1){
                        id = id.split("-")[1];
                    }

                    //Add the Node to the JSON Array.
                    selectedItems.push({
                        text: data.instance.get_node(data.selected[i]).text,
                        id: id,
                        parent: data.node.parents[0]
                    });
                }

                //Serialize the JSON Array and save in HiddenField.
                $('#selectedItems').val(JSON.stringify(selectedItems));
            }).jstree({
                "core": {
                    "themes": {
                        "variant": "large"
                    },
                    "data": @Html.Raw(ViewBag.Json)
                    },
                "checkbox": {
                    "keep_selected_style": false
                },
                "plugins": ["wholerow", "checkbox"],
                });

            //// after the tree is loaded
            //$("#jstree").on("loaded.jstree", function () {
            //    // don't use "#" for ID
            //    $('#jstree').jstree(true).select_node('1');
            //});
        });
                </script>
            </div>
        </div>
    </div>
</div>