﻿@using ECIModel;
@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
@{
    var accountid = 0;
}
@if (HttpContext.Current.Session["SessionUser"] != null)
{
    SessionUser SessionUser = (SessionUser)HttpContext.Current.Session["SessionUser"];
    accountid = SessionUser.Accountid;
}
<!-- Theme style -->
<link rel="stylesheet" href="../dist/css/AdminLTE.min.css">

@*<script src="../blue/jscolor.js"></script>*@

<link href="../blue/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<link rel="stylesheet" href="../bower_components/Ionicons/css/ionicons.min.css">

<style>
    .card-body {
        padding-top: .5rem;
        padding-right: .5rem;
        padding-bottom: .5rem;
        padding-left: .5rem;
        box-shadow: 1px 5px 3px rgb(100, 100, 101);
    }
    .small-box {
        border-radius: 2px;
        position: relative;
        display: block;
        box-shadow: 4px 5px 5px rgb(73, 74, 77);
    }
    .box-body {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 10px;
        box-shadow: 1px 5px 3px rgb(100, 100, 101);
    }
    .box {
        
         border-top: 0px solid #d2d6de; 
      
    }
    .small-box {
     
        margin-bottom: 0px;
        
    }
    .admincol .col-lg-3 {
        padding-left:2%;padding-right:2%;
        line-height:0.7;
    }
</style>
<input type="hidden" id="hdaccount" value="@accountid" />
<input type="hidden" id="input_hidden_field" value="" />


<input type="hidden" id="hiddoverall" value="" />


<div class="row" style="display:none">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">

                <!-- Info boxes -->
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-aqua">
                            

                            <div class="info-box-content">
                                <span class="info-box-text">ECI Users</span>
                                
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-red">
                            <span class="info-box-icon bg-red"><i class="ion ion-ios-people-outline"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Client Users</span>
                                <span class="info-box-number" id="clientusers"></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <!-- fix for small devices only -->
                    <div class="clearfix visible-sm-block"></div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-green">
                            <span class="info-box-icon bg-green"><i class="ion ion-ios-gear-outline"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Accounts</span>
                                
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-yellow ">
                            <span class="info-box-icon bg-yellow"><i class="fa fa-book"></i></span>

                            <div class="info-box-content ">
                                <span class="info-box-text">Reports</span>
                                
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->




            </div>
        </div>
    </div> <!-- end col -->
</div>
<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">
                <div class="row admincol">
                    <div class="col-lg-3 col-xs-6" >
                        <!-- small box -->
                        <div class="small-box bg-blue">
                            <div class="inner text-center">
                                <h4 id="zerowidget" class="text-center"><a style="color:white" id="userhref" href="SAECIUser">USERS</a></h4>
                                <br />
                                <span class="info-box-number" id="eciusercount"></span>
                            </div>
                            <div class="icon">
                                @*<i class="fa fa-shopping-cart"></i>*@
                                <i class="ion ion-ios-people"></i>
                            </div>
                            @*<a href="#" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>*@
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-purple">
                            <div class="inner text-center">
                                <h4 id="onethwidget" class="text-center"><a style="color:white" id="accounthref" href="SAECIAccounts">ACCOUNTS</a></h4>
                                <br />
                                <span class="info-box-number" id="accounts"></span>
                                @*<h3>53<sup style="font-size: 20px">%</su</h3>
        <p>Bounce Rate</p>*@
                            </div>
                            <div class="icon">
                                <i class="ion ion-ios-gear"></i>
                            </div>
                            @*<a href="#" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>*@
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-gray" style="background-color:#9da0a5 !important">
                            <div class="inner">
                                <h4 id="secondwidget" class="text-center"><a style="color:white" id="rolehref" href="LinkUserRole">ROLES</a></h4>
                                <br />
                                <span class="info-box-number" id="roles">&nbsp;</span>



                                @*<h3>44</h3>
        <p id="secondwidget">User Registrations</p>*@
                            </div>
                            <div class="icon">
                                @*<i class="ion ion-person-add"></i>*@
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            @*<a href="#" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>*@
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-teal">
                            <div class="inner text-center">
                                <h4 id="thirdwidget" class="text-center"><a style="color:white" href="DataUpload">DATA UPLOAD</a></h4>
                                <br />
                                
                                <span class="info-box-number" @*id="reports"*@>&nbsp;</span>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph" style="font-size: 80px;padding-top: 10px;"></i>
                            </div>
                            @*<a href="#" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>*@
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                @*<div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <canvas id="Overall" height="420" width="841" style="width: 561px; height: 280px;"></canvas>
                    </div>
                </div>*@
            </div>
        </div>
    </div> <!-- end col -->
</div>
@*<div class="dynamicbinding row"></div>*@

<div class="row">
    <div class="col-lg-6">
       
                <div class="box">
                    @*<div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                          
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>*@

                    <div class="box-body" id="divoverall">
                        <p id="colorpickerHolder">
                        </p>
                        <canvas id="Overall" style="width: 561px; height: 280px;"></canvas>
                    </div>
                </div>
          
    </div>
    <div class="col-lg-6">
        
                <div class="box">
                    

                    <div class="box-body" id="divoverall">
                        <p id="colorpickerHolder">
                        </p>
                        <canvas id="UserTypeRpt" style="width: 561px; height: 280px;"></canvas>
                    </div>
                </div>
            
    </div>
</div>



<!-- Chart JS -->
<script src="../blue/assets/plugins/chart.js/chart.min.js"></script>
<!-- <script src="assets/pages/chartjs.init.js"></script> -->
<!-- Chart Js Code Start here -->

<script type="text/javascript">
    //window.onload = function () {
    //    GetUsersReports();
    //}
    $(document).ready(function () {
        GetUsersReports();
        GetTypeCounts();
      //  GetWidgets();
    });
    function GetWidgets()
    {
         $.ajax({
            type: 'POST',
            url: '@Url.Action("GetWidgetsReport", "SuperAdmin")',
            data: {},
            async: false,
            success: function (data) {

                for (i = 0; i < Object.keys(data).length; i++) {
                    if (i == 0) {
                        var url = '@Html.Raw(Url.Action("CustomReport", "SuperAdmin", new { reportid = "rptid", reportname = "rptname"}))';
                        var params = url.replace('rptid', data[i].Reportid).replace('rptname', data[i].ReportName);

                        $("#zerowidget").html('<a style="color:white" href=' + params + '>' + data[i].ReportName + '</a>');
                    }
                    else if (i == 1) {
                        var url = '@Html.Raw(Url.Action("CustomReport", "SuperAdmin", new { reportid = "rptid", reportname = "rptname"}))';
                        var params = url.replace('rptid', data[i].Reportid).replace('rptname', data[i].ReportName);

                        $("#onethwidget").html('<a style="color:white"  href=' + params + '>' + data[i].ReportName + '</a>');
                    }
                    else if (i == 2) {

                         var url = '@Html.Raw(Url.Action("CustomReport", "SuperAdmin", new { reportid = "rptid", reportname = "rptname"}))';
                        var params = url.replace('rptid', data[i].Reportid).replace('rptname', data[i].ReportName);

                        $("#secondwidget").html('<a style="color:black"  href=' + params + '>' + data[i].ReportName + '</a>');
                    }
                    else if (i == 3) {
                         var url = '@Html.Raw(Url.Action("CustomReport", "SuperAdmin", new { reportid = "rptid", reportname = "rptname"}))';
                        var params = url.replace('rptid', data[i].Reportid).replace('rptname', data[i].ReportName);

                        $("#thirdwidget").html('<a style="color:black"  href=' + params + '>' + data[i].ReportName + '</a>');
                    }

                }
            }
        });

    }
    function GetTypeCounts() {
        var cnt = 0;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetTypeCounts", "SuperAdmin")',
            data: { UserNum: sessionStorage.getItem("UserNum")},
            async: false,
            success: function (data) {
                console.log(data[0].Administration);
                if (data[4].Counts == 0)
                {
                    $('#userhref').attr('href', '#');
                    $('#accounthref').attr('href', '#');
                    $('#rolehref').attr('href', '#');

                }
                
                for (i = 0; i < Object.keys(data).length; i++) {

                    if (data[i].Type == "EciUsers") {
                        cnt = +cnt + +data[i].Counts;
                        $("#eciusercount").html(data[i].Counts);
                    }
                    else if (data[i].Type == "Client Users") {  
                        cnt = +cnt + +data[i].Counts;
                        $("#clientusers").html(data[i].Counts);
                    }
                    else if (data[i].Type == "Account") {
                        $("#accounts").html(data[i].Counts);
                    }
                    else if (data[i].Type == "UserReport") {
                        $("#reports").html(data[i].Counts);
                    }
                }

                $("#eciusercount").html(cnt);
            }
        });

    }
     function GetUsersReports() {
         var companydata = [];
         var companylabel = [];

         var usertypedata = [];
         var usertypelabel = [];

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetUsersReport", "SuperAdmin")',
            data: {},
            async: false,
            success: function (data) {
               console.log(data);
                for (i = 0; i < Object.keys(data).length; i++) {

                    var obj = data[i];

                    for (ji = 0; ji < Object.keys(obj).length; ji++) {

                        if (i == 0) {
                            companylabel.push(obj[ji].companyName);
                            companydata.push(obj[ji].UserCnt);
                        }
                        if (i == 1) {
                            usertypelabel.push(obj[ji].UserTypeVal);
                            usertypedata.push(obj[ji].UserCnt);
                        }
                    }

                    //console.log(obj);
                }
 		    }
         });

       console.log(companydata);

         //var dataset = {
         //    label: "CompanyUsers",
         //    data: companydata,
         //    backgroundColor: ["#ff4081",
         //        "#43a047",
         //        "#f57c00"]
         //};

         //console.log(dataset);

         var ctx = document.getElementById("Overall").getContext('2d');

         var myChartOverall = new Chart(ctx, {
             type: 'bar',
             //data: {
             //    labels: companylabel,
             //    datasets: dataset
             //}
             data: {
                 labels: companylabel,
                 datasets: [
                     {
                         label: "User Count",
                         backgroundColor: ["#ff4081",
                             "#43a047",
                             "#f57c00",
                             "#4BC0C0",
                             "#565656",
                             "#7CB342",
                             "#9CCC65",
                             "#E7E9ED",
                             "#FF6384",
                             "#FFCE56"],
                         data: companydata
                     }
                 ]
             },
             options: {
                 legend: { display: false },
                 title: {
                     display: true,
                     text: 'Accounts and Users'
                 }
             }
         });


         var ctx1 = document.getElementById("UserTypeRpt").getContext('2d');

         var myChartOverall1 = new Chart(ctx1, {
             type: 'pie',
             //data: {
             //    labels: companylabel,
             //    datasets: dataset
             //}
             data: {
                 labels: usertypelabel,
                 datasets: [
                     {
                         label: "User Count",
                         backgroundColor: ["#ff4081",
                             "#43a047",
                             "#f57c00",
                             "#4BC0C0",
                             "#565656",
                             "#7CB342",
                             "#9CCC65",
                             "#E7E9ED",
                             "#FF6384",
                             "#FFCE56"],
                         data: usertypedata
                     }
                 ]
             },
             options: {
                 legend: { display: false },
                 title: {
                     display: true,
                     text: 'UserType'
                 }
             }
         });

    }
</script>

<!-- Chart Js Code end here -->
<!-- Chart JS -->
<script src="../blue/assets/plugins/chart.js/chart.min.js"></script>
@*<script src="../blue/assets/pages/chartjs.init.js"></script>*@

<!-- AdminLTE App -->
<script src="../dist/js/adminlte.min.js"></script>

<script src="../blue/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>

<!-- Download PDF -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>

