﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script type="text/javascript">
        $(function () {
            // html demo
            $('#jstree').jstree({  
                'plugins': ["state"],
                'core': {
                    'data': @Html.Raw(ViewBag.Json),
                    'check_callback': true
                }
            });
        
            
        });

       
        // Helper method createNode(parent, id, text, position).
        // Dynamically adds nodes to the jsTree. Position can be 'first' or 'last'.
        function createNode(parent_node, new_node_id, new_node_text, position) {
            $('#jstree').jstree('create_node', $(parent_node), { "text": new_node_text, "id": new_node_id }, position, false, false);
        }

        function addfolder() {
            var position = 'inside';
            var parent = $('#jstree').jstree('get_selected');
            var foldername = $('#txtchoosefolder').val();

            //alert(parent);
            SaveFolderOnDB(foldername, parent);
        
        }
        function pathfolder() {
            var path = $('#jstree').jstree().get_path($('#jstree').jstree("get_selected", true)[0], '/');
            FolderPath =path;
            alert(FolderPath);
        }
        function SaveFolderOnDB(foldernameval, parentid) {
            console.log(parentid);
        var cnt = 0;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveFolderOnDB", "SuperAdmin")',
            data: { foldername: foldernameval, parentfolderid: parentid },
            async: true,
            success: function (data) {
                console.log(data);

                var id = data.result;    

                createNode("#" + parentid, id, foldernameval, "last");
            }
        });

    }
    </script>
</head>
<body>
    <div>
        <div id="jstree">
        </div>
        <input id="txtchoosefolder" /> <button id="btnadd" onclick="addfolder()">Add</button>
        <button id="btnpath" onclick="pathfolder()">Path</button>
    </div>
</body>
</html >

