﻿@model ECIModel.ProfileModel
@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
<link href="../blue/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
<style>
    .danger {
        color: red;
    }

    .deepa .btn-group {
        width: 100%;
        background-color: white;
        color: black;
    }

    .deepa .btn {
        text-align: left;
    }

    .card-body {
        padding-top: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 1.5rem;
    }
 .multiselect-container {
        /*transform: translate3d(0px, 38px, 0px) !important;*/
        width:100%;
        box-shadow:0px 0px 0px 0px rgba(249, 248, 248, 0.1);
        border-color: #7a93a7;
    }
        .multiselect-container > li > a:hover {
            background-color: #2f8ee0;
            color: white;
            overflow:visible;
            display:block;
        }
        .multiselect-container > li > a > label {
            margin: 0;
height: 100%;
cursor: pointer;
font-weight: 400;
padding: 1px 15px 1px 15px;
        }
    .checkbox {
        width:100%;      
    }
    
    .input-group {
        width:auto;   
        display:none;
    }
    .multiselect-search {
        font-size:12px;
    }
      .dropdown-menu > li > a {
        color:black;
        font-size:12px
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#LoggedInUserType').val(sessionStorage.getItem("UserType"));
        if ($('#LoggedInUserType').val() == "ECI Client User") {
            $('#roleid').prop('disabled', 'disabled');
        }

        $('.date-picker').datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });

        expirydisplay();
        $('#savecontact').on('click', function (e) {
            $.ajax({
                type: 'POST',
                traditional: true,
                url: '@Url.Action("checkmailid", "SuperAdmin")',
                data: { Email: $('#email').val() },
                async: true,
                success: function (data) {
                    console.log(data);
                    if (data == 0) {
                        expiry();
                    }
                    else {
                        alert("Email-Id Already Exist");
                    }


                }
             });
        });
        $('#updatecontact').on('click', function (e) {
            expiry();
           
        });
        function expiry() {
            var rolevalue = $("#roleid").val();
            if (rolevalue != "3" ) {
                $("#ExpiryDate").val('');
                $('#frnAddContact').submit();
            }
            else {
                if ($("#ExpiryDate").val() != "" ) {
                    $('#frnAddContact').submit();
                }
                else {
                    alert("Information  Required");
                    return false;
                }
            }
        }
        //  Open Modal - ADD
        $('#btnback').on('click', function (e) {
            e.preventDefault();

            //location.reload(); location.href = "@Url.Action("SAECIUser", "SuperAdmin")";
            LoadNewScreen("@Url.Action("SAECIUser", "SuperAdmin")");
            //AddModal();
            //ddlcompany();
        });

    });

</script>
<script>$('#date').datepicker({ dateFormat: 'dd-mm-yy' }).val();</script>
<script type="text/javascript">
    $(function () {
        $('.multiselect-ui').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            numberDisplayed: 1,
            buttonClass: 'btn btn-default btn-block',
            enableCaseInsensitiveFiltering: true,
            allSelectedText: 'All Selected',
            filterPlaceholder: 'Type or select below',

        });
        $('#createdby').val(sessionStorage.getItem("UserNum"));
    });
    function expirydisplay() {
        // alert('jesus');
        var rolevalue = $("#roleid").val();
        if (rolevalue != "3") {
            $("#ExpiryDate").css("display", "none");
            $("#ExpiryDateLabel").css("display", "none");
        }
        else {
            $("#ExpiryDate").css("display", "block");
            $("#ExpiryDateLabel").css("display", "block");
        }
    }

</script>

@using (Html.BeginForm("Contacts", "SuperAdmin", FormMethod.Post, new { id = "frnAddContact" }))
{
    @Html.HiddenFor(x => x.id)
    @Html.HiddenFor(x => x.createdby)
    @Html.HiddenFor(x => x.LoggedInUserType)
    @Html.HiddenFor(x => x.FromScreen)
    @*<input type="hidden" id="createdby" value="" />*@

    <div class="row">
        <div class="col-12">
            <div class="card m-b-20">
                <div class="card-body">

                    @if (Model.id == null)
                    {
                        <h4 class="mt-0 header-title">
                            Add User
                        </h4>
                    }
                    else
                    {
                        <h4 class="mt-0 header-title">
                            Edit User
                        </h4>
                    }
                    <p class="text-muted m-b-30 font-14">Please update required information to add new contact.</p>

                    <div class="form-group row">
                        <label for="FirstName-input" class="col-sm-2 col-form-label">First Name <sup class="danger">*</sup></label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.firstname, new { @class = "form-control" })
                            @Html.ValidationMessage("firstname", new { @class = "alert-danger" })
                        </div>
                        <label for="MiddleName-input" class="col-sm-2 col-form-label">Middle Name</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Middle_Name, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="LastName-input" class="col-sm-2 col-form-label">Last Name  <sup class="danger">*</sup></label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.lastname, new { @class = "form-control" })
                            @Html.ValidationMessage("lastname", new { @class = "alert-danger" })
                        </div>
                        <label for="CompanyName-input" class="col-sm-2 col-form-label">Company Name <sup class="danger">*</sup></label>
                        <div class="col-sm-4">
                            @Html.DropDownList("companyid", Model.CompanyList, "Select Company", new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.companyid,
                                 "", new {@class = "alert-danger"})
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Title-input" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Tittle, new { @class = "form-control" })
                        </div>
                        <label for="Division-input" class="col-sm-2 col-form-label">Division</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Division, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Birthdate-input" class="col-sm-2 col-form-label">Birthdate</label>
                        <div class="col-sm-4">
                            <input class="date-picker form-control" type="text" id="Brithday" placeholder="dd/mm/yyyy" name="Brithday" value="@Model.Brithday">
                        </div>
                        <label for="Role-input" class="col-sm-2 col-form-label">Role <sup class="danger">*</sup></label>
                        <div class="col-sm-4">
                            <select class="form-control" name="roleid" id="roleid" onchange="expirydisplay();">
                                <option>Select</option>
                                @if (Model.roleid == 2)
                                {
                                    <option value="2" selected="selected">ECI User</option>
                                }
                                else
                                {
                                    <option value="2"> ECI User </option>
                                }
                                @if (Model.roleid == 4)
                                {
                                    <option value="4" selected="selected">Super User</option>
                                }
                                else
                                {
                                    <option value="4"> Super User </option>
                                }
                               @* @if (Model.roleid == 1)
                                {
                                    <option value="1" selected="selected">iBridge User</option>
                                }
                                else
                                {
                                    <option value="1"> iBridge User </option>
                                }*@
                                @if (Model.roleid == 3)
                                {
                                    <option value="3" selected="selected">ECI Client User</option>
                                }
                                else
                                {
                                    <option value="3"> ECI Client User</option>
                                }

                                @* <option value="2010" selected="@(selectedOption == 2010 ? "selected" : "")">2010</option>*@

                                @*  <option value="1" selected="@(Model.roleid != 1 ? "selected" : "")">iBridge Admin</option>
                                    <option value="3" selected="@(Model.roleid != 3 ? "selected" : "")">User</option>*@
                            </select>
                            @Html.ValidationMessageFor(model => model.roleid,
     "", new {@class = "alert-danger"})

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email-input" class="col-sm-2 col-form-label">E-mail <sup class="danger">*</sup></label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.email, new { @class = "form-control" })
                            @Html.ValidationMessage("email", new { @class = "alert-danger" })
                        </div>
                        <label for="ContactOwner-input" class="col-sm-2 col-form-label">Contact Owner</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Contact_Owner, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Mobile-input" class="col-sm-2 col-form-label">Mobile</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control" })
                        </div>
                        <label for="Telephone-input" class="col-sm-2 col-form-label">Telephone</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Telephone, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="MailingStreet-input" class="col-sm-2 col-form-label">Mailing Street</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Mailing_Street, new { @class = "form-control" })
                        </div>
                        <label for="MailingCity-input" class="col-sm-2 col-form-label">Mailing City</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Mailing_City, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="MailingState-input" class="col-sm-2 col-form-label">Mailing State</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Mailing_State, new { @class = "form-control" })
                        </div>
                        <label for="MailingPostalCode-input" class="col-sm-2 col-form-label">Mailing Postal Code</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Mailing_Postal_Code, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="MailingCountry-input" class="col-sm-2 col-form-label">Mailing Country</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Mailing_Country, new { @class = "form-control" })
                        </div>
                        <label for="example-url-input" class="col-sm-2 col-form-label">Website</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Website, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="CompanyName-input" class="col-sm-2 col-form-label">Allocate Primary Dataset <sup class="danger">*</sup></label>
                        <div class="deepa col-sm-4">
                            @*  @Html.DropDownList("SubmittedMovies", new MultiSelectList(Model.CompanyList,"Id", "Name",Model.DefaultMovies.Select(m => m.Id)),
                                new {
                                   multiple = "multiple",
                                   @class="multiselect"
                                }) *@
                            @Html.DropDownList("PrimaryID",new MultiSelectList(Model.CompanyList ,"Value", "Text",Model.primeid.Select(m => m.ToString())),new {
                       multiple = "multiple",
                       @class="multiselect-ui ",
                       @style="width: 400px;"
                    })

                            @Html.ValidationMessageFor(model => model.PrimaryID,
                                 "", new {@class = "alert-danger"})
                        </div>

                        <label for="example-url-input" id="ExpiryDateLabel" class="col-sm-2 col-form-label">Expiry Date <sup class="danger">*</sup></label>
                        <div class="col-sm-4">
                            <input class="date-picker form-control" type="text" id="ExpiryDate" name="ExpiryDate" placeholder="dd/mm/yyyy" value="@Model.ExpiryDate">
                            @Html.ValidationMessageFor(model => model.ExpiryDate,
     "", new {@class = "alert-danger"})
                        </div>
                    </div>
                    <div class="form-group row">


                        <label for="CompanyName-input" class="col-sm-2 col-form-label">Allocate Comparision Dataset <sup class="danger">*</sup></label>
                        <div class="deepa col-md-4">
                            @*  @Html.DropDownList("SubmittedMovies", new MultiSelectList(Model.CompanyList,"Id", "Name",Model.DefaultMovies.Select(m => m.Id)),
                                new {
                                   multiple = "multiple",
                                   @class="multiselect"
                                }) *@
                            @Html.DropDownList("ComparisionID", new MultiSelectList(Model.CompanyList,"Value", "Text",Model.compid.Select(m => m.ToString())),new {
                       multiple = "multiple",
                       @class="multiselect-ui",
                       @placeholder="Choose..."

                    })

                            @Html.ValidationMessageFor(model => model.ComparisionID,
                                 "", new {@class = "alert-danger"})
                        </div>
                        <label for="example-url-input" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-4">
                            <textarea type="Text" class="form-control" id="Description" name="Description">@Model.Description</textarea>
                        </div>

                    </div>
                      
                    <div class="form-group m-b-0">
                        <div>
                            @*<button type="button" class="btn btn-primary waves-effect waves-light" onclick="save()">
                                    Save
                                </button>*@
                            @if (Model.id == null)
                            {
                                <input type="button" class="btn btn-primary" value="Save" id="savecontact" />
                            }
                            else
                            {
                                <input type="button" class="btn btn-primary" value="Update" id="updatecontact" />
                            }
                            <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                Reset
                            </button>
                            <button type="button" class="btn btn-primary waves-effect m-l-5" id="btnback">
                                Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="../blue/bootstrap-multiselect.js" type="text/javascript"></script>
<script type="text/javascript">
    function save() {
        alert("You could not save data... waiting for role assignment..")
        return false;
    }
</script>
