﻿@using ECIModel
@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}


<link href="../blue/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<script src="../dist/js/adminlte.min.js"></script>
<script src="../blue/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!--CK Editor-->
<script src="../ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#createdby').val(sessionStorage.getItem("UserNum"));

        $('#uploadfile').on('click', function (e) {

            if ($("#file").val() != "" ) {
                $('#frmDataUpload').submit();
            }
            else {
                alert("File Required");
                return false;
            }
        });
    });
        </script>
<input type="hidden" name="createdby" id="createdby" value="" />
<div class="row" style="text-align:center">
        <div class="col-md-12" >
            
            <div class="card m-b-20" >
                <div class="card-body " >
                  
                    <div class="col-md-6" style="display:inline-block">
                     @*// @Html.TextBoxFor(x => x.Mailing_Street, new { @class = "form-control" })*@
                    @using (Html.BeginForm("DataUpload", "SuperAdmin", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmDataUpload" }))
{  
      
    <div>  
        @Html.TextBox("file", "", new { type = "file", @class = "form-control" })<br />  
   
        <input type="button" id="uploadfile" value="Upload" class="btn btn-primary" />  
   
        @ViewBag.Message  
   
    </div>  
      
      
}  
             </div>   </div>
            </div>
        </div> <!-- end col -->
    </div>
     




<!--Chart JS-->
<script src="../blue/assets/plugins/chart.js/chart.min.js"></script>



<!-- AdminLTE App -->
<script src="../dist/js/adminlte.min.js"></script>

<script src="../blue/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!-- Download PDF -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
     <!-- jQuery  -->
   
