﻿@model List<ECIModel.UserRefModel>

    @{
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }

    <style>
        .multiselect-selected-text {
            font-size: 14px;
        }

        h6 {
            font-size: 14px;
        }

        .dashboard-leftbar {
            width: 300px;
            float: left;
            background-color: #ffffff;
            padding: 5px;
            border-radius: 5px;
        }

        .dashboard-rightbar {
            margin-left: 30px;
        }

        .mdinfo .btn-group {
            width: 100%;
        }

        /*.col-md-12 {
            padding-right: 0px;
        }*/

        .btn {
            text-align: left;
        }

        .glyphicon {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .mdinfo .dropdown-toggle::after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 180px;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
        }
    </style>

    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="../blue/assets/js/popper.min.js"></script>

    <!-- Theme style -->
    <link rel="stylesheet" href="../dist/css/AdminLTE.min.css">

    @*<script src="../blue/jscolor.js"></script>*@

    <link href="../blue/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="../blue/assets/images/favicon.ico">

    <!-- Plugins css -->
    <link href="../blue/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="../blue/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="../blue/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="../blue/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <script src="../blue/assets/js/bootstrap.min.js"></script>
    <link href="../blue/assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />



    <!-- App css -->


    <link href="../blue/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/css/style.css" rel="stylesheet" type="text/css" />

    <input type="hidden" id="input_hidden_user" value="@ViewBag.UserNum" />

    <input type="hidden" id="input_hidden_field" value="" />

    <input type="hidden" id="input_hidden_field_overall" value="" />
    
 

    <div class="row" style="padding-top:-20px;padding-bottom:-2px">
        <div class="col-12">
            <div class="card m-b-20">
                <div class="card-body">                  

                    <div id="ddlfilter2" class="row"></div>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
<div class="row" style="padding-top:0px;padding-bottom:-2px">
        
            <div class="col-3">
            <div class="card m-b-20">
                <div class="card-body">                  

                  <div class="row">
                
                    <div class="col-lg-3 text-center">
                        <img src="../blue/assets/images/ecilogo.png" height="50" alt="logo">
                </div>
                    

               

            </div>
                </div>
                </div>
                </div>
              <div class="col-9">
            <div class="card m-b-20">
                <div class="card-body">                  

                 
                
                    
                    <div class="col-lg-9 text-center">
                        <h3 id="reportnamehead">ReportName</h3>
                </div>

               

           
                </div>
            </div>
                  </div>
         <!-- end col -->
    </div>

    <!-- End Navigation Bar-->



    
            
               
                                    <div class="row">
                                        <div class="col-md-12">
                                            @*<div class="row" >*@
                                            <div class="box box-solid box-primary" id="divoverall1" >
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">Over All</h3>
                                                    <div class="box-tools pull-right">
                                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                                                <i class="fa fa-wrench"></i>
                                                            </button>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li>
                                                                    <a class="mdi mdi-export" href="#" onclick="downloadCanvas(this,'Overall','overall.jpg')"></a>
                                                                </li>
                                                                <li>
                                                                    @*<button class="jscolor {valueElement:'chosen-value', onFineChange:'setTextColor(this)'} mdi mdi-blur-linear">
                                                            <span class=""></span>
                                                        </button>*@
                                                                    <button id="colorpicker-color-pattern" class="btn btn-white colorpicker-component" type="button">
                                                                        <i class="mdi mdi-blur-linear"></i>
                                                                    </button>
                                                                </li>
                                                                <li>

                                                                    <a class="mdi mdi-export" href="#" onclick="ChangeReport('Single')">Single Graph</a>
                                                                </li>
                                                                <li>
                                                                    <a class="mdi mdi-export" href="#" onclick="ChangeReport('Multi')"> Multi Graph</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                                    </div>
                                                </div>
                                                <!-- /.box-header -->
                                                <div class="box-body">
                                                    <div id="divoverall">
                                                        <p id="colorpickerHolder">
                                                        </p>
                                                        <canvas id="Overall" height="420" width="841" style="width: 561px; height: 280px;"></canvas>

                                                    </div>

                                                </div>
                                            </div>
                                              @*  </div>*@
                                            <div class="dynamicbinding row" id="multigraph"></div>
                                            @*</div>
                                </div>*@
                                        </div>
                                    </div>

                                

           

            <!-- end Col-9 -->
<!-- End row -->
    <!-- /.modal -->
    <!-- /.modal -->
    <!-- end container -->
    <!-- end wrapper -->
    <!-- Chart JS -->
    <script src="../blue/assets/plugins/chart.js/chart.min.js"></script>
    <script type="text/javascript">

        var ddlindustry_val;
        var ddlcmpysize_val;
        var ddlrevenue_val;
        var ddlagebrands_val;
        var ddlgender_val;
        var ddlrace_val;
        var ddlgeoregion_val;
        var ddlsupplier_val;
        var ddlsupervisor_val;
        var ddlunion_val;
        var ddlpublicprivate_val;
        var ddltenure_val;
        var ddlsalaried_val;
        var ddlmanageval_val;
        var ddlmarketval_val;
        var accountid;
        var compareaccountid;
        var catname;
        var datalabel;
        var year;
        

        function popchartnew(ctype, divcnt, canvasid) {
            console.log(canvasid);
            var obj = $('#input_hidden_field').val(); //retrieve array
            obj = JSON.parse(obj);
            var substval = divcnt.substring(6, divcnt.length);
           // console.log(substval);
            var companyname = []; //orginal - datalabel of table
            var companyresponse = [];
            var datalabel = []; //orginal - company of the table

            for (i = 0; i < Object.keys(obj).length; i++) {
                companyname.push(obj[i].companyname);
                companyresponse.push(obj[i].responseid);
                datalabel.push(obj[i].datalabel);
            }

            //console.log(companyname);

            var companyunique = [];

            companyunique.push(substval);

            //var companyunique = companyname.filter(function (item, index, companyname) {
            //    //////console.log(item);
            //    return index == companyname.indexOf(item);
            //});

            var companyresponseunique = companyresponse.filter(function (item, index, companyresponse) {
                return index == companyresponse.indexOf(item);
            });

            var datalabelunique = datalabel.filter(function (item, index, datalabel) {
                return index == datalabel.indexOf(item);
            });

            var companydetails = [];

            var display = "";
            var colorcode = ["#ff4081",
                "#43a047",
                "#f57c00",
                "#4BC0C0",
                "#565656",
                "#7CB342",
                "#9CCC65",
                "#E7E9ED",
                "#FF6384",
                "#FFCE56"];
            companyunique.forEach(function (item, index, companyname) { //Data Label unique load
                //Panel creation
                //Company Retrive
                //DataResponse Retrive
                companydetails = [];
                var uniquecompany = [];
                var uniqueresponse = [];

                for (i = 0; i < Object.keys(obj).length; i++) {

                    if (obj[i].companyname == item) {

                        uniqueresponse.push(obj[i].responseid);

                        dataset = {
                            companyname: obj[i].datalabel,
                            responseid: obj[i].responseid,
                            reportdata: obj[i].reportdata
                        };

                        companydetails.push(dataset);

                    }

                }

                var responseunique = uniqueresponse.filter(function (item, index, uniqueresponse) {
                    return index == uniqueresponse.indexOf(item);
                });

                // console.log(responseunique)

                var datasets = [];

                var reportvals = [];
                var legendvals = [];
                responseunique.forEach(function (item, index, responseunique) {
                    companydetails.forEach(function (itm, indx, companydetails) {
                        var val = itm;
                        //console.log(val);
                        //console.log(val.responseid);

                        if (val.responseid == item) {
                            reportvals.push(val.reportdata);
                            legendvals.push(val.companyname);
                        }
                        //console.log(legendvals);

                    });
                    var dataset = [];
                    if (ctype == 'bar') {
                        dataset = {
                            label: item,
                            data: reportvals,
                            //bar /radar
                            backgroundColor: colorcode[index],


                        };
                    }
                    else {
                        dataset = {
                            label: item,
                            data: reportvals,
                            //line
                            fill: false,
                            lineWidth:1,
                            borderColor: colorcode[index]
                        };

                    }

                    datasets.push(dataset);
                });

                var legendvalsunique = legendvals.filter(function (item, index, legendvals) {
                    return index == legendvals.indexOf(item);
                });
                //console.log(item);
                //console.log(uniquecompany);
                //console.log(uniqueresponse);
                //console.log(responseunique);

                //console.log(companydetails);

                $('#divcnt' + canvasid).html('');

                display = "<canvas id='" + canvasid + "' height='100'></canvas>";

                $('#divcnt' + canvasid).html(display);


                var ctx = document.getElementById(canvasid).getContext('2d');
                var myChart = new Chart(ctx, {
                    type: ctype,//'pie'
                    data: {
                        labels: legendvalsunique,
                        datasets: datasets
                    },
                    options: {
                        legend: {
                            display: true
                        }
                    }
                });
            });
        }


        function OverallPopulate(ctype) {         
          
            if (ctype == undefined) {
                ctype = 'pie';
            }
          

          //  alert(datalabel);
            var obj = [];

           
                $.ajax({
                    type: 'POST',
                    traditional: true,
                    url: '@Url.Action("GetNewDashboardOverallByFilter", "SuperAdmin")',
                    data: { catname: catname, datalabel: datalabel, accountid: accountid, yearid: year, ddlindustry_arry: ddlindustry_val, ddlcmpysize_arry: ddlcmpysize_val, ddlrevenue_arry: ddlrevenue_val, ddlagebrands_arry: ddlagebrands_val, ddlgender_arry: ddlgender_val, ddlrace_arry: ddlrace_val, ddlgeoregion_arry: ddlgeoregion_val, ddlsupplier_arry: ddlsupplier_val, ddlsupervisor_arry: ddlsupervisor_val, ddlunion_arry: ddlunion_val, ddlpublicprivate_arry: ddlpublicprivate_val, ddltenure_arry: ddltenure_val, ddlsalaried_arry: ddlsalaried_val, ddlmanageval_arry: ddlmanageval_val, ddlmarketval_arry: ddlmarketval_val, accountyear: compareaccountid },
                    async: false,
                    success: function (data) {
                        obj = data;
                        //console.log(obj);
                        $('#input_hidden_field_overall').val(JSON.stringify(obj));
                    }
                });
            



            var companyname = [];
            var companyresponse = [];
            var companyresponsedata = [];

            for (i = 0; i < Object.keys(obj).length; i++) {
                companyname.push(obj[i].companyname);
                companyresponse.push(obj[i].responseid);
                companyresponsedata.push(obj[i].reportdata);
            }

            var companyunique = companyname.filter(function (item, index, companyname) {
                
                return index == companyname.indexOf(item);
            });

            var companyresponseunique = companyresponse.filter(function (item, index, companyresponse) {
                return index == companyresponse.indexOf(item);
            });

            var datasets = [];
            var cntd = 0;
            var lblname = "";
            var colorcode = ["#ff4081",
                "#43a047",
                "#f57c00",
                "#4BC0C0",
                "#565656",
                "#7CB342",
                "#9CCC65",
                "#E7E9ED",
                "#FF6384",
                "#FFCE56"];
            companyresponseunique.forEach(function (item, index, companyresponseunique) {

                var companydata = [];

                companyunique.forEach(function (itm, ind, companyunique) {



                    for (i = 0; i < Object.keys(obj).length; i++) {

                        if (obj[i].responseid == item) {

                            if (obj[i].companyname == itm) {

                                companydata.push(obj[i].reportdata);

                                lblname = obj[i].responseid;

                            }

                        }

                    }

                });

                dataset = {
                    label: item,
                    data: companydata,
                    backgroundColor: colorcode[index]
                };

                datasets.push(dataset);


            });

            $('#divoverall').html('');
            $('#divoverall').html("<canvas id='Overall' height='420' width='841' style='width: 561px; height: 280px;'></canvas>");

            var ctx = document.getElementById("Overall").getContext('2d');

            var myChartOverall = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: companyunique,
                    datasets: datasets
                }
            });


        }
        
        function Datapopulate(ctype) {
            //debugger;
       
            if (ctype == undefined) {
                ctype = 'pie';
            }
           
            var obj = [];
            if (datalabel == undefined) {
                datalabel = 0;
            }
            if (catname == undefined) {
                catname = 0;
            }
            if (accountid == undefined) {
                accountid = 0;
            } 
            //if (yearid == undefined) {
            //    yearid = 0;
            //}
           // alert(datalabel);
           // console.log( catname, datalabel,  accountid, yearid: year, ddlindustry_arry: ddlindustry_val, ddlcmpysize_arry: ddlcmpysize_val, ddlrevenue_arry: ddlrevenue_val, ddlagebrands_arry: ddlagebrands_val, ddlgender_arry: ddlgender_val, ddlrace_arry: ddlrace_val, ddlgeoregion_arry: ddlgeoregion_val, ddlsupplier_arry: ddlsupplier_val, ddlsupervisor_arry: ddlsupervisor_val, ddlunion_arry: ddlunion_val, ddlpublicprivate_arry: ddlpublicprivate_val, ddltenure_arry: ddltenure_val, ddlsalaried_arry: ddlsalaried_val, ddlmanageval_arry: ddlmanageval_val, ddlmarketval_arry: ddlmarketval_val, accountyear: compareaccountid );

                $.ajax({
                    type: 'POST',
                    traditional: true,
            url: '@Url.Action("GetNewDashboardReportByFilters", "SuperAdmin")',
                    data: { catname: catname, datalabel: datalabel, accountid: accountid, yearid: year, ddlindustry_arry: ddlindustry_val, ddlcmpysize_arry: ddlcmpysize_val, ddlrevenue_arry: ddlrevenue_val, ddlagebrands_arry: ddlagebrands_val, ddlgender_arry: ddlgender_val, ddlrace_arry: ddlrace_val, ddlgeoregion_arry: ddlgeoregion_val, ddlsupplier_arry: ddlsupplier_val, ddlsupervisor_arry: ddlsupervisor_val, ddlunion_arry: ddlunion_val, ddlpublicprivate_arry: ddlpublicprivate_val, ddltenure_arry: ddltenure_val, ddlsalaried_arry: ddlsalaried_val, ddlmanageval_arry: ddlmanageval_val, ddlmarketval_arry: ddlmarketval_val, accountyear: compareaccountid },
            async: false,
            success: function (data) {
                obj = data;
                //console.log(obj);
                $('#input_hidden_field').val(JSON.stringify(obj));
            }
        });
            


                ////console.log(obj);

                var companyname = []; //orginal - datalabel of table
                var companyresponse = [];
                var datalabel = []; //orginal - company of the table

                for(i=0;i<Object.keys(obj).length;i++){
                    companyname.push(obj[i].companyname);
                    companyresponse.push(obj[i].responseid);
                    datalabel.push(obj[i].datalabel);
                }

                //console.log(companyname);

                var companyunique = companyname.filter(function(item, index, companyname){
                    //////console.log(item);
                    return index == companyname.indexOf(item);
                });

                var companyresponseunique = companyresponse.filter(function(item, index, companyresponse){
                    return index == companyresponse.indexOf(item);
                });

                var datalabelunique = datalabel.filter(function (item, index, datalabel) {
                    return index == datalabel.indexOf(item);
                });

                var companydetails = [];
                $(".dynamicbinding").html('');
                var display = "";
                var colorcode = ["#ff4081",
                        "#43a047",
                        "#f57c00",
                        "#4BC0C0",
                        "#565656",
                        "#7CB342",
                        "#9CCC65",
                        "#E7E9ED",
                        "#FF6384",
                        "#FFCE56"];
                companyunique.forEach(function (item, index, companyname) { //Data Label unique load
                    //Panel creation
                    //Company Retrive
                    //DataResponse Retrive
                    companydetails = [];
                    var uniquecompany = [];
                    var uniqueresponse = [];

                    for (i = 0; i < Object.keys(obj).length; i++) {

                        if (obj[i].companyname == item) {

                            uniqueresponse.push(obj[i].responseid);

                            dataset = {
                                companyname: obj[i].datalabel,
                                responseid: obj[i].responseid,
                                reportdata: obj[i].reportdata
                            };

                            companydetails.push(dataset);

                        }

                    }

                    var responseunique = uniqueresponse.filter(function (item, index, uniqueresponse) {
                        return index == uniqueresponse.indexOf(item);
                    });

                   // console.log(responseunique)

                    var datasets = [];
                    var reportvals = [];
                    var legendvals = [];
                    responseunique.forEach(function (item, index, responseunique) {
                        companydetails.forEach(function (itm, indx, companydetails) {
                            var val = itm;
                            //console.log(val);
                            //console.log(val.responseid);

                            if (val.responseid == item) {
                                reportvals.push(val.reportdata);
                                legendvals.push(val.companyname);
                            }
                            //console.log(legendvals);

                        });
                        var dataset = {
                            label: item,
                            data: reportvals,
                            backgroundColor: colorcode[index]
                        };

                        datasets.push(dataset);
                    });

                    var legendvalsunique = legendvals.filter(function (item, index, legendvals) {
                        return index == legendvals.indexOf(item);
                    });
                  

                    var canvasid = item + index;
                    var divnae = "divcnt" + item;
                    //display += '<div class="row">';
                    display = '';
                    display += "<div class='col-md-12'>";
                    display += "<div>";
                    display += "<div class='box box-solid box-primary'  name='div" + canvasid + "'>";
                    display += "<div class='box-header with-border'>";
                    display += "<h3 class='box-title'>" + item + "</h3>";
                    display += "<div class='box-tools pull-right'>";
                    display += "<button type='button' class='btn btn-box-tool' data-widget='collapse'>";
                    display += "<i class='fa fa-minus'></i>";
                    display += "</button>";
                    display += "<div class='btn-group'>";
                    display += "<button type='button' class='btn btn-box-tool dropdown-toggle' data-toggle='dropdown'>";
                    display += "<i class='fa fa-wrench'></i>";
                    display += "</button>"
                    display += "<ul class='dropdown-menu' role='menu'>"
                    display += "<li>"
                    display += "<a class='mdi mdi-export' href='#' onclick='downloadCanvas(this,\"" + canvasid + "\",\"" + item + ".jpg\")')></a>";
                    display += "</li>";
                    //display += "<li>"
                    //display += "<a class='mdi mdi-chart-pie' href='#' onclick='popchart2(\"pie\",\"" + divnae + "\",\"" + canvasid + "\")'></a>";
                    //display += "</li>";
                    display += "<li>";
                    display += "<a class='mdi mdi-chart-bar' href='#' onclick='popchartnew(\"bar\",\"" + divnae + "\",\"" + canvasid + "\")'></a>";
                    display += "</li>";
                    display += "<li>  <a class='mdi mdi-chart-line' href='#' onclick='popchartnew(\"line\",\"" + divnae + "\",\"" + canvasid + "\")'></a></li>";
                    display += "<li>";
                    display += "<a class='mdi mdi -export ' href='#' onclick='ChangeReport(\"Single\");'>Single Graph</a>";
                    display += "</li>";
                    display += " <li>";
                    display += " <a class='mdi mdi -export ' href='#' onclick='ChangeReport(\"Multi\");'> Multi Graph</a>";
                    display += " </li>";
                    display += "</ul>";
                    display += "</div>";
                    display += "<button type='button' class='btn btn-box-tool' data-widget='remove'><i class='fa fa-times'></i></button>";
                    display += "</div>";
                    display += "</div>";
                    // display += "<div class='panel panel-default'>";
                    // display += "<div class='panel-header'>";
                    // display += item;
                    // display += "</div>";
                    // display += "<div class='panel-body'>";
                    //display += "<h4 class='mt-0 header-title' style='background-color:#3c8dbc; color:white'><span style='margin-left:30px'>"+item+"</span></h4>";
                    /*display += "<ul class='list-inline widget-chart m-t-20 m-b-15 text-center'><li class='list-inline-item'><h5 class='mb-0'>694</h5><p class='text-muted font-14'>Activated</p></li><li class='list-inline-item'><h5 class='mb-0'>55210</h5><p class='text-muted font-14'>Pending</p></li><li class='list-inline-item'><h5 class='mb-0'>489498</h5><p class='text-muted font-14'>Deactivated</p></li></ul>";*/
                    //display += dispspan;
                    display += "<div class='box-body' id='divcnt" + canvasid + "'>";

                    display += "<canvas id='" + canvasid + "' height='100' ></canvas>";
                    display += "</div>";
                    display += "</div>";
                    display += "</div>";
                    display += "</div>";

                    $(".dynamicbinding").append(display);

                    var ctx = document.getElementById(canvasid).getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',//'pie'
                        data: {
                            labels: legendvalsunique,
                            datasets: datasets
                        },
                        options: {
                            legend: {
                                display: true
                            }
                        }
                    });
                });

      
            }
    </script>

    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.min.js"></script>

    <script src="../blue/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>

    <!-- Download PDF -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>


    <script type="text/javascript">
        function ChangeReport(RType) {
            //alert(RType);
            if (RType == 'Single') {
                $('#multigraph').hide();
                $('#divoverall1').show();
            }
            else {
                $('#multigraph').show();
                $('#divoverall1').hide();
            }
        }
        
        $(function () {           
           

            $('#colorpicker-color-pattern').colorpicker({
                colorSelectors: {
                    'black': '#000000',
                    'white': '#ffffff',
                    'red': '#FF0000',
                    'default': '#777777',
                    'primary': '#337ab7',
                    'success': '#5cb85c',
                    'info': '#5bc0de',
                    'warning': '#f0ad4e',
                    'danger': '#d9534f',
                    '#900C3F': '#900C3F',
                    '#7f1195': '#7f1195'
                }
            });

            $('#colorpicker-color-pattern').colorpicker().on('changeColor',
                function (event) {
                    //alert(event.color.toHex());
                    $('#divoverall').css("background-color", event.color.toHex());
                });
            $("input[name^='colorpicker-color-pattern']").colorpicker().on('changeColor',
                function (event) {
                    alert(event.color.toHex());
                    $('#divoverall').css("background-color", event.color.toHex());
                });
            Datapopulate('bar');
            OverallPopulate('bar');
            ChangeReport('Single');

        });
        $(document).ready(function () {
            ddlFilterSettings();           
        });
        function ddlFilterSettings() {

            var usernum = $('#input_hidden_user').val();


            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetFilterSettingsByUserNum", "SuperAdmin")',
            data: { usernum: usernum },
            async: false,
            success: function (data) {
                $("#ddlfilter2").html('');
                var display = "";

                display += "<div class='col-md-5'>";
                display += "<label> Select Analysis/Report </label> </br>";
                display += "<div id='SaveFilt_div'>";
                display += "<select id='SaveFilt_id' class='form-control'>";
                display += "<option value='0'>Select</option>"
                for (i = 0; i < Object.keys(data).length; i++) {
                    display += "<option value='" + data[i].FiltReportid + "'>" + data[i].FiltReportName + "</option>"
                }
                display += "</select>";
                display += "</div>";
                display += "</div>";
                display += "<div class='col-md-1'>";
                display += "<label>  </label> </br>";
                display += "<div id='button_div'>";
                display += "<p onclick='GetSaveFilter();' id='GetSaveFilterbtn' class='btn btn-success' style='margin-top: 7px;'>Get</p>"
                display += "</div>";
                display += "</div>";
                //display += "<div class='col-md-1'>";
                //display += "<label>  </label> </br>";
                //display += "<div id='button_div'>";
                //display += "<p onclick='SaveFiltersSettings(2);' id='FilterUpdate' class='btn btn-success' style='margin-top: 7px;display:none'>Update</p>"
                //display += "</div>";
                //display += "</div>";
                //display += "<div class='col-md-1'>";
                //display += "<label>  </label> </br>";
                //display += "<div id='button_div'>";
                //display += "<p onclick='SaveFiltersSettings(3);' id='FilterDelete' class='btn btn-success' style='margin-top: 7px;display:none'>Delete</p>"
                //display += "</div>";
                //display += "</div>";
                $("#ddlfilter2").append(display);
                $("#ddlfilter2").html(display);
            }
        });

    }
    
        function GetSaveFilter() {
           // alert($('#SaveFilt_id').find('option:selected').attr("name"));
            $('#reportnamehead').html($('#SaveFilt_id').find('option:selected').text());
           
            var FiltReportId = $('#SaveFilt_id').val();
            if (FiltReportId != '0') {
                //alert(FiltReportId);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetFilterSettingsByFiltReportid", "SuperAdmin")',
                    data: { 'FiltReportid': FiltReportId},
                    async: false,
                    success: function (data) {
                        console.log(data);
                        $('.multiselect-ui').multiselect({
                            includeSelectAllOption: true,
                            enableFiltering: true,
                            numberDisplayed: 1,
                            buttonClass: 'btn btn-default btn-block',
                            enableCaseInsensitiveFiltering: true,
                            allSelectedText: 'All Selected'
                        });
                        for (i = 0; i < Object.keys(data).length; i++) {
                            ddlindustry_val = data[i].Industry;
                            ddlcmpysize_val = data[i].Company_Size;
                            ddlrevenue_val = data[i].Revenue;
                            ddlagebrands_val = data[i].Age_Bands;
                            ddlgender_val = data[i].Gender;
                            ddlrace_val = data[i].Race;
                            ddlgeoregion_val = data[i].Geography_Region;
                            ddlsupplier_val = data[i].Supplier;
                            ddlsupervisor_val = data[i].Supervisor;
                            ddlunion_val = data[i].Union_1;
                            ddlpublicprivate_val = data[i].Public_Private;
                            ddltenure_val = data[i].Tenure;
                            ddlsalaried_val = data[i].Salaried;
                            ddlmanageval_val = data[i].Management_Level;
                            ddlmarketval_val = data[i].Market_value;
                             accountid = data[i].accountid;
                             compareaccountid = data[i].Comparativecompanyname
                             catname = data[i].catid;
                             datalabel = data[i].labelid;
                             year = data[i].yearid;                           
                        }
                        Datapopulate('bar'); OverallPopulate('bar');
                        $('#FilterUpdate').show();
                        $('#FilterDelete').show();

                    }
                });
            }
            else {
                alert('Choose SavedFilter!');
            }
        }

       
    </script>

    <script>
        function downloadCanvas(link, cntrl, filename) {
            link.href = document.getElementById(cntrl).toDataURL();
            link.download = filename;
        }
    </script>
    <!-- Chart JS -->
    <script src="../blue/assets/plugins/chart.js/chart.min.js"></script>
    <script src="../blue/assets/pages/chartjs.init.js"></script>

    <!-- Plugins js -->
    <script src="../blue/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="../blue/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="../blue/assets/plugins/select2/js/select2.min.js" type="text/javascript"></script>
    <script src="../blue/assets/js/bootstrap.min.js"></script>
    <script src="../blue/assets/js/popper.min.js"></script>
    <script src="../blue/bootstrap-multiselect.js" type="text/javascript"></script>
    <script src="../blue/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
    <script src="../blue/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
    <script src="../blue/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>

    <!-- Plugins Init js-->
    <script src="../blue/assets/pages/form-advanced.js"></script>
    <!-- App js -->
    <script src="../blue/assets/js/app.js"></script>



