﻿@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script src="../blue/assets/js/jspdf.min.js"></script>
<script src="../blue/assets/js/jszipLow.js"></script>
<style>
    .resolution {
        max-height: 575px;
        overflow:auto;
        height:400px
    }

</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.resolution').css({ "height": ($(window).height() - 260).toString() + "px" });
        
        //var path = $('#jstree').jstree().get_path($('#jstree').jstree("get_selected", true)[0], '/');
        //alert(path);
        $('#event_result').html('Selected: ' + sessionStorage.getItem("FName"));
        GetJsTreeVal(sessionStorage.getItem("FName"));
    });
    
    $(function () {
       
        $.ajax({
                    type: 'POST',
                    url: '@Url.Action("PopulateSavedFolders", "SuperAdmin")',
            data: { usernum: sessionStorage.getItem("UserNum")},
                    async: true,
            success: function (data) {
             //   alert(data.Message);
                          // html demo
            $('#jstree').jstree({
                'plugins': ["state"],
                'core': {
                    'data': JSON.parse(data.Message),
                    'check_callback': true
                }
            }).on('changed.jstree', function (e, data) {
                //var i, j, r = [];
                //for (i = 0, j = data.selected.length; i < j; i++) {
                //    r.push(data.instance.get_node(data.selected[i]).text);
                //}
                //$('#event_result').html('Selected: ' + r.join(', '));

                var path = $('#jstree').jstree().get_path($('#jstree').jstree("get_selected", true)[0], '/');
               // alert(path);
                $('#event_result').html('Selected: ' + path);

                
                GetJsTreeVal(path);


            });

                    }
        });



        //$('#jstree').jstree({
        //    'core': {
        //        'data': [
        //            { "id": "ajson1", "parent": "#", "text": "Simple root node" },
        //            { "id": "ajson2", "parent": "#", "text": "Root node 2" },
        //            { "id": "ajson3", "parent": "ajson2", "text": "Child 1" },
        //            { "id": "ajson4", "parent": "ajson2", "text": "Child 2" },
        //        ]
        //    }
        //});

    });
    function GetJsTreeVal(path) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetSavedcharts", "SuperAdmin")',
                    data: { usernum: sessionStorage.getItem("UserNum"), storedpath: path },
                    async: true,
                    success: function (data) {
                        var obj = JSON.parse(data.Message);
                        var display = "";
                        var display = "<table id='gridtab' class='table table-bordered'>";
                        display = display + "<thead>";
                        display = display + "                           <tr style='text-align:center'>";
                        display = display + "                               <th style='text-align:left'>My Reports</th>";
                        display = display + "            <th>Run</th>";
                        display = display + "           <th>Export</th>";
                        display = display + "       </tr>";
                        display = display + "   </thead>";
                        display = display + "   <tbody>";
                        for (i = 0; i < Object.keys(obj).length; i++) {

                            //alert();
                           // var chartname = obj[i].chartname.replace(/_([^_]*)$/, '-').split('-');
                            display = display + "     <tr style='text-align:center'>";
                            display = display + "           <td style='text-align:left'>" + obj[i].chartname + "</td>";
                            display = display + "           <td><a href='#' onclick='displaychart(\"" + obj[i].chartname + "\",\"" + obj[i].imgdata + "\")'><i class='mdi mdi-play' style='font-size:24px;'></i></a></td>";
                            display = display + "           <td>";
                            //display = display + "               <a download='" + obj[i].chartname +".png'"+" href='" + obj[i].imgdata + "'><i class='mdi mdi-export' style='font-size:24px;'></i></a>";
                            display = display + "               <a onclick=downloadzip('" + obj[i].chartname + "','" + obj[i].imgdata + "');><i class='mdi mdi-export' style='font-size:24px;'></i></a>";
                            display = display + "           </td>";
                            display = display + "       </tr>";
                        }
                        display = display + "   </tbody>";
                        display = display + "</table>";
                        $('#tablvalues').html('');
                        $('#tablvalues').html(display);
                    }
        });
    }

    function downloadURI(uri, name) {
        var link = document.createElement("a");

        link.download = name;
        link.href = uri;
        document.body.appendChild(link);
        link.click();
        //after creating link you should delete dynamic link
        //clearDynamicLink(link);
    }
    function displaychart(chartname, imgdataval) {
        $('#h5data').html('');
        $('#h5data').html(chartname);
        $('#divimgdisp').modal('show');
        $('#divimgdatadisp').html('');
        var imgarray = imgdataval.split("?;");
        console.log(imgarray);
        var display = "";
        for (i = 0; i < imgarray.length; i++)
        {
            display += "<img style='padding-top: 15px;' src='" + imgarray[i] + "' ></img>";
        }
        
       
        $('#divimgdatadisp').html(display);
    }
    function downloadzip(zipname,imgdata) {
        var imgarray = imgdata.split("?;");
        
        var zip = new JSZip();
        var ZipFiles = zip.folder(zipname);
        var pgno = 1;
        var pdf = new jsPDF('p', 'pt', [600, 600]);
        pdf.deletePage(1);
        
        
        // img.add("smile.gif", ImageData, { base64: true });
        for (i = 0; i < imgarray.length; i++) {
            var base64String = imgarray[i].replace("data:image/png;base64,", "");
            ZipFiles.add(zipname + "_Image" + i + ".png", base64String, { base64: true });
            pdf.addPage();
            pdf.setPage(i+1);
            pdf.addImage(imgarray[i], "jpeg", 0, 0);
        }
        
        //doc.save(zipname+'.pdf');
        content = zip.generate();
        location.href = "data:application/zip;base64," + content;
        pdf.save(zipname + '.pdf');
        
    }
</script>
<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 " style="margin-right: -20px;">
                <div class="card m-b-20">
                    <div class="card-body resolution">
                        <div id="event_result"></div>
                        <div id="jstree">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card m-b-20">
                    <div class="card-body resolution">
                        <div id="tablvalues">
                            @*<table id='gridtab' class='table table-bordered'>
                        <thead>
                                                  <tr style='text-align:center'>
                                                     <th style='text-align:left'>My Reports</th>
                                  <th>Run</th>
                                <th>Export</th>
                             </tr>
                          </thead>
                                </table>*@
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="divimgdisp">
    <div class="modal-dialog modal-lg" style="max-width: 1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="h5data">Saved Chart!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p align="center">
                    <div class="resolution row" id="divimgdatadisp" style="overflow:auto"></div>
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
