﻿@model List<ECIModel.UserRefModel>

    @{
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }

    <style>
        .multiselect-selected-text {
            font-size: 14px;
        }
        h6 {
            font-size: 14px;
        }
        .dashboard-leftbar {
            width: 300px;
            float: left;
            background-color: #ffffff;
            padding: 5px;
            border-radius: 5px;  
        }

        .dashboard-rightbar {
            margin-left: 30px;
        }
        .mdinfo .btn-group {
            width: 100%;            
        }
        .col-md-12 {
            padding-right:0px;
        }
         .btn {
            text-align: left;
        }
    </style>

    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="../blue/assets/js/popper.min.js"></script>

    <!-- Theme style -->
    <link rel="stylesheet" href="../dist/css/AdminLTE.min.css">

    @*<script src="../blue/jscolor.js"></script>*@

    <link href="../blue/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="../blue/assets/images/favicon.ico">

    <!-- Plugins css -->
    <link href="../blue/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="../blue/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="../blue/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="../blue/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

    <!-- App css -->


    <link href="../blue/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/css/style.css" rel="stylesheet" type="text/css" />

    <input type="hidden" id="input_hidden_field" value="" />

    <input type="hidden" id="input_hidden_field_overall" value="" />
    <div class="row">
        <div class="col-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <div id="ddlfilter" class="row"></div>
                </div>
            </div>
        </div> <!-- end col -->
    </div>

    <!-- End Navigation Bar-->



        <div class="row">
            <div class="col-12">

                <!-- Left sidebar -->
                <div class="dashboard-leftbar mb-3 mdinfo">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-primary btn-rounded btn-custom btn-block waves-effect waves-light" style="text-align:center" onclick="Datapopulate('pie',1);OverallPopulate('doughnut',1);">Filters</a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="btn btn-primary btn-rounded btn-custom btn-block waves-effect waves-light" style="text-align:center" onclick="ClearddlGetECIFilter();">Clear All</a>
                        </div>
                    </div>
                        <h6 class="m-t-30">Industry</h6>
                        <select class="multiselect-ui" multiple="multiple" id="ddlindustry" data-placeholder="Choose ..."></select>
                        <h6 class="m-t-30">Company Size</h6>
                        <select class="multiselect-ui" multiple="multiple" id="ddlcmpysize" data-placeholder="Choose ..."></select>
                        <h6 class="m-t-30">Revenue (in US$ millions annually)</h6>
                        <select class="multiselect-ui" multiple="multiple" id="ddlrevenue" data-placeholder="Choose ..."></select>
                        <h6 class="m-t-30">Age Bands</h6>
                        <select class="multiselect-ui" multiple="multiple" id="ddlagebrands" data-placeholder="Choose ..."></select>
                        <h6 class="m-t-30">Gender</h6>
                        <select class="multiselect-ui" multiple="multiple" id="ddlgender" data-placeholder="Choose ..."></select>
                        <h6 class="m-t-30">Race</h6>
                        <select class="multiselect-ui" multiple="multiple" id="ddlrace" data-placeholder="Choose ..."></select>
                        <h6 class="m-t-30">Geography_Region</h6>
                        <select class="multiselect-ui" multiple="multiple" id="ddlgeoregion" data-placeholder="Choose ..."></select>
                        <h6 class="m-t-30">Supplier</h6>
                        <select class="multiselect-ui" multiple="multiple" id="ddlsupplier" data-placeholder="Choose ..."></select>
                        <h6 class="m-t-30">Supervisor</h6>
                        <select class="multiselect-ui" multiple="multiple" id="ddlsupervisor" data-placeholder="Choose ..."></select>
                        <h6 class="m-t-30">Union</h6>
                        <select class="multiselect-ui" multiple="multiple" id="ddlunion" data-placeholder="Choose ..."></select>
                        <h6 class="m-t-30">Public/Private</h6>
                        <select class="multiselect-ui" multiple="multiple" id="ddlpublicprivate" data-placeholder="Choose ..."></select>
                        <h6 class="m-t-30">Tenure</h6>
                        <select class="multiselect-ui" multiple="multiple" id="ddltenure" data-placeholder="Choose ..."></select>
                        <h6 class="m-t-30">Salaried</h6>
                        <select class="multiselect-ui" multiple="multiple" id="ddlsalaried" data-placeholder="Choose ..."></select>
                        <h6 class="m-t-30">Management Level</h6>
                        <select class="multiselect-ui" multiple="multiple" id="ddlmanageval" data-placeholder="Choose ..."></select>
                        <h6 class="m-t-30">Market value</h6>
                        <select class="multiselect-ui" multiple="multiple" id="ddlmarketval" data-placeholder="Choose ..."></select>
                    </div>

                    <!-- End Left sidebar -->
                    <!-- Right Sidebar -->
                    <div class="dashboard-rightbar mb-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card m-b-20">
                                    <div class="card-body">

                                        <h4 class="mt-0 header-title">Overall</h4>
                                        <div class="box">
                                            <div class="box-header with-border">
                                                <h3 class="box-title"></h3>
                                                <div class="box-tools pull-right">
                                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                                            <i class="fa fa-wrench"></i>
                                                        </button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li>
                                                                <a class="mdi mdi-export" href="#" onclick="downloadCanvas(this,'Overall','overall.jpg')"></a>
                                                            </li>
                                                            <li>
                                                                @*<button class="jscolor {valueElement:'chosen-value', onFineChange:'setTextColor(this)'} mdi mdi-blur-linear">
                                                        <span class=""></span>
                                                    </button>*@
                                                                <button id="colorpicker-color-pattern" class="btn btn-white colorpicker-component" type="button">
                                                                    <i class="mdi mdi-blur-linear"></i>
                                                                </button>
                                                            </li>
                                                            <li>

                                                                <a class="mdi mdi-export" href="#" onclick="ChangeReport('Single')">Single Graph</a>
                                                            </li>
                                                            <li>
                                                                <a class="mdi mdi-export" href="#" onclick="ChangeReport('Multi')"> Multi Graph</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                                </div>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <div id="divoverall">
                                                    <p id="colorpickerHolder">
                                                    </p>
                                                    <canvas id="Overall" height="420" width="841" style="width: 561px; height: 280px;"></canvas>

                                                </div>
                                                <div class="dynamicbinding row" id="multigraph"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- end Col-9 -->

                </div>

        </div><!-- End row -->

    <!-- end container -->
    <!-- end wrapper -->
    <!-- Chart JS -->
    <script src="../blue/assets/plugins/chart.js/chart.min.js"></script>
    <script type="text/javascript">

       

        function OverallPopulate(ctype, status) {
            //jscolor.init()
            //alert(ctype);
            if (status == undefined) {
                status = 0;
            }
        if (ctype == undefined) {
            ctype = 'pie';
        }
            var accountid = $('#Com_id').val();

            if (accountid == undefined) {
                accountid = 0;//$('#Com_id').val();
            }

            //var accountid = 0;
            var catname = $('#Cat_id').val();
            if (catname == undefined) {
                catname = 1;//$('#Com_id').val();
            }

            var datalabel = $('#DataLabel_id').val();
            if (datalabel == undefined) {
                datalabel = 0;//$('#Com_id').val();
            }

             var year = $('#Year_id').val();
            if (year == undefined) {
                year = 0;//$('#Com_id').val();
            }

        var obj = [];

            if (status == 0) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetNewDashboardReportOverall", "SuperAdmin")',
                    data: { catname: catname, datalabel: datalabel, accountid: accountid, yearid: year},
                    async: false,
                    success: function (data) {
                        obj = data;
                        //console.log(obj);
                        $('#input_hidden_field_overall').val(JSON.stringify(obj));
                    }
                });
            }
            else {
                var ddlindustry_val = $('#ddlindustry').val();
                var ddlcmpysize_val = $('#ddlcmpysize').val();
                var ddlrevenue_val = $('#ddlrevenue').val();
                var ddlagebrands_val = $('#ddlagebrands').val();
                var ddlgender_val = $('#ddlgender').val();
                var ddlrace_val = $('#ddlrace').val();
                var ddlgeoregion_val = $('#ddlgeoregion').val();
                var ddlsupplier_val = $('#ddlsupplier').val();
                var ddlsupervisor_val = $('#ddlsupervisor').val();
                var ddlunion_val = $('#ddlunion').val();
                var ddlpublicprivate_val = $('#ddlpublicprivate').val();
                var ddltenure_val = $('#ddltenure').val();
                var ddlsalaried_val = $('#ddlsalaried').val();
                var ddlmanageval_val = $('#ddlmanageval').val();
                var ddlmarketval_val = $('#ddlmarketval').val();
$.ajax({
    type: 'POST',
    traditional: true,
                    url: '@Url.Action("GetNewDashboardOverallByFilter", "SuperAdmin")',
    data: { catname: catname, datalabel: datalabel, accountid: accountid, yearid: year, ddlindustry_arry: ddlindustry_val, ddlcmpysize_arry: ddlcmpysize_val, ddlrevenue_arry: ddlrevenue_val, ddlagebrands_arry: ddlagebrands_val, ddlgender_arry: ddlgender_val, ddlrace_arry: ddlrace_val, ddlgeoregion_arry: ddlgeoregion_val, ddlsupplier_arry: ddlsupplier_val, ddlsupervisor_arry: ddlsupervisor_val, ddlunion_arry: ddlunion_val, ddlpublicprivate_arry: ddlpublicprivate_val, ddltenure_arry: ddltenure_val, ddlsalaried_arry: ddlsalaried_val, ddlmanageval_arry: ddlmanageval_val, ddlmarketval_arry: ddlmarketval_val },
                    async: false,
                    success: function (data) {
                        obj = data;
                        //console.log(obj);
                        $('#input_hidden_field_overall').val(JSON.stringify(obj));
                    }
                });
            }
                

                ////console.log(obj);

                var companyname = [];
            var companyresponse = [];
            var companyresponsedata = [];

                for(i=0;i<Object.keys(obj).length;i++){
                    companyname.push(obj[i].companyname);
                    companyresponse.push(obj[i].responseid);
                    companyresponsedata.push(obj[i].reportdata);
                }

            var data = {
                datasets: [{
                    data: companyresponsedata,
                    backgroundColor: [
                        "#ff4081",
                        "#43a047",
                        "#f57c00",
                        "#4BC0C0",
                        "#565656",
                        "#7CB342",
                        "#9CCC65",
                        "#E7E9ED",
                        "#FF6384",
                        "#FFCE56"
                    ],
                    hoverBackgroundColor: [
                        "#ff4081",
                        "#43a047",
                        "#f57c00",
                        "#4BC0C0",
                        "#565656",
                        "#7CB342",
                        "#9CCC65",
                        "#E7E9ED",
                        "#FF6384",
                        "#FFCE56"
                    ],
                    hoverBorderColor: "#fff"
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: companyresponse
            };

            $('#divoverall').html('');
            $('#divoverall').html("<canvas id='Overall' height='420' width='841' style='width: 561px; height: 280px;'></canvas>");

            var ctx = document.getElementById('Overall').getContext('2d');
            var myChart = new Chart(ctx, {
                type: ctype,//'pie'
                data: data
                //,
                //options: options
            });
        }
        function popchart2(ctype, divcnt, canvasid) {
            //$('#' + divcnt).html('');

            //////console.log(ctype);
            var obj = $('#input_hidden_field').val(); //retrieve array
            obj = JSON.parse(obj);
            //////console.log(obj);
            var substval = divcnt.substring(6, divcnt.length);
            //////console.log(substval);
            ////console.log(canvasid);
            //var cop = divcnt;
            //cop = cop.replace("divcnt", "");

            var companyname = [];
            var companyresponse = [];

            for (i = 0; i < Object.keys(obj).length; i++) {
                companyname.push(obj[i].companyname);
                companyresponse.push(obj[i].responseid);
            }

            //////console.log(divcnt);

            var companyunique = [];

            companyunique.push(substval);
            //////console.log(companyunique);

            //var companyunique = companyname.filter(function (item, index, companyname) {
            //    //////console.log(item);
            //    return index == companyname.indexOf(item);
            //});

            var companyresponseunique = companyresponse.filter(function (item, index, companyresponse) {
                return index == companyresponse.indexOf(item);
            });

            ////console.log(companyresponseunique);

            var companydetails = [];
            $('#divcnt' + canvasid).html('');
            var display = "";

            ////console.log(companyunique);

            companyunique.forEach(function (item, index, companyname) {

                var companyresp = [];
                var companyreportdata = [];

                for (i = 0; i < Object.keys(obj).length; i++) {

                    if (obj[i].companyname == item) {

                        companyresp.push(obj[i].responseid);
                        companyreportdata.push(obj[i].reportdata);

                    }

                    //companyname.push(obj[i].companyname);
                }

                dataset = {
                    companyname: item,
                    responseid: companyresp,
                    reportdata: companyreportdata
                };

                companydetails.push(dataset);

                //for()
                //var canvasid = item + index;
                //var divnae = "divcnt" + item;



                //display += '<div class="row">';
                /*display += "<div class='col-md-6'>";
                display += "<div>";
                display += "<div class='box box-solid box-primary'  name='div" + canvasid + "'>";
                display += "<div class='box-header with-border'>";
                display += "<h3 class='box-title'>" + item + "</h3>";
                display += "<div class='box-tools pull-right'>";
                display += "<button type='button' class='btn btn-box-tool' data-widget='collapse'>";
                display += "<i class='fa fa-minus'></i>";
                display += "</button>";
                display += "<div class='btn-group'>";
                display += "<button type='button' class='btn btn-box-tool dropdown-toggle' data-toggle='dropdown'>";
                display += "<i class='fa fa-wrench'></i>";
                display += "</button>"
                display += "<ul class='dropdown-menu' role='menu'>"
                display += "<li>"
                display += "<a class='mdi mdi-chart-pie' href='#' onclick='popchart2(\"pie\",\"" + divnae + "\")'></a>";
                display += "</li>";
                display += "<li>";
                display += "<a class='mdi mdi-chart-bar' href='#' onclick='popchart2(\"bar\",\"" + divnae + "\")'></a>";
                display += "</li>";
                display += "<li>  <a class='mdi mdi-chart-line' href='#' onclick='popchart2(\"line\",\"" + divnae + "\")'></a></li>";
                display += "</ul>";
                display += "</div>";
                display += "<button type='button' class='btn btn-box-tool' data-widget='remove'><i class='fa fa-times'></i></button>";
                display += "</div>";
                display += "</div>";*/
                // display += "<div class='panel panel-default'>";
                // display += "<div class='panel-header'>";
                // display += item;
                // display += "</div>";
                // display += "<div class='panel-body'>";
                //display += "<h4 class='mt-0 header-title' style='background-color:#3c8dbc; color:white'><span style='margin-left:30px'>"+item+"</span></h4>";
                /*display += "<ul class='list-inline widget-chart m-t-20 m-b-15 text-center'><li class='list-inline-item'><h5 class='mb-0'>694</h5><p class='text-muted font-14'>Activated</p></li><li class='list-inline-item'><h5 class='mb-0'>55210</h5><p class='text-muted font-14'>Pending</p></li><li class='list-inline-item'><h5 class='mb-0'>489498</h5><p class='text-muted font-14'>Deactivated</p></li></ul>";*/
                //display += "<div class='box-body' id='divcnt" + canvasid + "'>";
                display += "<canvas id='" + canvasid + "' height='100' ></canvas>";
                //display += "</div>";
                /*display += "</div>";
                display += "</div>";
                display += "</div>";*/
                //display += '</div>';

            });

            $('#divcnt' + canvasid).html(display);

            ////console.log(display);

            companyunique.forEach(function (item, index, companyname) {

                for (i = 0; i < Object.keys(companydetails).length; i++) {

                    if (item == companydetails[i].companyname) {
                        //var canvasid = item + i;
                        ////console.log(canvasid);

                        var data = {
                            labels: companydetails[i].responseid,
                            datasets: [{
                                label: item,
                                data: companydetails[i].reportdata,
                                backgroundColor: [
                                    "#ff4081",
                                    "#43a047",
                                    "#f57c00",
                                    "#4BC0C0",
                                    "#565656",
                                    "#7CB342",
                                    "#9CCC65",
                                    "#E7E9ED",
                                    "#FF6384",
                                    "#FFCE56"
                                ],
                                hoverBackgroundColor: [
                                    "#ff4081",
                                    "#43a047",
                                    "#f57c00",
                                    "#4BC0C0",
                                    "#565656",
                                    "#7CB342",
                                    "#9CCC65",
                                    "#E7E9ED",
                                    "#FF6384",
                                    "#FFCE56"
                                ],
                                hoverBorderColor: "#fff"

                            }]

                        };

                        //console.log(canvasid);
                        //alert(companydetails[i].companyname);
                        var ctx = document.getElementById(canvasid).getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: ctype,//'pie'
                            data: data
                            //,
                            //options: options
                        });

                    }

                }

            });
        }
        function ClearddlGetECIFilter() {            
            $("#ddlindustry").multiselect('deselect', $('#ddlindustry').val());
            $("#ddlcmpysize").multiselect('deselect', $('#ddlcmpysize').val());
            $("#ddlrevenue").multiselect('deselect', $('#ddlrevenue').val());
            $("#ddlagebrands").multiselect('deselect', $('#ddlagebrands').val());
            $("#ddlgender").multiselect('deselect', $('#ddlgender').val());
            $("#ddlrace").multiselect('deselect', $('#ddlrace').val());
            $("#ddlgeoregion").multiselect('deselect', $('#ddlgeoregion').val());
            $("#ddlsupplier").multiselect('deselect', $('#ddlsupplier').val());
            $("#ddlsupervisor").multiselect('deselect', $('#ddlsupervisor').val());
            $("#ddlunion").multiselect('deselect', $('#ddlunion').val());
            $("#ddlpublicprivate").multiselect('deselect', $('#ddlpublicprivate').val());
            $("#ddltenure").multiselect('deselect', $('#ddltenure').val());
            $("#ddlsalaried").multiselect('deselect', $('#ddlsalaried').val());
            $("#ddlmanageval").multiselect('deselect', $('#ddlmanageval').val());
            $("#ddlmarketval").multiselect('deselect', $('#ddlmarketval').val());
            Datapopulate('pie', 1); OverallPopulate('doughnut', 1);
           // $('#ddlindustry').trigger('chosen:updated');
            //$("#ddlcmpysize").html(Company_Size);
            //$("#ddlrevenue").html(Revenue);
            //$("#ddlagebrands").html(Age_Bands);
            //$("#ddlgender").html(Gender);
            //$("#ddlrace").html(Race);
            //$("#ddlgeoregion").html(Geography_Region);
            //$("#ddlsupplier").html(Supplier);
            //$("#ddlsupervisor").html(Supervisor);
            //$("#ddlunion").html(Union);
            //$("#ddlpublicprivate").html(Public_Private);
            //$("#ddltenure").html(Tenure);
            //$("#ddlsalaried").html(Salaried);
            //$("#ddlmanageval").html(Management_Level);
            //$("#ddlmarketval").html(Market_value);
        }
        function Datapopulate(ctype, status) {
        //jscolor.init()
            //alert(ctype);
            if (status == undefined) {
                status = 0;
            }
        if (ctype == undefined) {
            ctype = 'pie';
        }
            var accountid = $('#Com_id').val();

            if (accountid == undefined) {
                accountid = 0;//$('#Com_id').val();
            }

            //var accountid = 0;
            var catname = $('#Cat_id').val();
            if (catname == undefined) {
                catname = 1;//$('#Com_id').val();
            }

            var datalabel = $('#DataLabel_id').val();
            if (datalabel == undefined) {
                datalabel = 0;//$('#Com_id').val();
            }

            var year = $('#Year_id').val();
            if (year == undefined) {
                year = 0;//$('#Com_id').val();
            }
           // alert(datalabel);
            //var year = $('#Year_id').val();
            var obj = [];
                
            if (status == 0) {//first filters
                $.ajax({
            type: 'POST',
            url: '@Url.Action("GetNewDashboardReport", "SuperAdmin")',
                    data: { catname: catname, datalabel: datalabel, accountid: accountid, yearid: year},
            async: false,
            success: function (data) {
                obj = data;
                //console.log(obj);
                $('#input_hidden_field').val(JSON.stringify(obj));
            }
        });
            }
            else {
                //var ddlindustry_val = $('#ddlindustry').val();
                var ddlindustry_val = $('#ddlindustry').val();
                var ddlcmpysize_val = $('#ddlcmpysize').val();
                var ddlrevenue_val = $('#ddlrevenue').val();
                var ddlagebrands_val = $('#ddlagebrands').val();
                var ddlgender_val = $('#ddlgender').val();
                var ddlrace_val = $('#ddlrace').val();
                var ddlgeoregion_val = $('#ddlgeoregion').val();
                var ddlsupplier_val = $('#ddlsupplier').val();
                var ddlsupervisor_val = $('#ddlsupervisor').val();
                var ddlunion_val = $('#ddlunion').val();
                var ddlpublicprivate_val = $('#ddlpublicprivate').val();
                var ddltenure_val = $('#ddltenure').val();
                var ddlsalaried_val = $('#ddlsalaried').val();
                var ddlmanageval_val = $('#ddlmanageval').val();
                var ddlmarketval_val = $('#ddlmarketval').val();


                $.ajax({
                    type: 'POST',
                    traditional: true,
            url: '@Url.Action("GetNewDashboardReportByFilters", "SuperAdmin")',
                    data: { catname: catname, datalabel: datalabel, accountid: accountid, yearid: year, ddlindustry_arry: ddlindustry_val,ddlcmpysize_arry: ddlcmpysize_val,ddlrevenue_arry: ddlrevenue_val,ddlagebrands_arry: ddlagebrands_val,ddlgender_arry: ddlgender_val,ddlrace_arry: ddlrace_val,ddlgeoregion_arry: ddlgeoregion_val,ddlsupplier_arry: ddlsupplier_val,ddlsupervisor_arry: ddlsupervisor_val,ddlunion_arry: ddlunion_val,ddlpublicprivate_arry: ddlpublicprivate_val,ddltenure_arry: ddltenure_val,ddlsalaried_arry: ddlsalaried_val,ddlmanageval_arry: ddlmanageval_val,ddlmarketval_arry: ddlmarketval_val},
            async: false,
            success: function (data) {
                obj = data;
                //console.log(obj);
                $('#input_hidden_field').val(JSON.stringify(obj));
            }
        });
            }
                

                ////console.log(obj);

                var companyname = [];
                var companyresponse = [];

                for(i=0;i<Object.keys(obj).length;i++){
                    companyname.push(obj[i].companyname);
                    companyresponse.push(obj[i].responseid);
                }

                //console.log(companyname);

                var companyunique = companyname.filter(function(item, index, companyname){
                    //////console.log(item);
                    return index == companyname.indexOf(item);
                });

                var companyresponseunique = companyresponse.filter(function(item, index, companyresponse){
                    return index == companyresponse.indexOf(item);
                });

                var companydetails = [];
                $(".dynamicbinding").html('');
                var display = "";

        companyunique.forEach(function (item, index, companyname) {

            var companyresp = [];
            var companyreportdata = [];

            for (i = 0; i < Object.keys(obj).length; i++) {

                if (obj[i].companyname == item) {

                    companyresp.push(obj[i].responseid);
                    companyreportdata.push(obj[i].reportdata);

                }

                //companyname.push(obj[i].companyname);
            }

            //jscolor.installByClassName("jscolor");

            //console.log(jscolor.installByClassName("jscolor"));

            var dispspan = "";
            companyresp.forEach(function (item, index) {
                if (index == 0) {
                    dispspan += "<input class=\"jscolor\" value='#ff6384' style='width:50px;'><span style='font-size:10px'>"+item+"</span>";
                }
                if (index == 1) {
                    dispspan += "<input class=\"jscolor\" value='#36a2eb' style='width:50px;'><span style='font-size:10px'>" + item + "</span>";
                }
                if (index == 2) {
                    dispspan += "<input class='jscolor' value='#cc65fe' style='width:50px;'><span style='font-size:10px'>" + item + "</span>";
                }
                if (index == 3) {
                    dispspan += "<input class=\"jscolor\" value='#ffbf00' style='width:50px;'><span style='font-size:10px'>" + item + "</span>";
                }
                if (index == 4) {
                    dispspan += "<input class=\"jscolor\" value='#0000ff' style='width:50px;'><span style='font-size:10px'>" + item + "</span>";
                }
                if (index == 5) {
                    dispspan += "<input class=\"jscolor\" value='#D7DF01' style='width:50px;'><span style='font-size:10px'>" + item + "</span>";
                }
            });

            //jscolor.installByClassName("jscolor");
            //console.log(window.jscolor);

            //console.log(dispspan);

            dataset = {
                companyname: item,
                responseid: companyresp,
                reportdata: companyreportdata
            };

            companydetails.push(dataset);

            //console.log(companydetails);

            //for()
            var canvasid = item + index;
            var divnae = "divcnt" + item;
            //display += '<div class="row">';
            display += "<div class='col-md-6'>";
            display += "<div>";
            display += "<div class='box box-solid box-primary'  name='div" + canvasid + "'>";
            display += "<div class='box-header with-border'>";
            display += "<h3 class='box-title'>" + item +"</h3>";
            display += "<div class='box-tools pull-right'>";
            display += "<button type='button' class='btn btn-box-tool' data-widget='collapse'>";
            display += "<i class='fa fa-minus'></i>";
            display += "</button>";
            display += "<div class='btn-group'>";
            display += "<button type='button' class='btn btn-box-tool dropdown-toggle' data-toggle='dropdown'>";
            display += "<i class='fa fa-wrench'></i>";
            display += "</button>"
            display += "<ul class='dropdown-menu' role='menu'>"
            display += "<li>"
            display += "<a class='mdi mdi-export' href='#' onclick='downloadCanvas(this,\"" + canvasid + "\",\"" + item +".jpg\")')></a>";
            display += "</li>";
            display += "<li>"
            display += "<a class='mdi mdi-chart-pie' href='#' onclick='popchart2(\"pie\",\"" + divnae + "\",\"" + canvasid +"\")'></a>";
            display += "</li>";
            display += "<li>";
            display += "<a class='mdi mdi-chart-bar' href='#' onclick='popchart2(\"bar\",\"" + divnae + "\",\"" + canvasid +"\")'></a>";
            display += "</li>";
            display += "<li>  <a class='mdi mdi-chart-line' href='#' onclick='popchart2(\"line\",\"" + divnae + "\",\"" + canvasid +"\")'></a></li>";
            display += "</ul>";
            display += "</div>";
            display += "<button type='button' class='btn btn-box-tool' data-widget='remove'><i class='fa fa-times'></i></button>";
            display += "</div>";
            display += "</div>";
            // display += "<div class='panel panel-default'>";
                    // display += "<div class='panel-header'>";
                    // display += item;
                    // display += "</div>";
                    // display += "<div class='panel-body'>";
                    //display += "<h4 class='mt-0 header-title' style='background-color:#3c8dbc; color:white'><span style='margin-left:30px'>"+item+"</span></h4>";
                    /*display += "<ul class='list-inline widget-chart m-t-20 m-b-15 text-center'><li class='list-inline-item'><h5 class='mb-0'>694</h5><p class='text-muted font-14'>Activated</p></li><li class='list-inline-item'><h5 class='mb-0'>55210</h5><p class='text-muted font-14'>Pending</p></li><li class='list-inline-item'><h5 class='mb-0'>489498</h5><p class='text-muted font-14'>Deactivated</p></li></ul>";*/
            //display += dispspan;
            display += "<div class='box-body' id='divcnt" + canvasid + "'>";

                    display += "<canvas id='"+canvasid+"' height='100' ></canvas>";
                    display += "</div>";
            display += "</div>";
            display += "</div>";
                    display += "</div>";
                    //display += '</div>';

                });

                $(".dynamicbinding").html(display);

            companyunique.forEach(function (item, index, companyname) {

                for (i = 0; i < Object.keys(companydetails).length; i++) {

                    if (item == companydetails[i].companyname) {
                        var canvasid = item + i;
                        ////console.log(canvasid);

                        var data = {
                            labels: companydetails[i].responseid,
                            datasets: [{
                                label: item,
                                data: companydetails[i].reportdata,
                                backgroundColor: [
                                    "#ff4081",
                                    "#43a047",
                                    "#f57c00",
                                    "#4BC0C0",
                                    "#565656",
                                    "#7CB342",
                                    "#9CCC65",
                                    "#E7E9ED",
                                    "#FF6384",
                                    "#FFCE56"
                                ],
                                hoverBackgroundColor: [
                                    "#ff4081",
                                    "#43a047",
                                    "#f57c00",
                                    "#4BC0C0",
                                    "#565656",
                                    "#7CB342",
                                    "#9CCC65",
                                    "#E7E9ED",
                                    "#FF6384",
                                    "#FFCE56"
                                ],
                                hoverBorderColor: "#fff"

                            }]

                        };

                        //////console.log(data);
                        //alert(companydetails[i].companyname);
                        var ctx = document.getElementById(canvasid).getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: ctype,//'pie'
                            data: data,
                             options: {
                                legend: {
                                    display: false
                                }
                            }
                        });

                    }

                }

            });
            }
    </script>

    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.min.js"></script>

    <script src="../blue/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>

    <!-- Download PDF -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>


    <script type="text/javascript">
        function ChangeReport(RType) {
            //alert(RType);
            if (RType == 'Single') {
                $('#multigraph').hide();
                $('#divoverall').show();
            }
            else {
                $('#multigraph').show();
                $('#divoverall').hide();
            }
        }
        function CallFilters() {
            var ddlindustry_val = $('#ddlindustry').val();
            console.log(ddlindustry_val);
            $.ajax({
                type: 'POST',
                traditional: true,
            url: '@Url.Action("GetNewDashboardReportByFilters", "SuperAdmin")',
                data: { ddlindustry_arry:ddlindustry_val},
            async: false,
            success: function (data) {                
                

            }
        });
        }
        $(function () {
            

            ddlGetECIFilter();
            $('.multiselect-ui').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
                numberDisplayed: 1,
                buttonClass: 'btn btn-default btn-block',
                enableCaseInsensitiveFiltering: true,
                allSelectedText: 'All Selected'
            });
           
            $('#colorpicker-color-pattern').colorpicker({
                colorSelectors: {
                    'black': '#000000',
                    'white': '#ffffff',
                    'red': '#FF0000',
                    'default': '#777777',
                    'primary': '#337ab7',
                    'success': '#5cb85c',
                    'info': '#5bc0de',
                    'warning': '#f0ad4e',
                    'danger': '#d9534f',
                    '#900C3F': '#900C3F',
                    '#7f1195': '#7f1195'
                }
            });

            $('#colorpicker-color-pattern').colorpicker().on('changeColor',
                function (event) {
                    //alert(event.color.toHex());
                    $('#divoverall').css("background-color", event.color.toHex());
                });
            $("input[name^='colorpicker-color-pattern']").colorpicker().on('changeColor',
                function (event) {
                    alert(event.color.toHex());
                    $('#divoverall').css("background-color", event.color.toHex());
                });
            Datapopulate('pie',0);
            OverallPopulate('doughnut',0);
            ChangeReport('Single');

        });
        $(document).ready(function () {
            
            ddlcompany();
            ddlyear();
            ddlpopulate();
        });
        function ddlyearbyid() {
             var accountid = $('#Com_id').val();
            //alert(accountid);
            //if (accountid == 0) {
            //    accountid = "";//$('#Com_id').val();
            //}
            //else if(accountid == "All") {
            //    accountid = "";//$('#Com_id').val();
            //}

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetYears", "SuperAdmin")',
            data: { companyid: accountid},
            async: false,
            success: function (data) {
                var accountid = $('#hdaccount').val();
                var disprop = "display:inline";
                if (accountid == 0) {
                    var disprop = "display:inline";
                }
                var display = "";
            
                display += "<option value='0'>All</option>"
                for (i = 0; i < Object.keys(data).length; i++) {
                    display += "<option value='" + data[i].yearid + "'>" + data[i].yearid + "</option>"
                }
           


                $("#Year_id").html(display);

            }
        });
        }
        function ddlyear() {

            var accountid = $('#Com_id').val();
            //alert(accountid);
            //if (accountid == 0) {
            //    accountid = "";//$('#Com_id').val();
            //}
            //else if(accountid == "All") {
            //    accountid = "";//$('#Com_id').val();
            //}

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetYears", "SuperAdmin")',
            data: { companyid: accountid},
            async: false,
            success: function (data) {
                var accountid = $('#hdaccount').val();
                var disprop = "display:inline";
                if (accountid == 0) {
                    var disprop = "display:inline";
                }
                var display = "";
                display += "<div class='col-md-2'>";
                display += "<div style='" + disprop + "'>";
                display += "<label> Year </label> </br>";
                display += "<div id='Year_div'>";
                display += "<select id='Year_id' class='form-control' style='width:200px;'>";
                display += "<option value='0'>All</option>"
                for (i = 0; i < Object.keys(data).length; i++) {
                    display += "<option value='" + data[i].yearid + "'>" + data[i].yearid + "</option>"
                }
                display += "</select>";
                display += "</div>";
                display += "</div>";
                display += "</div>";


                $("#ddlfilter").append(display);

            }
        });

        }
       

        function ddlGetECIFilter(){
            //alert('like');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetECIFilter", "SuperAdmin")',
            data: {},
            async: false,
            success: function (data) {                
                var Industry = "";
                var Company_Size = "";
                var Revenue = "";
                var Age_Bands = "";
                var Gender = "";
                var Race = "";
                var Geography_Region = "";
                var Supplier = "";
                var Supervisor = "";
                var Union = "";
                var Public_Private = "";
                var Tenure = "";
                var Salaried = "";
                var Management_Level = "";
                var Market_value = "";
                
                for (i = 0; i < Object.keys(data).length; i++) {

                    if (data[i].FilterBy == 'Industry') {
                        Industry += "<option value='" + data[i].ResponseID + "'>" + data[i].Value + "</option>";
                    }
                    else if (data[i].FilterBy == 'Company Size') {
                        Company_Size += "<option value='" + data[i].ResponseID + "'>" + data[i].Value + "</option>";
                    }
                    else if (data[i].FilterBy == 'Revenue') {
                        Revenue += "<option value='" + data[i].ResponseID + "'>" + data[i].Value + "</option>";
                    }
                    else if (data[i].FilterBy == 'Age Bands') {
                        Age_Bands += "<option value='" + data[i].ResponseID + "'>" + data[i].Value + "</option>";
                    }
                    else if (data[i].FilterBy == 'Gender') {
                        Gender += "<option value='" + data[i].ResponseID + "'>" + data[i].Value + "</option>";
                    }
                    else if (data[i].FilterBy == 'Race') {
                        Race += "<option value='" + data[i].ResponseID + "'>" + data[i].Value + "</option>";
                    }
                    else if (data[i].FilterBy == 'Geography_Region') {
                        Geography_Region += "<option value='" + data[i].ResponseID + "'>" + data[i].Value + "</option>";
                    }
                    else if (data[i].FilterBy == 'Supplier') {
                        Supplier += "<option value='" + data[i].ResponseID + "'>" + data[i].Value + "</option>";
                    }
                    else if (data[i].FilterBy == 'Supervisor') {
                        Supervisor += "<option value='" + data[i].ResponseID + "'>" + data[i].Value + "</option>";
                    }
                    else if (data[i].FilterBy == 'Union') {
                        Union += "<option value='" + data[i].ResponseID + "'>" + data[i].Value + "</option>";
                    }
                    else if (data[i].FilterBy == 'Public/Private') {
                        Public_Private += "<option value='" + data[i].ResponseID + "'>" + data[i].Value + "</option>";
                    }
                    else if (data[i].FilterBy == 'Tenure') {
                        Tenure += "<option value='" + data[i].ResponseID + "'>" + data[i].Value + "</option>";
                    }
                    else if (data[i].FilterBy == 'Salaried') {
                        Salaried += "<option value='" + data[i].ResponseID + "'>" + data[i].Value + "</option>";
                    }
                    else if (data[i].FilterBy == 'Management Level') {
                        Management_Level += "<option value='" + data[i].ResponseID + "'>" + data[i].Value + "</option>";
                    }
                    else if (data[i].FilterBy == 'Market value') {
                        Market_value += "<option value='" + data[i].ResponseID + "'>" + data[i].Value + "</option>";
                    }

                    
                }
               
                $("#ddlindustry").html(Industry);               
                $("#ddlcmpysize").html(Company_Size);
                $("#ddlrevenue").html(Revenue);
                $("#ddlagebrands").html(Age_Bands);
                $("#ddlgender").html(Gender);
                $("#ddlrace").html(Race);
                $("#ddlgeoregion").html(Geography_Region);
                $("#ddlsupplier").html(Supplier);
                $("#ddlsupervisor").html(Supervisor);
                $("#ddlunion").html(Union);
                $("#ddlpublicprivate").html(Public_Private);
                $("#ddltenure").html(Tenure);
                $("#ddlsalaried").html(Salaried);
                $("#ddlmanageval").html(Management_Level);
                $("#ddlmarketval").html(Market_value);

            }
        });

        }
           function ddlcompany() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetCompanyLists", "SuperAdmin")',
            data: {},
            async: false,
            success: function (data) {
                var accountid = 0;
                //var disprop = "display:none";

                    var disprop = "display:inline";

                var display = "";
                display += "<div class='col-md-3'>";
                display += "<div style='" + disprop + "'>";
                display += "<label> Company </label> </br>";
                display += "<div id='Com_div'>";
                display += "<select id='Com_id' class='form-control' style='width:300px;' onchange='ddlyearbyid();'>";
                if (accountid == 0) {
                    display += "<option value='0'>All</option>"
                }
                for (i = 0; i < Object.keys(data).length; i++) {
                    display += "<option value='" + data[i].id + "'>" + data[i].companyName + "</option>"
                }
                display += "</select>";
                display += "</div>";
                display += "</div>";
                display += "</div>";


                $("#ddlfilter").append(display);

            }
        });

    }
 function ddlpopulate() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetCategoryList", "SuperAdmin")',
            data: {},
            async: false,
            success: function (data) {
                var display = "";
                display += "<div class='col-md-3'>";
                display += "<label> Category </label> </br>";
                display += "<div id='Cat_div'>";
                display += "<select id='Cat_id' class='form-control' style='width:300px' onchange='catchange(this);'>";
                for (i = 0; i < Object.keys(data).length; i++) {
                    display += "<option value='" + data[i].categoryid + "'>" + data[i].CategoryName + "</option>"
                }
                display += "</select>";
                display += "</div>";
                display += "</div>";
                display += "<div class='col-md-3'>";
                display += "<label> Labels </label> </br>";
                display += "<div id='DataLabel_div'></div>";
                display += "</div>";
                display += "</div>";
                display += "<div class='col-md-1'>";
                display += "<label>  </label> </br>";
                display += "<div id='button_div'>";
                display += "<p onclick='Datapopulate();OverallPopulate();' id='filterbutton' class='btn btn-success' style='margin-top: 7px;'>Filter</p>"
                display += "</div>";
                display += "</div>";

                $("#ddlfilter").append(display);

                catchange($("#Cat_id"));
            }
        });

    }
    function catchange(cntrl) {
        var catname = $('#Cat_id option:selected').text();
        var id = $(cntrl).val();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetDataLabelListByCatID", "SuperAdmin")',
            data: { catid: id},
            async: false,
            success: function (data) {
                $('#DataLabel_div').html('');

                var display = "";
                display += "<select id='DataLabel_id' class='form-control' style='width:300px'>";
                display += "<option value='0'>All</option>"
                for (i = 0; i < Object.keys(data).length; i++) {
                    display += "<option value='" + data[i].DataLabelID + "'>" + data[i].DataLabelName + "</option>"
                }
                display += "</select>";


                $("#DataLabel_div").append(display);
            }
        });
    }
    </script>

    <script>
        function downloadCanvas(link, cntrl, filename) {
            link.href = document.getElementById(cntrl).toDataURL();
            link.download = filename;
        }
    </script>
    <!-- Chart JS -->
    <script src="../blue/assets/plugins/chart.js/chart.min.js"></script>
    <script src="../blue/assets/pages/chartjs.init.js"></script>

    <!-- Plugins js -->
    <script src="../blue/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="../blue/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="../blue/assets/plugins/select2/js/select2.min.js" type="text/javascript"></script>
    <script src="../blue/assets/js/bootstrap.min.js"></script>
    <script src="../blue/assets/js/popper.min.js"></script>
    <script src="../blue/bootstrap-multiselect.js" type="text/javascript"></script>
    <script src="../blue/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
    <script src="../blue/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
    <script src="../blue/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>

    <!-- Plugins Init js-->
    <script src="../blue/assets/pages/form-advanced.js"></script>
    <!-- App js -->
    <script src="../blue/assets/js/app.js"></script>



