﻿@model List<ECIModel.UserRefModel>

    @{
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }



    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script src="../blue/assets/js/popper.min.js"></script>

    <!-- Theme style -->
    <link rel="stylesheet" href="../dist/css/AdminLTE.min.css">

    @*<script src="../blue/jscolor.js"></script>*@

    <link href="../blue/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="../blue/assets/images/favicon.ico">

    <!-- Plugins css -->
    <link href="../blue/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="../blue/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="../blue/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="../blue/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

    <!-- App css -->
    <link href="../blue/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css"
          rel="stylesheet" type="text/css" />
    <link href="../blue/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/css/style.css" rel="stylesheet" type="text/css" />




    <div class="row">
        <div class="col-md-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-4">

                            <h6 class="m-t-30">Company</h6>
                            <select class="multiselect-ui" multiple="multiple" data-placeholder="Choose ...">
                                <option value="AK">Company1</option>
                                <option value="HI">Company2</option>
                                <option value="CA">Company3</option>
                                <option value="NV">Company4</option>
                            </select>

                        </div>
                        <div class="col-md-4">

                            <h6 class="m-t-30">Category</h6>

                            <select class="select2 form-control select2-multiple" multiple="multiple" multiple data-placeholder="Choose ...">
                                <option value="AK">Company1</option>
                                <option value="HI">Company2</option>
                                <option value="CA">Company3</option>
                                <option value="NV">Company4</option>
                            </select>

                        </div>
                        <div class="col-md-4">

                            <h6 class="m-t-30">Questions</h6>
                            <select class="select2 form-control select2-multiple" multiple="multiple" multiple data-placeholder="Choose ...">
                                <option value="AK">Company1</option>
                                <option value="HI">Company2</option>
                                <option value="CA">Company3</option>
                                <option value="NV">Company4</option>
                            </select>


                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div>

    <!-- End Navigation Bar-->


    <div class="container-fluid">

        <div class="row">
            <!-- Left sidebar -->
            <div class="col-lg-3">
                <div class="card m-b-20">
                    <div class="row">

                        <div class="card m-b-20">
                            <div class="card-body">

                                <h4 class="mt-0 header-title">Filters</h4>

                                <h6 class="m-t-30">Industry</h6>
                                <select class="multiselect-ui" multiple="multiple" data-placeholder="Choose ...">
                                    <option value="AK">Accommodation and Food Services</option>
                                    <option value="HI">Aerospace and Defense</option>
                                    <option value="CA">Agriculture, Forestry, Fishing and Hunting</option>
                                    <option value="NV">Arts, Entertainment, and Recreation</option>
                                    <option value="OR">Automotive</option>
                                    <option value="WA">Banking, Insurance, or other Financial Services</option>
                                    <option value="AZ">Commercial and/or Residential Real Estate</option>
                                    <option value="CO">Construction</option>
                                    <option value="ID">Education</option>
                                    <option value="MT">Energy and Mining, Quarrying, and Oil and Gas Extraction</option>
                                    <option value="NE">Finance and Insurance</option>
                                    <option value="NM">Government (Federal, State, Local, or other)</option>
                                    <option value="ND">Industrial/Manufacturing</option>
                                    <option value="UT">Information (e.g., Broadcast, Publishing, Telecomm)</option>
                                    <option value="WY">Medical and Health Care</option>
                                    <option value="AL">Professional Services</option>
                                    <option value="AR">Real Estate</option>
                                    <option value="IL">Retail</option>
                                    <option value="IA">Technology</option>
                                    <option value="KS">Transportation</option>
                                    <option value="KY">Wholesalers</option>
                                </select>
                                <h6 class="m-t-30">Company Size</h6>
                                <select class="select2 form-control select2-multiple" multiple="multiple" multiple data-placeholder="Choose ...">
                                    <option value="AK">Just yourself, one person</option>
                                    <option value="HI">2 to 5</option>
                                    <option value="CA">6 to 24</option>
                                    <option value="NV">25 to under 100</option>
                                    <option value="OR">100 to under 500</option>
                                    <option value="WA">500 to under 2,000</option>
                                    <option value="AZ">2,000 to under 10,000</option>
                                    <option value="CO">10,000 to under 50,000</option>
                                    <option value="ID">50,000 to under 90,000</option>
                                    <option value="MT">90,000 or more</option>
                                </select>
                                <h6 class="m-t-30">Revenue (in US$ millions annually)</h6>
                                <select class="select2 form-control select2-multiple" multiple="multiple" multiple data-placeholder="Choose ...">
                                    <option value="AK">$0 – 10</option>
                                    <option value="HI">$11-50</option>
                                    <option value="CA">$51-100</option>
                                    <option value="NV">$101-200</option>
                                    <option value="OR">$200-500</option>
                                    <option value="WA">$+500</option>
                                </select>
                                <h6 class="m-t-30">Age Bands</h6>
                                <select class="select2 form-control select2-multiple" multiple="multiple" multiple data-placeholder="Choose ...">
                                    <option value="AK">18-29</option>
                                    <option value="HI">30-44</option>
                                    <option value="CA">45-63</option>
                                    <option value="NV">4 or older</option>
                                </select>
                                <h6 class="m-t-30">Gender</h6>
                                <select class="select2 form-control select2-multiple" multiple="multiple" multiple data-placeholder="Choose ...">
                                    <option value="AK">1Male</option>
                                    <option value="HI">30-44</option>
                                    <option value="CA">45-63</option>
                                    <option value="NV">4 or older</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Left sidebar -->
            <!-- Right Sidebar -->
            <div class="col-lg-9">

                <div class="card m-b-20">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card m-b-20">
                                <div class="card-body">

                                    <h4 class="mt-0 header-title">Line Chart</h4>

                                    <canvas id="lineChart" height="300"></canvas>

                                </div>
                            </div>
                        </div> <!-- end col -->

                        <div class="col-lg-6">
                            <div class="card m-b-20">
                                <div class="card-body">

                                    <h4 class="mt-0 header-title">Bar Chart</h4>


                                    <canvas id="bar" height="300"></canvas>

                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card m-b-20">
                                <div class="card-body">

                                    <h4 class="mt-0 header-title">Pie Chart</h4>


                                    <canvas id="pie" height="260"></canvas>

                                </div>
                            </div>
                        </div> <!-- end col -->

                        <div class="col-lg-6">
                            <div class="card m-b-20">
                                <div class="card-body">

                                    <h4 class="mt-0 header-title">Donut Chart</h4>


                                    <canvas id="doughnut" height="260"></canvas>

                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </div> <!-- panel -->



            </div> <!-- end Col-9 -->



        </div><!-- End row -->

    </div> <!-- end container -->
    <!-- end wrapper -->
    <!-- Chart JS -->
    <script src="../blue/assets/plugins/chart.js/chart.min.js"></script>

    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.min.js"></script>

    <script src="../blue/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>

    <!-- Download PDF -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>


    <script type="text/javascript">
        $(function () {
            $('.multiselect-ui').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true
            });
        });
    </script>


    <!-- Chart JS -->
    <script src="../blue/assets/plugins/chart.js/chart.min.js"></script>
    <script src="../blue/assets/pages/chartjs.init.js"></script>

    <!-- Plugins js -->
    <script src="../blue/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="../blue/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="../blue/assets/plugins/select2/js/select2.min.js" type="text/javascript"></script>
    <script src="../blue/assets/js/bootstrap.min.js"></script>
    <script src="../blue/assets/js/popper.min.js"></script>
    <script src="../blue/bootstrap-multiselect.js" type="text/javascript"></script>
    <script src="../blue/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
    <script src="../blue/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
    <script src="../blue/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>

    <!-- Plugins Init js-->
    <script src="../blue/assets/pages/form-advanced.js"></script>
    <!-- App js -->
    <script src="../blue/assets/js/app.js"></script>



