﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Dashboard</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesbrand" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App Icons -->
    <link rel="shortcut icon" href="../blue/assets/images/favicon.ico">

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="../blue/assets/plugins/morris/morris.css">

    <!-- App css -->
    <link href="../blue/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/css/style.css" rel="stylesheet" type="text/css" />

</head>


<body>

    <!-- Loader -->
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

    <div class="header-bg">
        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container-fluid">

                    <!-- Logo container-->
                    <div class="logo">
                        <!-- Text Logo -->
                        <a href="SADashboard" class="logo">
                            ECI Dashboard
                        </a>
                        <!-- Image Logo -->
                        <!-- <a href="index.html" class="logo">
                            <img src="../blue/assets/images/logo-sm.png" alt="" height="22" class="logo-small">
                            <img src="../blue/assets/images/logo.png" alt="" height="24" class="logo-large">
                        </a> -->

                    </div>
                    <!-- End Logo container-->


                    <div class="menu-extras topbar-custom">

                        <ul class="list-inline float-right mb-0">

                            <!-- notification-->
                            @*<li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="false" aria-expanded="false">
                                        <i class="ti-bell noti-icon"></i>
                                        <span class="badge badge-info badge-pill noti-icon-badge">3</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                                        <!-- item-->
                                        <div class="dropdown-item noti-title">
                                            <h5>Notification (3)</h5>
                                        </div>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                            <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                            <p class="notify-details"><b>Your order is placed</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                                            <p class="notify-details"><b>New Message received</b><small class="text-muted">You have 87 unread messages</small></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>
                                            <p class="notify-details"><b>Your item is shipped</b><small class="text-muted">It is a long established fact that a reader will</small></p>
                                        </a>

                                        <!-- All-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            View All
                                        </a>

                                    </div>
                                </li>*@
                            <!-- User-->
                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <img src="../blue/assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">
                                    <span class="ml-1">Ashok Kumar<i class="mdi mdi-chevron-down"></i> </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                    <a class="dropdown-item" href="#"><i class="dripicons-user text-muted"></i> Profile</a>
                                    @*<a class="dropdown-item" href="#"><i class="dripicons-wallet text-muted"></i> My Wallet</a>*@
                                    <a class="dropdown-item" href="#">@*<span class="badge badge-success pull-right m-t-5">5</span>*@<i class="dripicons-gear text-muted"></i> Settings</a>
                                    @*<a class="dropdown-item" href="#"><i class="dripicons-lock text-muted"></i> Lock screen</a>*@
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="@Url.Action("Login", "Home")"><i class="dripicons-exit text-muted"></i> Logout</a>
                                </div>
                            </li>
                            <li class="menu-item list-inline-item">
                                <!-- Mobile menu toggle-->
                                <a class="navbar-toggle nav-link">
                                    <div class="lines">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                <!-- End mobile menu toggle-->
                            </li>

                        </ul>
                    </div>
                    <!-- end menu-extras -->

                    <div class="clearfix"></div>

                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->
            <!-- MENU Start -->
            <div class="navbar-custom">
                <div class="container-fluid">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">

                            <li class="has-submenu">
                                <a href="SADashboard"><i class="dripicons-device-desktop"></i>Dashboard</a>
                            </li>

                            <li class="has-submenu">
                                <a href="#"><i class="dripicons-user"></i>Users <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                                <ul class="submenu">
                                    <li>
                                        <ul>
                                            <li><a href="SAECIUser">ECI Users</a></li>
                                            @*<li><a href="ui-cards.html">Cards</a></li>
                                                <li><a href="ui-tabs-accordions.html">Tabs &amp; Accordions</a></li>
                                                <li><a href="ui-modals.html">Modals</a></li>
                                                <li><a href="ui-images.html">Images</a></li>
                                                <li><a href="ui-alerts.html">Alerts</a></li>*@
                                        </ul>
                                    </li>
                                    @*<li>
                                            <ul>
                                                <li><a href="ui-progressbars.html">Progress Bars</a></li>
                                                <li><a href="ui-dropdowns.html">Dropdowns</a></li>
                                                <li><a href="ui-lightbox.html">Lightbox</a></li>
                                                <li><a href="ui-navs.html">Navs</a></li>
                                                <li><a href="ui-pagination.html">Pagination</a></li>
                                                <li><a href="ui-popover-tooltips.html">Popover & Tooltips</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li><a href="ui-badge.html">Badge</a></li>
                                                <li><a href="ui-carousel.html">Carousel</a></li>
                                                <li><a href="ui-video.html">Video</a></li>
                                                <li><a href="ui-typography.html">Typography</a></li>
                                                <li><a href="ui-sweet-alert.html">Sweet-Alert</a></li>
                                                <li><a href="ui-grid.html">Grid</a></li>
                                            </ul>
                                        </li>*@
                                </ul>
                            </li>

                            @*<li class="has-submenu">
                                    <a href="#"><i class="dripicons-to-do"></i>Components <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                                    <ul class="submenu">
                                        <li class="has-submenu">
                                            <a href="#">Email</a>
                                            <ul class="submenu">
                                                <li><a href="email-inbox.html">Inbox</a></li>
                                                <li><a href="email-read.html">Email Read</a></li>
                                                <li><a href="email-compose.html">Email Compose</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="calendar.html">Calendar</a>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#">Forms</a>
                                            <ul class="submenu">
                                                <li><a href="form-elements.html">Form Elements</a></li>
                                                <li><a href="form-validation.html">Form Validation</a></li>
                                                <li><a href="form-advanced.html">Form Advanced</a></li>
                                                <li><a href="form-editors.html">Form Editors</a></li>
                                                <li><a href="form-uploads.html">Form File Upload</a></li>
                                                <li><a href="form-mask.html">Form Mask</a></li>
                                                <li><a href="form-summernote.html">Summernote</a></li>
                                                <li><a href="form-xeditable.html">Form Xeditable</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#">Icons</a>
                                            <ul class="submenu">
                                                <li><a href="icons-material.html">Material Design</a></li>
                                                <li><a href="icons-ion.html">Ion Icons</a></li>
                                                <li><a href="icons-fontawesome.html">Font Awesome</a></li>
                                                <li><a href="icons-themify.html">Themify Icons</a></li>
                                                <li><a href="icons-dripicons.html">Dripicons</a></li>
                                                <li><a href="icons-typicons.html">Typicons Icons</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#">Charts</a>
                                            <ul class="submenu">
                                                <li><a href="charts-morris.html">Morris Chart</a></li>
                                                <li><a href="charts-chartist.html">Chartist Chart</a></li>
                                                <li><a href="charts-chartjs.html">Chartjs Chart</a></li>
                                                <li><a href="charts-flot.html">Flot Chart</a></li>
                                                <li><a href="charts-c3.html">C3 Chart</a></li>
                                                <li><a href="charts-other.html">Jquery Knob Chart</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#">Tables </a>
                                            <ul class="submenu">
                                                <li><a href="tables-basic.html">Basic Tables</a></li>
                                                <li><a href="tables-datatable.html">Data Table</a></li>
                                                <li><a href="tables-responsive.html">Responsive Table</a></li>
                                                <li><a href="tables-editable.html">Editable Table</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#">Maps</a>
                                            <ul class="submenu">
                                                <li><a href="maps-google.html"> Google Map</a></li>
                                                <li><a href="maps-vector.html"> Vector Map</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="has-submenu">
                                    <a href="#"><i class="dripicons-trophy"></i>Advanced UI <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                                    <ul class="submenu">
                                        <li><a href="advanced-animation.html">Animation</a></li>
                                        <li><a href="advanced-highlight.html">Highlight</a></li>
                                        <li><a href="advanced-rating.html">Rating</a></li>
                                        <li><a href="advanced-nestable.html">Nestable</a></li>
                                        <li><a href="advanced-alertify.html">Alertify</a></li>
                                        <li><a href="advanced-rangeslider.html">Range Slider</a></li>
                                        <li><a href="advanced-sessiontimeout.html">Session Timeout</a></li>
                                    </ul>
                                </li>

                                <li class="has-submenu">
                                    <a href="#"><i class="dripicons-copy"></i>Pages <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                                    <ul class="submenu megamenu">
                                        <li>
                                            <ul>
                                                <li><a href="pages-timeline.html">Timeline</a></li>
                                                <li><a href="pages-invoice.html">Invoice</a></li>
                                                <li><a href="pages-directory.html">Directory</a></li>
                                                <li><a href="pages-login.html">Login</a></li>
                                                <li><a href="pages-register.html">Register</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li><a href="pages-recoverpw.html">Recover Password</a></li>
                                                <li><a href="pages-lock-screen.html">Lock Screen</a></li>
                                                <li><a href="pages-blank.html">Blank Page</a></li>
                                                <li><a href="pages-404.html">Error 404</a></li>
                                                <li><a href="pages-500.html">Error 500</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>*@

                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <form class="float-right app-search">
                            <input type="text" placeholder="Search..." class="form-control">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <h4 class="page-title"> <i class="dripicons-meter"></i> Dashboard</h4>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

            <div class="row">
                <div class="col-12 mb-4">
                    <div id="morris-bar-example" class="dash-chart"></div>

                    <div class="mt-4 text-center">
                        <button type="button" class="btn btn-outline-light ml-1 waves-effect waves-light">Year 2017</button>
                        <button type="button" class="btn btn-outline-info ml-1 waves-effect waves-light">Year 2018</button>
                        <button type="button" class="btn btn-outline-light ml-1 waves-effect waves-light">Year 2019</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6 col-xl-3">
                    <div class="card text-center m-b-30">
                        <div class="mb-2 card-body text-muted">
                            <h3 class="text-info">15,852</h3>
                            Awareness
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card text-center m-b-30">
                        <div class="mb-2 card-body text-muted">
                            <h3 class="text-purple">9,514</h3>
                            Effectivness
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card text-center m-b-30">
                        <div class="mb-2 card-body text-muted">
                            <h3 class="text-primary">289</h3>
                            Ethics Related Actions
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card text-center m-b-30">
                        <div class="mb-2 card-body text-muted">
                            <h3 class="text-danger">5,220</h3>
                            Pressure
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">

                <div class="col-xl-4">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">Response</h4>

                            <div class="row text-center m-t-20">
                                <div class="col-6">
                                    <h5 class="">56241</h5>
                                    <p class="text-muted font-14">Received</p>
                                </div>
                                <div class="col-6">
                                    <h5 class="">23651</h5>
                                    <p class="text-muted font-14">Pending</p>
                                </div>
                            </div>

                            <div id="morris-donut-example" class="dash-chart"></div>

                            <div id="morris-donut-example1" class="dash-chart"></div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-8">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">Variable</h4>

                            <div class="row text-center m-t-20">
                                <div class="col-4">
                                    <h5 class="">56241</h5>
                                    <p class="text-muted font-14">Yes</p>
                                </div>
                                <div class="col-4">
                                    <h5 class="">23651</h5>
                                    <p class="text-muted font-14">No</p>
                                </div>
                                <div class="col-4">
                                    <h5 class="">23651</h5>
                                    <p class="text-muted font-14">Don't know</p>
                                </div>
                            </div>

                            <div id="morris-area-example" class="dash-chart"></div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-xl-8">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <h4 class="mt-0 m-b-30 header-title">Latest Transactions</h4>

                            <div class="table-responsive">
                                <table class="table m-t-20 mb-0 table-vertical">

                                    <tbody>
                                        <tr>
                                            <td>
                                                <img src="../blue/assets/images/users/avatar-2.jpg" alt="user-image" class="thumb-sm rounded-circle mr-2" />
                                                Herbert C. Patton
                                            </td>
                                            <td><i class="mdi mdi-checkbox-blank-circle text-success"></i> Confirm</td>
                                            <td>
                                                $14,584
                                                <p class="m-0 text-muted font-14">Amount</p>
                                            </td>
                                            <td>
                                                5/12/2016
                                                <p class="m-0 text-muted font-14">Date</p>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-secondary btn-sm waves-effect">Edit</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <img src="../blue/assets/images/users/avatar-3.jpg" alt="user-image" class="thumb-sm rounded-circle mr-2" />
                                                Mathias N. Klausen
                                            </td>
                                            <td><i class="mdi mdi-checkbox-blank-circle text-warning"></i> Waiting payment</td>
                                            <td>
                                                $8,541
                                                <p class="m-0 text-muted font-14">Amount</p>
                                            </td>
                                            <td>
                                                10/11/2016
                                                <p class="m-0 text-muted font-14">Date</p>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-secondary btn-sm waves-effect">Edit</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <img src="../blue/assets/images/users/avatar-4.jpg" alt="user-image" class="thumb-sm rounded-circle mr-2" />
                                                Nikolaj S. Henriksen
                                            </td>
                                            <td><i class="mdi mdi-checkbox-blank-circle text-success"></i> Confirm</td>
                                            <td>
                                                $954
                                                <p class="m-0 text-muted font-14">Amount</p>
                                            </td>
                                            <td>
                                                8/11/2016
                                                <p class="m-0 text-muted font-14">Date</p>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-secondary btn-sm waves-effect">Edit</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <img src="../blue/assets/images/users/avatar-5.jpg" alt="user-image" class="thumb-sm rounded-circle mr-2" />
                                                Lasse C. Overgaard
                                            </td>
                                            <td><i class="mdi mdi-checkbox-blank-circle text-danger"></i> Payment expired</td>
                                            <td>
                                                $44,584
                                                <p class="m-0 text-muted font-14">Amount</p>
                                            </td>
                                            <td>
                                                7/11/2016
                                                <p class="m-0 text-muted font-14">Date</p>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-secondary btn-sm waves-effect">Edit</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <img src="../blue/assets/images/users/avatar-6.jpg" alt="user-image" class="thumb-sm rounded-circle mr-2" />
                                                Kasper S. Jessen
                                            </td>
                                            <td><i class="mdi mdi-checkbox-blank-circle text-success"></i> Confirm</td>
                                            <td>
                                                $8,844
                                                <p class="m-0 text-muted font-14">Amount</p>
                                            </td>
                                            <td>
                                                1/11/2016
                                                <p class="m-0 text-muted font-14">Date</p>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-secondary btn-sm waves-effect">Edit</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <h4 class="mt-0 m-b-15 header-title">Recent Activity Feed</h4>

                            <ol class="activity-feed mb-0">
                                <li class="feed-item">
                                    <span class="date">Sep 25</span>
                                    <span class="activity-text">Responded to need “Volunteer Activities”</span>
                                </li>

                                <li class="feed-item">
                                    <span class="date">Sep 24</span>
                                    <span class="activity-text">Added an interest “Volunteer Activities”</span>
                                </li>
                                <li class="feed-item">
                                    <span class="date">Sep 23</span>
                                    <span class="activity-text">Joined the group “Boardsmanship Forum”</span>
                                </li>
                                <li class="feed-item">
                                    <span class="date">Sep 21</span>
                                    <span class="activity-text">Responded to need “In-Kind Opportunity”</span>
                                </li>
                                <li class="feed-item">
                                    <span class="date">Sep 18</span>
                                    <span class="activity-text">Created need “Volunteer Activities”</span>
                                </li>
                                <li class="feed-item pb-2">
                                    <span class="date">Sep 17</span>
                                    <span class="activity-text">Attending the event “Some New Event”. Responded to needed</span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>


            </div>
            <!-- end row -->

        </div> <!-- end container -->
    </div>
    <!-- end wrapper -->
    <!-- Footer -->
    <footer class="footer" style="display:none">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    @*© 2018 Fonik - Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand.*@
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- jQuery  -->
    <script src="../blue/assets/js/jquery.min.js"></script>
    <script src="../blue/assets/js/popper.min.js"></script>
    <script src="../blue/assets/js/bootstrap.min.js"></script>
    <script src="../blue/assets/js/modernizr.min.js"></script>
    <script src="../blue/assets/js/waves.js"></script>
    <script src="../blue/assets/js/jquery.slimscroll.js"></script>
    <script src="../blue/assets/js/jquery.nicescroll.js"></script>
    <script src="../blue/assets/js/jquery.scrollTo.min.js"></script>

    <!--Morris Chart-->
    <script src="../blue/assets/plugins/morris/morris.min.js"></script>
    <script src="../blue/assets/plugins/raphael/raphael-min.js"></script>

    <script src="../blue/assets/pages/dashborad.js"></script>

    <!-- App js -->
    <script src="../blue/assets/js/app.js"></script>

    
</body>
</html>
