﻿@model ECIModel.UserModel


@using (Html.BeginForm("SAECIUserAdd", "SuperAdmin", FormMethod.Post))
{
<!-- Main content -->
    <div class="modal fade tooltip-control" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title mt-0">Add User</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        @Html.Label("First name")
                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.FirstName)
                    </div>

                    <div class="form-group">
                        @Html.Label("Last name")
                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.LastName)
                    </div>

                    <div class="form-group">
                        @Html.Label("Email ID")
                        @Html.TextBoxFor(x => x.Emailid, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Emailid)
                    </div>

                   


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Create" />
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
       
    </div>
       
}