﻿@model List<ECIModel.UserModel>
    @{
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
               <!-- DataTables -->
               <link href="../blue/assets//plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
               <link href="../blue/assets//plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
               <!-- Responsive datatable examples -->
               <link href="../blue/assets//plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<style>
    .ui-widget-header {
         background-color: #0d5fa5;
        border: 1px solid #0d5fa5;
    }
    .ui-dialog-titlebar-close:before {
        color:white;
        content: "x";
        font-weight:bold;
        display:ruby-text;
    }
    .ui-dialog-titlebar-close {
         background-color:inherit;   
         border:none;   
         cursor:pointer;  
    }
</style>
               <script type="text/javascript">
        $(document).ready(function () {


            //  Open Modal - ADD
            $('#crudOptionAdd').on('click', function (e) {
                e.preventDefault();
               // window.open("@Url.Action("Contacts", "SuperAdmin")");
                //location.reload(); location.href = "@Url.Action("Contacts", "SuperAdmin")";
                LoadNewScreen("@Url.Action("Contacts", "SuperAdmin")");
                //AddModal();
            });
        });
        function AddModal() {
            $.ajax({
                type: 'GET',
                @*url: "@Url.Action("SAECIUserAdd", "SuperAdmin")",*@
                url: "@Url.Action("Contacts", "SuperAdmin")",
                cache: false,
                dataType: 'html',
                beforeSend: function () {
                    $('#crudOptionAdd').html('<i class="fa fa-spinner fa-pulse fa-spin font12" aria-hidden="true"></i>');
                },
                success: function (result) {
                    try {
                        let jsonResult = JSON.parse(result);

                        console.log(jsonResult);

                        if (jsonResult.Failed) {
                            alert('error');
                        }
                    }
                    catch (e) {
                        $('#crudOptionAdd').html('<i class="fa fa-plus text-info" aria-hidden="true"></i>');
                        $('#divModalLayer1').html(result);

                        $('#formModal').modal('show');

                    }
                },
                error: function (result) {
                    console.log(result);
                    return false;
                }
            });
        }
                   function ConfirmDialog(message,userid){
                       $('<div></div>').appendTo('body')
                                       .html('<div><h6>'+message+'</h6></div>')
                                       .dialog({
                                           modal: true, title: 'Delete message', zIndex: 10000, autoOpen: true,
                                           width: '250', resizable: false,                                           
                                           buttons: {
                                               Yes: function () {                                                   
																
                                                   $.ajax({
                                                       type: 'POST',
                                                       traditional: true,
                                                       url: '@Url.Action("Deleteuser", "SuperAdmin")',
                               data: {Userid: userid},
                               async: true,
                               success: function (data) {
                                   console.log(data);
                                   //if(data.result == 1)
                                   //{
                                   alert("Deleted Successfully");
                                   var url = '@Html.Raw(Url.Action("Menu", "SuperAdmin"))';
                                   var params = url.replace('Menu', 'SAECIUser');
                                   location.href =params;
                                   
                                   //}
                               }
                                                    });
                                
                                                   $(this).dialog("close");
                                               },
                                               No: function () {                           		                              
                            
                                                   $(this).dialog("close");
                                               }
                                           },
                                           close: function (event, ui) {
                                               $(this).remove();
                                           }
                                       });
                   };
                   function dltuserfun(userid)
                   {
                       ConfirmDialog("Are you sure you want to Delete?",userid);
                      @* var confirm_value = document.createElement("INPUT");
                       //confirm_value.textContent
                       confirm_value.type = "hidden";
                       confirm_value.name = "confirm_value";
                       console.log(confirm_value);
                       if (confirm("Are You Sure")) {
                           confirm_value.value = "Yes";
                       } else {
                           confirm_value.value = "No";
                       }
                       if (confirm_value.value == "Yes") {

                          
                           // alert(userid);
                           $.ajax({
                               type: 'POST',
                               traditional: true,
                               url: '@Url.Action("Deleteuser", "SuperAdmin")',
                               data: {Userid: userid},
                               async: true,
                               success: function (data) {
                                   console.log(data);
                                   //if(data.result == 1)
                                   //{
                                   alert("Deleted Successfully");
                                   location.reload();
                                   
                                   //}
                               }
                           });
                       }*@
                   }
               </script>

    <div class="row tablelinehieght">
        <div class="col-12">
            <div class="card m-b-20">
                <div class="card-body">
                     <div style="margin-left: 15px;">   <button type="button" id="crudOptionAdd" class="btn btn-default btn-sm btn-icon" style="background-color:#eff3f6;"><i class="fa fa-plus text-info" style="color:#0d2e52 !important"></i></button> </div>                    
                    <br/>
                    <br />

                    @if (Model != null)
                    {
                        if (Model.Count > 0)
                        {
                    <table id="gridtab" class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email ID</th>
                                <th>Company Name</th>
                                <th>User Status</th>
                                <th>User Type</th>
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Emailid</td>
                        <td>@item.Accountname</td>
                        <td>@item.UserStatusVal</td>
                        <td>@item.UserTypeVal</td>
                        <td style="text-align:center">
                            <a href="@Url.Action("EditUser", "SuperAdmin", new { userid = item.UserNum, FromScreen = "userlist"  })"><i class="fa fa-edit"></i></a>
                            <button style="border: none; background-color: inherit;" id="dltuser" onclick="dltuserfun('@item.UserNum');"><i class="fa fa-trash" style="font-size:18px"></i></button>
                        </td>
                    </tr>
                            }
                        </tbody>
                    </table>
                        }
                    }


                    
                    
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
               <!-- Required datatable js -->
               <script src="../blue/assets/plugins/datatables/jquery.dataTables.min.js"></script>
               <script src="../blue/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>

               <!-- Buttons examples -->
               <script src="../blue/assets//plugins/datatables/dataTables.buttons.min.js"></script>
               <script src="../blue/assets//plugins/datatables/buttons.bootstrap4.min.js"></script>
               <script src="../blue/assets//plugins/datatables/jszip.min.js"></script>
               <script src="../blue/assets//plugins/datatables/pdfmake.min.js"></script>
               <script src="../blue/assets//plugins/datatables/vfs_fonts.js"></script>
               <script src="../blue/assets//plugins/datatables/buttons.html5.min.js"></script>
               <script src="../blue/assets//plugins/datatables/buttons.print.min.js"></script>
               <script src="../blue/assets//plugins/datatables/buttons.colVis.min.js"></script>
               <!-- Responsive examples -->
               <script src="../blue/assets//plugins/datatables/dataTables.responsive.min.js"></script>
               <script src="../blue/assets//plugins/datatables/responsive.bootstrap4.min.js"></script>
               <!-- Datatable init js -->
               <script src="../blue/assets//pages/datatables.init.js"></script>
               <script>
        $(function () {
            $('#gridtab').DataTable()

        })</script>