﻿    @model List<ECIModel.UserModel>
    @{
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
    <script type="text/javascript">
        $(document).ready(function () {


            //  Open Modal - ADD
            $('#crudOptionAdd').on('click', function (e) {
                e.preventDefault();
                AddModal();
            });
        });
        function AddModal() {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("SAECIUserAdd", "SuperAdmin")",
                cache: false,
                dataType: 'html',
                beforeSend: function () {
                    $('#crudOptionAdd').html('<i class="fa fa-spinner fa-pulse fa-spin font12" aria-hidden="true"></i>');
                },
                success: function (result) {
                    try {
                        let jsonResult = JSON.parse(result);

                        console.log(jsonResult);

                        if (jsonResult.Failed) {
                            alert('error');
                        }
                    }
                    catch (e) {
                        $('#crudOptionAdd').html('<i class="fa fa-plus text-info" aria-hidden="true"></i>');
                        $('#divModalLayer1').html(result);

                        $('#formModal').modal('show');

                    }
                },
                error: function (result) {
                    console.log(result);
                    return false;
                }
            });
        }
    </script>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <!-- /.box -->
                <div class="box" id="div-index">
                    <div class="box-header">
                        <h3 class="box-title">ECI Users</h3>&nbsp;<button type="button" class="btn btn-info" style="display:none" data-toggle="modal" data-target="#modal-default">
                            Add User
                        </button>
                        <button type="button" id="crudOptionAdd" class="btn btn-default btn-sm btn-icon"><i class="fa fa-plus text-info"></i></button>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
    @if (Model != null)
    {
        if (Model.Count > 0)
        {
            <table id="gridtab" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>                        
                        <th>Last Name</th> 
                        <th>Email ID</th> 
                        <th>User Status</th> 
                        <th>User Type</th> 
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Emailid</td>
                        <td>@item.UserStatusVal</td>
                        <td>@item.UserTypeVal</td>
                    </tr>
                    }
                    </tbody>
                </table>
        }
    }
                    
        </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Default Modal</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input class="form-control" id="exampleInputEmail1" placeholder="Enter email" type="email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input class="form-control" id="exampleInputPassword1" placeholder="Password" type="password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input id="exampleInputFile" type="file">
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Check me out
                            </label>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </section>
    <script>
$(function () {
    $('#gridtab').DataTable()

        })</script>
