﻿@model List<ECIModel.AccountModel>
    @{
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
               <!-- DataTables -->
               <link href="../blue/assets//plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
               <link href="../blue/assets//plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
               <!-- Responsive datatable examples -->
               <link href="../blue/assets//plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<style>
    .ui-widget-header {
         background-color: #0d5fa5;
        border: 1px solid #0d5fa5;
    }
    .ui-dialog-titlebar-close:before {
        color:white;
        content: "x";
        font-weight:bold;
        display:ruby-text;
    }
    .ui-dialog-titlebar-close {
         background-color:inherit;   
         border:none;   
         cursor:pointer;  
    }
</style>
               <script type="text/javascript">
                   $(document).ready(function () {


                       //  Open Modal - ADD
                       $('#crudOptionAdd').on('click', function (e) {
                           e.preventDefault();
                           //window.open("@Url.Action("Accounts", "SuperAdmin")");
                           //AddModal();
                           //location.reload(); location.href = "@Url.Action("Accounts", "SuperAdmin")";
                           LoadNewScreen("@Url.Action("Accounts", "SuperAdmin")");
                       });



                   });
                   function crudOptionEdit(cntl) {
                       var id = "Accounts ? Accid = " + id + ";";
                       window.open("@Url.Action("", "SuperAdmin")");
                   }
                   function ConfirmDialog(message,accid){
                       $('<div></div>').appendTo('body')
                                       .html('<div><h6>'+message+'</h6></div>')
                                       .dialog({
                                           modal: true, title: 'Delete message', zIndex: 10000, autoOpen: true,
                                           width: '250', resizable: false,                                           
                                           buttons: {
                                               Yes: function () {                                                   
																
                                                   // alert(userid);
                                                   $.ajax({
                                                       type: 'POST',
                                                       traditional: true,
                                                       url: '@Url.Action("Deleteaccount", "SuperAdmin")',
                               data: {accid: accid},
                               async: true,
                               success: function (data) {
                                   console.log(data);
                                   //if(data.result == 1)
                                   //{
                                   alert("Deleted Successfully");
                                   var url = '@Html.Raw(Url.Action("Menu", "SuperAdmin"))';
                                   var params = url.replace('Menu', 'SAECIAccounts');
                                   location.href = params;
                                   //}
                               }
                           });
                                 
                                
                                                   $(this).dialog("close");
                                               },
                                               No: function () {                           		                             
                            
                                                   $(this).dialog("close");
                                               }
                                           },
                                           close: function (event, ui) {
                                               $(this).remove();
                                           }
                                       });
           };
                   function dltactfun(accid)
                   {
                       ConfirmDialog("Are you sure you want to Delete?",accid);
                       @*var confirm_value = document.createElement("INPUT");
                       confirm_value.type = "hidden";
                       confirm_value.name = "confirm_value";
                       if (confirm("Are You Sure?")) {
                           confirm_value.value = "Yes";
                       } else {
                           confirm_value.value = "No";
                       }
                       if (confirm_value.value == "Yes") {

                          
                           // alert(userid);
                           $.ajax({
                               type: 'POST',
                               traditional: true,
                               url: '@Url.Action("Deleteaccount", "SuperAdmin")',
                               data: {accid: accid},
                               async: true,
                               success: function (data) {
                                   console.log(data);
                                   //if(data.result == 1)
                                   //{
                                   alert("Deleted Successfully");
                                   location.reload();
                                   
                                   //}
                               }
                           });
                       }*@
                   }
        function AddModal() {
            $.ajax({
                type: 'GET',
                @*url: "@Url.Action("SAECIUserAdd", "SuperAdmin")",*@
                url: "@Url.Action("Contacts", "SuperAdmin")",
                cache: false,
                dataType: 'html',
                beforeSend: function () {
                    $('#crudOptionAdd').html('<i class="fa fa-spinner fa-pulse fa-spin font12" aria-hidden="true"></i>');
                },
                success: function (result) {
                    try {
                        let jsonResult = JSON.parse(result);

                        console.log(jsonResult);

                        if (jsonResult.Failed) {
                            alert('error');
                        }
                    }
                    catch (e) {
                        $('#crudOptionAdd').html('<i class="fa fa-plus text-info" aria-hidden="true"></i>');
                        $('#divModalLayer1').html(result);

                        $('#formModal').modal('show');

                    }
                },
                error: function (result) {
                    console.log(result);
                    return false;
                }
            });
        }
               </script>

    <div class="row tablelinehieght">
        <div class="col-12">
            <div class="card m-b-20">
                <div class="card-body">

                   <div style="margin-left: 15px;">   <button type="button" id="crudOptionAdd" class="btn btn-default btn-sm btn-icon" style="background-color:#eff3f6"><i class="fa fa-plus text-info" style="color:#0d2e52 !important"></i></button></div>
                    <br/>
                    <br />

                    @if (Model != null)
                    {
                        if (Model.Count > 0)
                        {
                            <table id="gridtab"  class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Account Owner</th>
                                        <th>Industry</th>
                                        <th>Employees</th>
                                        <th>Website</th>
                                        <th style="text-align:center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.companyName</td>
                                        <td>@item.AccOwner</td>
                                        <td>@item.Industry</td>
                                        <td>@item.Employees</td>
                                        <td>@item.Website</td>
                                        <td style="text-align:center">
                                            <a href="@Url.Action("EditAccount", "SuperAdmin", new { accid = item.id })"><i class="fa fa-edit"></i></a>                                           
                                            <button style="border: none; background-color: inherit;" id="dltacnt" onclick="dltactfun('@item.id');"><i class="fa fa-trash" style="font-size:18px"></i></button>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    }


                    
                    
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
               <!-- Required datatable js -->
               <script src="../blue/assets/plugins/datatables/jquery.dataTables.min.js"></script>
               <script src="../blue/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>

               <!-- Buttons examples -->
               <script src="../blue/assets//plugins/datatables/dataTables.buttons.min.js"></script>
               <script src="../blue/assets//plugins/datatables/buttons.bootstrap4.min.js"></script>
               <script src="../blue/assets//plugins/datatables/jszip.min.js"></script>
               <script src="../blue/assets//plugins/datatables/pdfmake.min.js"></script>
               <script src="../blue/assets//plugins/datatables/vfs_fonts.js"></script>
               <script src="../blue/assets//plugins/datatables/buttons.html5.min.js"></script>
               <script src="../blue/assets//plugins/datatables/buttons.print.min.js"></script>
               <script src="../blue/assets//plugins/datatables/buttons.colVis.min.js"></script>
               <!-- Responsive examples -->
               <script src="../blue/assets//plugins/datatables/dataTables.responsive.min.js"></script>
               <script src="../blue/assets//plugins/datatables/responsive.bootstrap4.min.js"></script>
               <!-- Datatable init js -->
               <script src="../blue/assets//pages/datatables.init.js"></script>
               <script>
        $(function () {
            $('#gridtab').DataTable()

        })</script>