﻿@model List<ECIModel.RoleModel>
    @{
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }
               <!-- DataTables -->
               <link href="../blue/assets//plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
               <link href="../blue/assets//plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
               <!-- Responsive datatable examples -->
               <link href="../blue/assets//plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
               <script type="text/javascript">
                   $(document).ready(function () {


                       //  Open Modal - ADD
                       $('#crudOptionAdd').on('click', function (e) {
                           e.preventDefault();
                           //window.open("@Url.Action("AddRole", "SuperAdmin")");
                           //location.reload(); location.href = "@Url.Action("AddRole", "SuperAdmin")";
                           LoadNewScreen("@Url.Action("AddRole", "SuperAdmin")");
                           //AddModal();
                       });

                       //  Open Modal - ADD
                       $('#crudOptionback').on('click', function (e) {
                           e.preventDefault();
                           //window.open("@Url.Action("AddRole", "SuperAdmin")");
                           //location.reload(); location.href = "@Url.Action("LinkUserRole", "SuperAdmin")";
                           LoadNewScreen("@Url.Action("LinkUserRole", "SuperAdmin")");
                           //AddModal();
                       });
                   });
                   function ConfirmDialog(message, accid) {
                       $('<div></div>').appendTo('body')
                                       .html('<div><h6>' + message + '</h6></div>')
                                       .dialog({
                                           modal: true, title: 'Delete message', zIndex: 10000, autoOpen: true,
                                           width: '250', resizable: false,
                                           buttons: {
                                               Yes: function () {

                                                   // alert(userid);
                                                   $.ajax({
                                                       type: 'POST',
                                                       traditional: true,
                                                       url: '@Url.Action("Deleteaccount", "SuperAdmin")',
                                                       data: { accid: accid },
                                                       async: true,
                                                       success: function (data) {
                                                           console.log(data);
                                                           //if(data.result == 1)
                                                           //{
                                                           alert("Deleted Successfully");
                                                           var url = '@Html.Raw(Url.Action("Menu", "SuperAdmin"))';
                                                           var params = url.replace('Menu', 'SAECIAccounts');
                                                           location.href = params;
                                                           //}
                                                       }
                                                   });


                                                   $(this).dialog("close");
                                               },
                                               No: function () {

                                                   $(this).dialog("close");
                                               }
                                           },
                                           close: function (event, ui) {
                                               $(this).remove();
                                           }
                                       });
                   }
                   function dltactfun(accid) {
                       ConfirmDialog("Are you sure you want to Delete?", accid);
                   }
               </script>

    <div class="row tablelinehieght">
        <div class="col-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <div style="margin-left: 15px;">  <button type="button" id="crudOptionAdd" class="btn btn-default btn-sm btn-icon" style="background-color:#eff3f6"><i class="fa fa-plus text-info" style="color:#0d2e52 !important"></i></button>
                    <button type="button" id="crudOptionback" class="btn btn-default btn-sm btn-icon" style="background-color:#eff3f6"><i class="ion-ios7-undo" style="color:#0d2e52 !important"></i></button></div>
                    @*<a href="@Url.Action("AddRole", "SuperAdmin")" class="btn btn-default btn-sm btn-icon"><i class="fa fa-plus text-info" style="color:#0d2e52 !important"></i></a>*@
                    <br />
                    <br />

                    @if (Model != null)
    {
        if (Model.Count > 0)
        {
                <table id="gridtab" class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>Role name</th>
                            <th>Description</th>
                            <th style="text-align:center">Edit</th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.RoleName</td>
                    <td>@item.Description</td>
                     <td style="text-align:center"><a href="@Url.Action("EditRole", "SuperAdmin", new { RoleId = item.RoleID })"><i class="fa fa-edit"></i></a>
                         @*<button style="border: none; background-color: inherit;" id="dltrole" onclick="dltrole('@item.RoleID');"><i class="fa fa-trash" style="font-size:18px"></i></button>*@
                     </td>
                </tr>
                        }
                    </tbody>
                </table>
                    }
                    }




                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
               <!-- Required datatable js -->
               <script src="../blue/assets/plugins/datatables/jquery.dataTables.min.js"></script>
               <script src="../blue/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>

               <!-- Buttons examples -->
               <script src="../blue/assets//plugins/datatables/dataTables.buttons.min.js"></script>
               <script src="../blue/assets//plugins/datatables/buttons.bootstrap4.min.js"></script>
               <script src="../blue/assets//plugins/datatables/jszip.min.js"></script>
               <script src="../blue/assets//plugins/datatables/pdfmake.min.js"></script>
               <script src="../blue/assets//plugins/datatables/vfs_fonts.js"></script>
               <script src="../blue/assets//plugins/datatables/buttons.html5.min.js"></script>
               <script src="../blue/assets//plugins/datatables/buttons.print.min.js"></script>
               <script src="../blue/assets//plugins/datatables/buttons.colVis.min.js"></script>
               <!-- Responsive examples -->
               <script src="../blue/assets//plugins/datatables/dataTables.responsive.min.js"></script>
               <script src="../blue/assets//plugins/datatables/responsive.bootstrap4.min.js"></script>
               <!-- Datatable init js -->
               <script src="../blue/assets//pages/datatables.init.js"></script>
               <script>
        $(function () {
            $('#gridtab').DataTable()

        })</script>