﻿@using ECIModel;
@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
@{
    var accountid = 0;
}
@if (HttpContext.Current.Session["SessionUser"] != null)
{
    SessionUser SessionUser = (SessionUser)HttpContext.Current.Session["SessionUser"];
    accountid = SessionUser.Accountid;
}
<!-- Theme style -->
<link rel="stylesheet" href="../dist/css/AdminLTE.min.css">

@*<script src="../blue/jscolor.js"></script>*@

<link href="../blue/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">

<input type="hidden" id="hdaccount" value="@accountid" />
<input type="hidden" id="input_hidden_field" value="" />


<input type="hidden" id="hiddoverall" value="" />


<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">
                <div id="ddlfilter" class="row"></div>
            </div>
        </div>
    </div> <!-- end col -->
</div>

@*<div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-wrench"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a class="mdi mdi-chart-pie" href="#" onclick="popchart('pie')"></a>
                        </li>
                        <li>
                            <a class="mdi mdi-chart-bar" href="#" onclick="popchart('bar')"></a>
                        </li>
                        <li>  <a class="mdi mdi-chart-line" href="#" onclick="popchart('line')"></a></li>

                    </ul>
                </div>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>

        <div class="box-body">

        </div>
    </div>*@

<div class="dynamicbinding row"></div>

<div class="row">
    <div class="col-lg-6">
        <div class="card m-b-20">
            <div class="card-body">

                <h4 class="mt-0 header-title">Overall</h4>
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-wrench"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a class="mdi mdi-export" href="#" onclick="downloadCanvas(this,'Overall','overall.jpg')"></a>
                                    </li>
                                    <li>
                                        @*<button class="jscolor {valueElement:'chosen-value', onFineChange:'setTextColor(this)'} mdi mdi-blur-linear">
                                                <span class=""></span>
                                            </button>*@
                                        <button id="colorpicker-color-pattern" class="btn btn-white colorpicker-component" type="button">
                                            <i class="mdi mdi-blur-linear"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" id="divoverall">
                       
                        <canvas id="Overall" height="420" width="841" style="width: 561px; height: 280px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Chart JS -->
<script src="../blue/assets/plugins/chart.js/chart.min.js"></script>
<!-- <script src="assets/pages/chartjs.init.js"></script> -->
<!-- Chart Js Code Start here -->

<script type="text/javascript">
    var myChartOverall;
    $(document).ready(function () {
        //alert($('#hdaccount').val());
        var accountid = $('#hdaccount').val();
        if (accountid == 0) {
            ddlcompany();
        }
        ddlyear();
        ddlpopulate();
        Datapopulate('pie');

       // $('#colorpickerHolder').ColorPicker({ flat: true });

        //$('.setcolorpicker').colorpicker();

        //$('.setcolorpicker').colorpicker().on('changeColor',
        //    function (event) {
        //        //alert(event.color.toHex());
        //        $('#divoverall').css("background-color", event.color.toHex());
        //    });

        $('#colorpicker-color-pattern').colorpicker({
            colorSelectors: {
                'black': '#000000',
                'white': '#ffffff',
                'red': '#FF0000',
                'default': '#777777',
                'primary': '#337ab7',
                'success': '#5cb85c',
                'info': '#5bc0de',
                'warning': '#f0ad4e',
                'danger': '#d9534f',
                '#900C3F': '#900C3F',
                '#7f1195': '#7f1195'
            }
        });

        $('#colorpicker-color-pattern').colorpicker().on('changeColor',
            function (event) {
                //alert(event.color.toHex());
                $('#divoverall').css("background-color", event.color.toHex());
            });
        $("input[name^='colorpicker-color-pattern']").colorpicker().on('changeColor',
            function (event) {
                alert(event.color.toHex());
                $('#divoverall').css("background-color", event.color.toHex());
            });
        //colorpicker-color-pattern
    })

     function ddlcompany() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetCompanyLists", "SuperAdmin")',
            data: {},
            async: false,
            success: function (data) {
                var accountid = $('#hdaccount').val();
                var disprop = "display:none";
                if (accountid == 0) {
                    var disprop = "display:inline";
                }
                var display = "";
                display += "<div class='col-md-3'>";
                display += "<div style='" + disprop + "'>";
                display += "<label> Company </label> </br>";
                display += "<div id='Com_div'>";
                display += "<select id='Com_id' class='form-control' style='width:300px;'>";
                if (accountid == 0) {
                    display += "<option value='0'>All</option>"
                }
                for (i = 0; i < Object.keys(data).length; i++) {
                    display += "<option value='" + data[i].id + "'>" + data[i].companyName + "</option>"
                }
                display += "</select>";
                display += "</div>";
                display += "</div>";
                display += "</div>";


                $("#ddlfilter").append(display);

            }
        });

    }

    function ddlyear() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetYears1", "SuperAdmin")',
            data: {},
            async: false,
            success: function (data) {
                var accountid = $('#hdaccount').val();
                var disprop = "display:inline";
                if (accountid == 0) {
                    var disprop = "display:inline";
                }
                var display = "";
                display += "<div class='col-md-2'>";
                display += "<div style='" + disprop + "'>";
                display += "<label> Year </label> </br>";
                display += "<div id='Year_div'>";
                display += "<select id='Year_id' class='form-control' style='width:200px;'>";
                display += "<option value='0'>All</option>"
                for (i = 0; i < Object.keys(data).length; i++) {
                    display += "<option value='" + data[i].yearid + "'>" + data[i].yearid + "</option>"
                }
                display += "</select>";
                display += "</div>";
                display += "</div>";
                display += "</div>";


                $("#ddlfilter").append(display);

            }
        });

    }

    function ddlpopulate() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetCategoryList1", "SuperAdmin")',
            data: {},
            async: false,
            success: function (data) {
                var display = "";
                display += "<div class='col-md-3'>";
                display += "<label> Category </label> </br>";
                display += "<div id='Cat_div'>";
                display += "<select id='Cat_id' class='form-control' style='width:300px' onchange='catchange(this);'>";
                for (i = 0; i < Object.keys(data).length; i++) {
                    display += "<option value='" + data[i].categoryid + "'>" + data[i].CategoryName + "</option>"
                }
                display += "</select>";
                display += "</div>";
                display += "</div>";
                display += "<div class='col-md-3'>";
                display += "<label> Labels </label> </br>";
                display += "<div id='DataLabel_div'></div>";
                display += "</div>";
                display += "</div>";
                display += "<div class='col-md-1'>";
                display += "<label>  </label> </br>";
                display += "<div id='button_div'>";
                display += "<p onclick='Datapopulate()' id='filterbutton' class='btn btn-success' style='margin-top: 7px;'>Filter</p>"
                display += "</div>";
                display += "</div>";

                $("#ddlfilter").append(display);

                catchange($("#Cat_id"));
            }
        });

    }
    function catchange(cntrl) {
        var catname = $('#Cat_id option:selected').text();
        var id = $(cntrl).val();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetDataLabelListByCatID", "SuperAdmin")',
            data: { catid: id},
            async: false,
            success: function (data) {
                $('#DataLabel_div').html('');

                var display = "";
                display += "<select id='DataLabel_id' class='form-control' style='width:300px'>";
                for (i = 0; i < Object.keys(data).length; i++) {
                    display += "<option value='" + data[i].DataLabelID + "'>" + data[i].DataLabelName + "</option>"
                }
                display += "</select>";


                $("#DataLabel_div").append(display);
            }
        });
    }
    function popchart(ctype) {
        Datapopulate(ctype);
    }
    function popchart2(ctype, divcnt, canvasid) {
        //$('#' + divcnt).html('');

        //////console.log(ctype);
        var obj = $('#input_hidden_field').val(); //retrieve array
        obj = JSON.parse(obj);
        //////console.log(obj);
        var substval = divcnt.substring(6, divcnt.length);
        //////console.log(substval);
        ////console.log(canvasid);
        //var cop = divcnt;
        //cop = cop.replace("divcnt", "");

        var companyname = [];
        var companyresponse = [];

        for (i = 0; i < Object.keys(obj).length; i++) {
            companyname.push(obj[i].companyname);
            companyresponse.push(obj[i].responseid);
        }

        //////console.log(divcnt);

        var companyunique = [];

        companyunique.push(substval);
        //////console.log(companyunique);

        //var companyunique = companyname.filter(function (item, index, companyname) {
        //    //////console.log(item);
        //    return index == companyname.indexOf(item);
        //});

        var companyresponseunique = companyresponse.filter(function (item, index, companyresponse) {
            return index == companyresponse.indexOf(item);
        });

        ////console.log(companyresponseunique);

        var companydetails = [];
        $('#divcnt' + canvasid).html('');
        var display = "";

        ////console.log(companyunique);

        companyunique.forEach(function (item, index, companyname) {

            var companyresp = [];
            var companyreportdata = [];

            for (i = 0; i < Object.keys(obj).length; i++) {

                if (obj[i].companyname == item) {

                    companyresp.push(obj[i].responseid);
                    companyreportdata.push(obj[i].reportdata);

                }

                //companyname.push(obj[i].companyname);
            }

            dataset = {
                companyname: item,
                responseid: companyresp,
                reportdata: companyreportdata
            };

            companydetails.push(dataset);

            //for()
            //var canvasid = item + index;
            //var divnae = "divcnt" + item;



            //display += '<div class="row">';
            /*display += "<div class='col-md-6'>";
            display += "<div>";
            display += "<div class='box box-solid box-primary'  name='div" + canvasid + "'>";
            display += "<div class='box-header with-border'>";
            display += "<h3 class='box-title'>" + item + "</h3>";
            display += "<div class='box-tools pull-right'>";
            display += "<button type='button' class='btn btn-box-tool' data-widget='collapse'>";
            display += "<i class='fa fa-minus'></i>";
            display += "</button>";
            display += "<div class='btn-group'>";
            display += "<button type='button' class='btn btn-box-tool dropdown-toggle' data-toggle='dropdown'>";
            display += "<i class='fa fa-wrench'></i>";
            display += "</button>"
            display += "<ul class='dropdown-menu' role='menu'>"
            display += "<li>"
            display += "<a class='mdi mdi-chart-pie' href='#' onclick='popchart2(\"pie\",\"" + divnae + "\")'></a>";
            display += "</li>";
            display += "<li>";
            display += "<a class='mdi mdi-chart-bar' href='#' onclick='popchart2(\"bar\",\"" + divnae + "\")'></a>";
            display += "</li>";
            display += "<li>  <a class='mdi mdi-chart-line' href='#' onclick='popchart2(\"line\",\"" + divnae + "\")'></a></li>";
            display += "</ul>";
            display += "</div>";
            display += "<button type='button' class='btn btn-box-tool' data-widget='remove'><i class='fa fa-times'></i></button>";
            display += "</div>";
            display += "</div>";*/
            // display += "<div class='panel panel-default'>";
            // display += "<div class='panel-header'>";
            // display += item;
            // display += "</div>";
            // display += "<div class='panel-body'>";
            //display += "<h4 class='mt-0 header-title' style='background-color:#3c8dbc; color:white'><span style='margin-left:30px'>"+item+"</span></h4>";
            /*display += "<ul class='list-inline widget-chart m-t-20 m-b-15 text-center'><li class='list-inline-item'><h5 class='mb-0'>694</h5><p class='text-muted font-14'>Activated</p></li><li class='list-inline-item'><h5 class='mb-0'>55210</h5><p class='text-muted font-14'>Pending</p></li><li class='list-inline-item'><h5 class='mb-0'>489498</h5><p class='text-muted font-14'>Deactivated</p></li></ul>";*/
            //display += "<div class='box-body' id='divcnt" + canvasid + "'>";
            display += "<canvas id='" + canvasid + "' height='100' ></canvas>";
            //display += "</div>";
            /*display += "</div>";
            display += "</div>";
            display += "</div>";*/
            //display += '</div>';

        });

        $('#divcnt' + canvasid).html(display);

        ////console.log(display);

        companyunique.forEach(function (item, index, companyname) {

            for (i = 0; i < Object.keys(companydetails).length; i++) {

                if (item == companydetails[i].companyname) {
                    //var canvasid = item + i;
                    ////console.log(canvasid);

                    var data = {
                        labels: companydetails[i].responseid,
                        datasets: [{
                            label: item,
                            data: companydetails[i].reportdata,
                            backgroundColor: [
                                "#ff4081",
                                "#43a047",
                                "#f57c00",
                                "#4bc0c0",
                                "#565656",
                                "#7CB342",
                                "#9CCC65",
                                "#E7E9ED",
                                "#FF6384",
                                "#FFCE56"
                            ],
                            hoverBackgroundColor: [
                                "#ff4081",
                                "#43a047",
                                "#f57c00",
                                "#4bc0c0",
                                "#565656",
                                "#7CB342",
                                "#9CCC65",
                                "#E7E9ED",
                                "#FF6384",
                                "#FFCE56"
                            ],
                            hoverBorderColor: "#fff"

                        }]

                    };

                    //console.log(canvasid);
                    //alert(companydetails[i].companyname);
                    var ctx = document.getElementById(canvasid).getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: ctype,//'pie'
                        data: data
                        //,
                        //options: options
                    });

                }

            }

        });
    }
    function Datapopulate(ctype) {
        //jscolor.init()
        //alert(ctype);
        if (ctype == undefined) {
            ctype = 'pie';
        }
        var accountid = $('#hdaccount').val();
        if (accountid == 0) {
            accountid = $('#Com_id').val();
        }
        var catname = $('#Cat_id').val();
        var datalabel = $('#DataLabel_id').val();
        var year = $('#Year_id').val();
        var obj = [];
                //var obj = [{
                //    companyname: "Company1",
                //    responseid: "0",
                //    reportdata: "0.452"
                //},
                //{
                //    companyname: "Company1",
                //    responseid: "1",
                //    reportdata: "97.13"
                //},
                //{
                //    companyname: "Company1",
                //    responseid: "88",
                //    reportdata: "2.54"
                //},
                //{
                //    companyname: "Company3",
                //    responseid: "0",
                //    reportdata: "0.80"
                //},
                //{
                //    companyname: "Company3",
                //    responseid: "1",
                //    reportdata: "96.39"
                //},
                //{
                //    companyname: "Company3",
                //    responseid: "88",
                //    reportdata: "2.88"
                //},
                //{
                //    companyname: "Company4",
                //    responseid: "0",
                //    reportdata: "0.57"
                //},
                //{
                //    companyname: "Company4",
                //    responseid: "1",
                //    reportdata: "98.01"
                //},
                //{
                //    companyname: "Company4",
                //    responseid: "88",
                //    reportdata: "1.43"
                //}];

                $.ajax({
            type: 'POST',
            url: '@Url.Action("GetReport", "SuperAdmin")',
                    data: { catname: catname, datalabel: datalabel, accountid: accountid, yearid: year},
            async: false,
            success: function (data) {
                obj = data;
                //console.log(obj);
                $('#input_hidden_field').val(JSON.stringify(obj));
            }
        });

                ////console.log(obj);

                var companyname = [];
                var companyresponse = [];

                for(i=0;i<Object.keys(obj).length;i++){
                    companyname.push(obj[i].companyname);
                    companyresponse.push(obj[i].responseid);
                }

                //////console.log(companyname);

                var companyunique = companyname.filter(function(item, index, companyname){
                    //////console.log(item);
                    return index == companyname.indexOf(item);
                });

                var companyresponseunique = companyresponse.filter(function(item, index, companyresponse){
                    return index == companyresponse.indexOf(item);
                });

                var companydetails = [];
                $(".dynamicbinding").html('');
                var display = "";

        companyunique.forEach(function (item, index, companyname) {

            var companyresp = [];
            var companyreportdata = [];

            for (i = 0; i < Object.keys(obj).length; i++) {

                if (obj[i].companyname == item) {

                    companyresp.push(obj[i].responseid);
                    companyreportdata.push(obj[i].reportdata);

                }

                //companyname.push(obj[i].companyname);
            }

            //jscolor.installByClassName("jscolor");

            //console.log(jscolor.installByClassName("jscolor"));

            var dispspan = "";
            companyresp.forEach(function (item, index) {
                if (index == 0) {
                    dispspan += "<input class=\"jscolor\" value='#ff6384' style='width:50px;'><span style='font-size:10px'>"+item+"</span>";
                }
                if (index == 1) {
                    dispspan += "<input class=\"jscolor\" value='#36a2eb' style='width:50px;'><span style='font-size:10px'>" + item + "</span>";
                }
                if (index == 2) {
                    dispspan += "<input class='jscolor' value='#cc65fe' style='width:50px;'><span style='font-size:10px'>" + item + "</span>";
                }
                if (index == 3) {
                    dispspan += "<input class=\"jscolor\" value='#ffbf00' style='width:50px;'><span style='font-size:10px'>" + item + "</span>";
                }
                if (index == 4) {
                    dispspan += "<input class=\"jscolor\" value='#0000ff' style='width:50px;'><span style='font-size:10px'>" + item + "</span>";
                }
                if (index == 5) {
                    dispspan += "<input class=\"jscolor\" value='#D7DF01' style='width:50px;'><span style='font-size:10px'>" + item + "</span>";
                }
            });

            //jscolor.installByClassName("jscolor");
            //console.log(window.jscolor);

            console.log(dispspan);

            dataset = {
                companyname: item,
                responseid: companyresp,
                reportdata: companyreportdata
            };

            companydetails.push(dataset);

            //for()
            var canvasid = item + index;
            var divnae = "divcnt" + item;
            //display += '<div class="row">';
            display += "<div class='col-md-6'>";
            display += "<div>";
            display += "<div class='box box-solid box-primary'  name='div" + canvasid + "'>";
            display += "<div class='box-header with-border'>";
            display += "<h3 class='box-title'>" + item +"</h3>";
            display += "<div class='box-tools pull-right'>";
            display += "<button type='button' class='btn btn-box-tool' data-widget='collapse'>";
            display += "<i class='fa fa-minus'></i>";
            display += "</button>";
            display += "<div class='btn-group'>";
            display += "<button type='button' class='btn btn-box-tool dropdown-toggle' data-toggle='dropdown'>";
            display += "<i class='fa fa-wrench'></i>";
            display += "</button>"
            display += "<ul class='dropdown-menu' role='menu'>"
            display += "<li>"
            display += "<a class='mdi mdi-export' href='#' onclick='downloadCanvas(this,\"" + canvasid + "\",\"" + item +".jpg\")')></a>";
            display += "</li>";
            display += "<li>"
            display += "<a class='mdi mdi-chart-pie' href='#' onclick='popchart2(\"pie\",\"" + divnae + "\",\"" + canvasid +"\")'></a>";
            display += "</li>";
            display += "<li>";
            display += "<a class='mdi mdi-chart-bar' href='#' onclick='popchart2(\"bar\",\"" + divnae + "\",\"" + canvasid +"\")'></a>";
            display += "</li>";
            display += "<li>  <a class='mdi mdi-chart-line' href='#' onclick='popchart2(\"line\",\"" + divnae + "\",\"" + canvasid +"\")'></a></li>";
            display += "</ul>";
            display += "</div>";
            display += "<button type='button' class='btn btn-box-tool' data-widget='remove'><i class='fa fa-times'></i></button>";
            display += "</div>";
            display += "</div>";
            // display += "<div class='panel panel-default'>";
                    // display += "<div class='panel-header'>";
                    // display += item;
                    // display += "</div>";
                    // display += "<div class='panel-body'>";
                    //display += "<h4 class='mt-0 header-title' style='background-color:#3c8dbc; color:white'><span style='margin-left:30px'>"+item+"</span></h4>";
                    /*display += "<ul class='list-inline widget-chart m-t-20 m-b-15 text-center'><li class='list-inline-item'><h5 class='mb-0'>694</h5><p class='text-muted font-14'>Activated</p></li><li class='list-inline-item'><h5 class='mb-0'>55210</h5><p class='text-muted font-14'>Pending</p></li><li class='list-inline-item'><h5 class='mb-0'>489498</h5><p class='text-muted font-14'>Deactivated</p></li></ul>";*/
            //display += dispspan;
            display += "<div class='box-body' id='divcnt" + canvasid + "'>";

                    display += "<canvas id='"+canvasid+"' height='100' ></canvas>";
                    display += "</div>";
            display += "</div>";
            display += "</div>";
                    display += "</div>";
                    //display += '</div>';

                });

                $(".dynamicbinding").html(display);

                //////console.log(display);

        $('#divoverall').html('');
        $('#divoverall').html("<canvas id='Overall' height='420' width='841' style='width: 561px; height: 280px;'></canvas>");

                companyunique.forEach(function(item, index, companyname){

                    for(i=0;i<Object.keys(companydetails).length;i++){

                        if(item == companydetails[i].companyname){
                            var canvasid = item + i;
                            ////console.log(canvasid);

                            var data = {
                                labels: companydetails[i].responseid,
                                datasets: [{
                                    label: item,
                                    data: companydetails[i].reportdata,
                                    backgroundColor: [
                                        "#ff4081",
                                        "#43a047",
                                        "#f57c00",
                                        "#4bc0c0",
                                        "#565656",
                                        "#7CB342",
                                        "#9CCC65",
                                        "#E7E9ED",
                                        "#FF6384",
                                        "#FFCE56"
                                    ],
                                    hoverBackgroundColor: [
                                        "#ff4081",
                                        "#43a047",
                                        "#f57c00",
                                        "#4bc0c0",                                        
                                        "#565656",
                                        "#7CB342",
                                        "#9CCC65",
                                        "#E7E9ED",
                                        "#FF6384",
                                        "#FFCE56"
                                    ],
                                    hoverBorderColor: "#fff"

                                }]

                            };

                            //////console.log(data);
                            //alert(companydetails[i].companyname);
                            var ctx = document.getElementById(canvasid).getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: ctype,//'pie'
                                data: data
                                //,
                                //options: options
                            });

                        }

                    }

                });

        var setval = "";
                var datasets = [];
        var cntd = 0;
        var lblname = "";
        var colorcode = ["#ff4081",
            "#43a047",
            "#f57c00",           
            "#4BC0C0",
            "#565656",
            "#7CB342",
            "#9CCC65",
            "#E7E9ED",
            "#FF6384",
            "#FFCE56"];

                companyresponseunique.forEach(function(item, index, companyresponseunique){

                    var companydata = [];

                    companyunique.forEach(function(itm, ind, companyunique){



                        for(i=0;i<Object.keys(obj).length;i++){

                            if(obj[i].responseid == item){

                                if(obj[i].companyname== itm){

                                    companydata.push(obj[i].reportdata);

                                    lblname = obj[i].responseid;

                                }

                            }

                        }

                    });

                    dataset = {
                        label: item,
                        data: companydata,
                        backgroundColor: colorcode[index]
                    };

                    datasets.push(dataset);

                    // setval = "<span class=''>" + lblname + "</span> <button class=\"jscolor {valueElement:'chosen-value', onFineChange:'setTextColor(this," + cntd + ")'} mdi mdi-blur-linear \"><span class=''></span></button>";
                    setval = "<span class='setcolorpicker' id='overall-" + cntd+"'>" + lblname + "<i class=\"mdi mdi-blur-linear\"></i></span>";
                    $('#divoverall').append(setval);

                    cntd = cntd + 1;
                });

                ////console.log(datasets);
                //$('#divoverall').html('');
                var ctx = document.getElementById("Overall").getContext('2d');

                myChartOverall = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: companyunique,
                        datasets: datasets
                    }
        });

        $('.setcolorpicker').colorpicker({
            colorSelectors: {
                'black': '#000000',
                'white': '#ffffff',
                'red': '#FF0000',
                'default': '#777777',
                'primary': '#337ab7',
                'success': '#5cb85c',
                'info': '#5bc0de',
                'warning': '#f0ad4e',
                'danger': '#d9534f',
                '#900C3F': '#900C3F',
                '#7f1195': '#7f1195'
            }
        });

        $('.setcolorpicker').colorpicker().on('changeColor',
            function (event) {
                //alert(event.color.toHex());
                //$('#divoverall').css("background-color", event.color.toHex());

                //myChartOverall.data.datasets[2].backgroundColor = event.color.toHex();
                var pos = $(this).attr("id");
                //console.log(pos);
                pos = pos.replace('overall-', '');

                myChartOverall.data.datasets[parseInt(pos)].backgroundColor = event.color.toHex();
                myChartOverall.update();
            });

       // $('#hiddoverall').val(myChartOverall);

        //display +=
            }
    function setTextColor(picker, cntd) {
        //alert('x');
       // //alert('#' + picker.toString());
       // //////console.log($("input[name^='divCompany']"));
       //// $('#divoverall').css("background-color", '#' + picker.toString());
        myChartOverall.data.datasets[cntd].backgroundColor = '#' + picker.toString();
        console.log(myChartOverall.data.datasets[0]);
        myChartOverall.update();



       //// $("input[name^='divCompany']").css("background-color", '#' + picker.toString());
       // //document.getElementsByTagName('body')[0].style.color = '#' + picker.toString()
    }
</script>
<script type="text/javascript">
    function popdown() {
        //alert('x');
        var canvas = document.getElementById('Overall');
        //var context = canvas.getContext('2d');

        //alert(canvas);

        // draw a blue cloud


        // only jpeg is supported by jsPDF
        var imgData = canvas.toDataURL("image/jpeg", 2.0);
        var pdf = new jsPDF();

        pdf.addImage(imgData, 'JPEG', 50, 50);
        pdf.save("download.pdf");
    }
</script>
<!-- Chart Js Code end here -->
<!-- AdminLTE App -->
<script src="../dist/js/adminlte.min.js"></script>

<script src="../blue/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>

<!-- Download PDF -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>

<script>
    function downloadCanvas(link, cntrl, filename) {
        link.href = document.getElementById(cntrl).toDataURL();
        link.download = filename;
    }
</script>
@*<script type="text/javascript">
        $(document).ready(function () {
            jscolor.init();
        });
    </script>*@
