﻿@model List<ECIModel.UserPrefModel>
    @{
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }

    <!-- App Icons -->
    <link rel="shortcut icon" href="../blue/assets/images/favicon.ico">

    <!-- App css -->
    <link href="../blue/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/css/style.css" rel="stylesheet" type="text/css" />


    <!-- Plugins css -->
    <link href="../blue/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="../blue/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="../blue/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

    @using (Html.BeginForm("UserReferencePost", "SuperAdmin", FormMethod.Post))
    {
        <div class="wrapper">
            <div class="container-fluid">
                <div class="row">



                    <div class="col-lg-6">
                        <div class="card m-b-20">
                            <div class="card-body">

                                <h4 class="mt-0 header-title">Report</h4>
                                @*<p class="text-muted m-b-30 font-14">Extend the default collapse behavior to create an accordion.</p>*@


                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header p-3" id="headingOne">
                                            <h6 class="m-0">
                                                <a href="#collapseOne" class="text-dark" data-toggle="collapse"
                                                   aria-expanded="true"
                                                   aria-controls="collapseOne">
                                                    Company
                                                </a>
                                            </h6>
                                        </div>

                                        <div id="collapseOne" class="collapse show"
                                             aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label class="control-label">Multiple Select</label>

                                                    <select id="ddlcompany" class="select2 form-control select2-multiple" multiple="multiple" multiple data-placeholder="Choose ..."></select>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3" id="headingTwo">
                                            <h6 class="m-0">
                                                <a href="#collapseTwo" class="text-dark collapsed" data-toggle="collapse"
                                                   aria-expanded="false"
                                                   aria-controls="collapseTwo">
                                                    Year
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                             data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label class="control-label">Multiple Select</label>

                                                    <select id="ddlyear" class="select2 form-control select2-multiple" multiple="multiple" multiple data-placeholder="Choose ..."></select>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3" id="headingThree">
                                            <h6 class="m-0">
                                                <a href="#collapseThree" class="text-dark collapsed" data-toggle="collapse"
                                                   aria-expanded="false"
                                                   aria-controls="collapseThree">
                                                    Category
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseThree" class="collapse"
                                             aria-labelledby="headingThree" data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label class="control-label">Multiple Select</label>

                                                    <select id="ddlcategory" class="select2 form-control select2-multiple" multiple="multiple" multiple data-placeholder="Choose ..."></select>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-3" id="headingFour">
                                            <h6 class="m-0">
                                                <a href="#collapseFour" class="text-dark collapsed" data-toggle="collapse"
                                                   aria-expanded="false"
                                                   aria-controls="collapseFour">
                                                    Label
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseFour" class="collapse"
                                             aria-labelledby="headingFour" data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label class="control-label">Multiple Select</label>

                                                    <select id="ddllabel" class="select2 form-control select2-multiple" multiple="multiple" multiple data-placeholder="Choose ..."></select>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card m-b-20">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>

                    <!-- end col -->
                </div>
            </div>
        </div>
        <!-- end row -->
        <!-- Required datatable js -->
        <script src="../blue/assets/js/jquery.min.js"></script>
        <script src="../blue/assets/js/popper.min.js"></script>
        <script src="../blue/assets/js/bootstrap.min.js"></script>
        <script src="../blue/assets/js/modernizr.min.js"></script>
        <script src="../blue/assets/js/waves.js"></script>
        <script src="../blue/assets/js/jquery.slimscroll.js"></script>
        <script src="../blue/assets/js/jquery.nicescroll.js"></script>
        <script src="../blue/assets/js/jquery.scrollTo.min.js"></script>

        <!-- App js -->


        <!-- Plugins js -->
        <script src="../blue/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
        <script src="../blue/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="../blue/assets/plugins/select2/js/select2.min.js" type="text/javascript"></script>
        <script src="../blue/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
        <script src="../blue/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
        <script src="../blue/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>

        <!-- Plugins Init js -->
        <script src="../blue/assets/pages/form-advanced.js"></script>

        <!-- App js -->
        <script src="../blue/assets/js/app.js"></script>
    }
        <script type="text/javascript">
    $(document).ready(function () {
        ddlcompanyfunc();
        ddlyearfunc();
        ddlCatfunc();
})

        function ddlcompanyfunc() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetCompanyLists", "SuperAdmin")',
            data: {},
            async: false,
            success: function (data) {
                var display = "";
                for (i = 0; i < Object.keys(data).length; i++) {
                    display += "<option value='" + data[i].id + "'>" + data[i].companyName + "</option>"
                }
                $("#ddlcompany").html(display);

            }
        });

        }
         function ddlyearfunc() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetYears", "SuperAdmin")',
            data: {},
            async: false,
            success: function (data) {
                var display = "";
                for (i = 0; i < Object.keys(data).length; i++) {
                    display += "<option value='" + data[i].yearid + "'>" + data[i].yearid + "</option>"
                }
                $("#ddlyear").html(display);

            }
        });

        }
          function ddlCatfunc() {

        $.ajax({
            type: 'POST',
             url: '@Url.Action("GetCategoryList", "SuperAdmin")',
            data: {},
            async: false,
            success: function (data) {
                var display = "";
                for (i = 0; i < Object.keys(data).length; i++) {
                    display += "<option value='" + data[i].categoryid + "'>" + data[i].CategoryName + "</option>"
                }
                $("#ddlcategory").html(display);

            }
        });

    }
        </script>
