﻿@{
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">

                <h4 class="mt-0 header-title">Add User</h4>
                <p class="text-muted m-b-30 font-14">Please update required information to add new User.</p>

                <div class="form-group row">
                    <label for="FirstName-input" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" value="" id="FirstName-input">
                    </div>
                    <label for="MiddleName-input" class="col-sm-2 col-form-label">Middle Name</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" value="" id="MiddleName-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="LastName-input" class="col-sm-2 col-form-label">Last Name</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" value="" id="LastName-input">
                    </div>
                    <label for="CompanyName-input" class="col-sm-2 col-form-label">Company Name</label>
                    <div class="col-sm-4">
                        <select class="form-control">
                            <option>Select</option>
                            <option>Company A</option>
                            <option>Company B</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="username-input" class="col-sm-2 col-form-label">User Name</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" required
                               parsley-type="email" placeholder="Enter a valid e-mail" />
                    </div>
                    <label for="Password-input" class="col-sm-2 col-form-label">Mobile</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="tel" value="" id="Telephone-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Password-input" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="password" value="" id="Password-input">
                    </div>
                    <label for="rePassword-input" class="col-sm-2 col-form-label">Re Type Password</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="password" value="" id="rePassword-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Birthdate-input" class="col-sm-2 col-form-label">Status</label>
                    <div class="col-sm-4">
                        <select class="form-control">
                            <option>Select</option>
                            <option>Active</option>
                            <option>InActive</option>
                            <option>DeActive</option>
                        </select>
                    </div>
                    <label for="Role-input" class="col-sm-2 col-form-label">User Group</label>
                    <div class="col-sm-4">
                        <select class="form-control">
                            <option>Select</option>
                            <option>ECI Admin</option>
                            <option>iBridge Admin</option>
                            <option>Admin</option>
                            <option>User</option>
                        </select>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div>
                        <button type="button" class="btn btn-primary waves-effect waves-light" onclick="save()">
                            Save
                        </button>
                        <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function save() {
        alert("You could not save data... waiting for role assignment..")
        return false;
    }
</script>
