﻿@model List<ECIModel.UserRefModel>

    @{
        Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
    }

    <!-- App Icons -->
    <link rel="shortcut icon" href="../blue/assets/images/favicon.ico">

    <!-- App css -->
    <link href="../blue/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/css/style.css" rel="stylesheet" type="text/css" />


    <!-- Plugins css -->
    <link href="../blue/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="../blue/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="../blue/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

    <!-- DataTables -->
    <link href="../blue/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="../blue/assets//plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />


    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card m-b-20">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">Report</h4>
                            @*<p class="text-muted m-b-30 font-14">Extend the default collapse behavior to create an accordion.</p>*@

                            <div class="form-group">
                                <input type="text" class="form-control" id="txtreportname" />
                            </div>
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header p-3" id="headingOne">
                                        <h6 class="m-0">
                                            <a href="#collapseOne" class="text-dark" data-toggle="collapse"
                                               aria-expanded="true"
                                               aria-controls="collapseOne">
                                                Filter
                                            </a>
                                        </h6>
                                    </div>

                                    <div id="collapseOne" class="collapse show"
                                         aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label class="control-label">Company</label>
                                                <select id="ddlfiltcompany" class="select2 form-control select2-multiple" multiple="multiple" multiple data-placeholder="Choose ..."></select>
                                                <label class="control-label">Year</label>
                                                <select id="ddlfiltyear" class="select2 form-control select2-multiple" multiple="multiple" multiple data-placeholder="Choose ..."></select>
                                                <label class="control-label">Category</label>
                                                <select id="ddlfiltcategory" class="select2 form-control select2-multiple" onchange='catchange(this);' multiple="multiple" multiple data-placeholder="Choose ..."></select>
                                                <label class="control-label">Label</label>
                                                <select id="ddlfiltlabel" class="select2 form-control select2-multiple" multiple="multiple" multiple data-placeholder="Choose ..."></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-3" id="headingTwo">
                                        <h6 class="m-0">
                                            <a href="#collapseTwo" class="text-dark collapsed" data-toggle="collapse"
                                               aria-expanded="false"
                                               aria-controls="collapseTwo">
                                                Group by
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label class="control-label">Multiple Select</label>
                                                <select id="ddlgroupby" class="select2 form-control select2-multiple" multiple="multiple" multiple data-placeholder="Choose ..." onchange="Moveval()">
                                                    <option value="account.companyname"> companyname</option>
                                                    <option value="Category">Category</option>
                                                    <option value="DataLabel">DataLabel</option>
                                                    <option value="SurveyYear">SurveyYear</option>
                                                    <option value="ResponseValue">ResponseID</option>
                                                    <option value="ResponseCount">ResponseCount</option>
                                                    <option value="ReponsePercent">ReponsePercent</option>
                                                </select>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header p-3" id="headingThree">
                                        <h6 class="m-0">
                                            <a href="#collapseThree" class="text-dark collapsed" data-toggle="collapse"
                                               aria-expanded="false"
                                               aria-controls="collapseTwo">
                                                Matrics
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label class="control-label">Multiple Select</label>
                                                <select id="ddlmatrics" class="select2 form-control select2-multiple" multiple="multiple" multiple data-placeholder="Choose ...">
                                                    <
                                                    <option value="count(ResponseVal)">no of Response</option>
                                                    <option value="Percent Response">Percentage of Response</option>

                                                </select>


                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="card">
                                    <div class="card-header p-3" id="headingfour">
                                        <h6 class="m-0">
                                            <a href="#collapsefour" class="text-dark collapsed" data-toggle="collapse"
                                               aria-expanded="false"
                                               aria-controls="collapsefour">
                                                Axis
                                            </a>
                                        </h6>
                                    </div>
                                    <div id="collapsefour" class="collapse" aria-labelledby="headingfour"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label class="control-label">X Axis</label>
                                                <select id="ddlxaxis" class="select2 form-control"  data-placeholder="Choose ..."></select>
                                                <br />
                                                <label class="control-label">Y Axis</label>
                                                <select id="ddlyaxis" class="select2 form-control" onchange="checkval();"  data-placeholder="Choose ..."></select>


                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <br />
                            <button type="button" class="btn btn-primary" onclick="Addprefer(1)">Save</button>
                            <button type="button" class="btn btn-primary" onclick="Addprefer(2)" >Run</button>
                            <button type="button" class="btn btn-primary" onclick="Addprefer(3)">Save and Run</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card m-b-20">
                        <div class="card-body">

                            @if (Model != null)
                            {
                                if (Model.Count > 0)
                                {
                                    <table id="gridtab" class="table table-bordered ">
                                        <thead>
                                            <tr style="text-align:center">
                                                <th style="text-align:left">My Reports</th>
                                                <th>Run</th>
                                                <th>Export</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr style="text-align:center">
                                                <td style="text-align:left">@item.ReportName</td>
                                                <td><a href="@Url.Action("CustomReport", "SuperAdmin", new { reportid = item.Reportid,reportname=item.ReportName })"><i class="mdi mdi-play" style="font-size:24px;"></i></a></td>
                                                <td>
                                                    <a href="@Url.Action("ExportData", "SuperAdmin", new { reportid = item.Reportid,reportname=item.ReportName })"><i class="mdi mdi-export" style="font-size:24px;"></i></a>
                                                </td>
                                                <td><i class="mdi mdi-table-edit" style="font-size:24px;"></i></td>
                                                <td><i class="mdi mdi-delete" style="font-size:24px;"></i></td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </div>
                </div>

                <!-- end col -->
            </div>
        </div>
    </div>
    <!-- end row -->
    <!-- Required datatable js -->
    <script src="../blue/assets/js/jquery.min.js"></script>
    <script src="../blue/assets/js/popper.min.js"></script>
    <script src="../blue/assets/js/bootstrap.min.js"></script>
    <script src="../blue/assets/js/modernizr.min.js"></script>
    <script src="../blue/assets/js/waves.js"></script>
    <script src="../blue/assets/js/jquery.slimscroll.js"></script>
    <script src="../blue/assets/js/jquery.nicescroll.js"></script>
    <script src="../blue/assets/js/jquery.scrollTo.min.js"></script>

    <!-- App js -->
    <!-- Plugins js -->
    <script src="../blue/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="../blue/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="../blue/assets/plugins/select2/js/select2.min.js" type="text/javascript"></script>
    <script src="../blue/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
    <script src="../blue/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
    <script src="../blue/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>

    <!-- Required datatable js -->
    <script src="../blue/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../blue/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Buttons examples -->
    <script src="../blue/assets//plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="../blue/assets//plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="../blue/assets//plugins/datatables/jszip.min.js"></script>
    <script src="../blue/assets//plugins/datatables/pdfmake.min.js"></script>
    <script src="../blue/assets//plugins/datatables/vfs_fonts.js"></script>
    <script src="../blue/assets//plugins/datatables/buttons.html5.min.js"></script>
    <script src="../blue/assets//plugins/datatables/buttons.print.min.js"></script>
    <script src="../blue/assets//plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="../blue/assets//plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="../blue/assets//plugins/datatables/responsive.bootstrap4.min.js"></script>

    <!-- Plugins Init js -->
    <script src="../blue/assets/pages/form-advanced.js"></script>

    <!-- App js -->
    <script src="../blue/assets/js/app.js"></script>
    <script>
        $(function () {
            $('#gridtab').DataTable()

        })</script>
    <script type="text/javascript">
        $(document).ready(function () {
            ddlfiltcompanyfunc();
            ddlfiltyearfunc();
            ddlCatfunc();
            ddlgroupbyfunc();
            Moveval();
            
        });
        function checkval() {
          //  alert('vl');
            var Xaxis = $('#ddlxaxis').val();
            var Yaxis = $('#ddlyaxis').val();            
            if (Xaxis == Yaxis) {
                //var lastSel = $("#ddlyaxis option:selected");
                //lastSel.prop("selected", false);

                alert('Cant Select Xaxis Val');
                //  $('#ddlyaxis').val('Select');
                return;// $("#ddlyaxis option[value='Select']").attr('selected', 'selected');
                // $("#ddlyaxis option[value='Select']").prop("selected", true);
            }           
        }
        function Moveval() {
            var Groupby = $('#ddlgroupby').val();

            var g = 0;
            var display = "<option value='Select'>Select</option>";
            for (g = 0; g <= (+Groupby.length - +1); g++) {
                var axval = "";
                if (Groupby[g] == "account.companyname") {
                    axval = "CompanyName";
                }
                else {
                    axval = Groupby[g];
                }
              //  Groupbyarr = Groupbyarr + "," + Groupby[g];
                display += "<option value='" + axval + "'>" + axval + "</option>"
            }
            $("#ddlxaxis").html(display);
            $("#ddlyaxis").html(display);
        }
        function Addprefer(svstatus) {
           // alert(svstatus);
        var Category = $('#ddlfiltcategory').val();
        var Year = $('#ddlfiltyear').val();
        var Company = $('#ddlfiltcompany').val();
        var Label = $('#ddlfiltlabel').val();
        var Groupby = $('#ddlgroupby').val();
        var Matrics = $('#ddlmatrics').val();
            var reportname = $('#txtreportname').val();
            var xaxis = $('#ddlxaxis').val();
            var yaxis = $('#ddlyaxis').val();
            if (xaxis == yaxis) {
                //var lastSel = $("#ddlyaxis option:selected");
                //lastSel.prop("selected", false);

                alert('Check axis Values');
                //  $('#ddlyaxis').val('Select');
                return false;// $("#ddlyaxis option[value='Select']").attr('selected', 'selected');
                // $("#ddlyaxis option[value='Select']").prop("selected", true);
            }
            else if (reportname == '') {
                alert('ReportName Should Not be Empty;');
                //  $('#ddlyaxis').val('Select');
                return false;
            }

        var Categoryarr;
        var Yeararr;
        var Companyarr;
        var Labelarr;
        var Groupbyarr;
        var Matricsarr;
       
       // alert(reportname);        
       
       
        var c = 0;
        for (c = 0; c <= (+Category.length - +1); c++) {
            Categoryarr = Categoryarr + "," + Category[c];
        }
        var y = 0;
        for (y = 0; y <= (+Year.length - +1); y++) {
            Yeararr = Yeararr + "," + Year[y];
        }
        var p = 0;
        for (p = 0; p <= (+Company.length - +1); p++) {
            Companyarr = Companyarr + "," + Company[p];
        }
        var l = 0;
        for (l = 0; l <= (+Label.length - +1); l++) {
            Labelarr = Labelarr + "," + Label[l];
        }
        var g = 0;
        for (g = 0; g <= (+Groupby.length - +1); g++) {
            Groupbyarr = Groupbyarr + "," + Groupby[g];
        }
        var m = 0;
        for (m = 0; m <= (+Matrics.length - +1); m++) {
            Matricsarr = Matricsarr + "," + Matrics[m];
        }
        
            







            //alert(Category, Year, Comment, Label, Groupby, Matrics, reportname);




            $.ajax({
                type: 'POST',
                url: '@Url.Action("InsertUserPreference", "SuperAdmin")',
                data: { category: Categoryarr, year: Yeararr, company: Companyarr, label: Labelarr, groupby: Groupbyarr, matrics: Matricsarr, ReportName: reportname, SaveStatus: svstatus, X: xaxis, Y: yaxis },
                async: false,
                success: function (data) {
                    console.log(data);
                    if (data.length > 3) {

                        var OpenVal = data.split(',');

                        var url = '@Html.Raw(Url.Action("CustomReport", "SuperAdmin", new { reportid = "rptid", reportname = "rptname"}))';
                        var params = url.replace('rptid', OpenVal[0]).replace('rptname', OpenVal[1]);
                        window.location.href = params;
                    }
                    else {
                        location.reload();
                    }
                    
                }
            });

        }
        function ddlgroupbyfunc() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetCompanyLists", "SuperAdmin")',
            data: {},
            async: false,
            success: function (data) {
                var display = "";
                for (i = 0; i < Object.keys(data).length; i++) {
                    display += "<option value='" + data[i].id + "'>" + data[i].companyName + "</option>"
                }
                $("#ddlfiltcompany").html(display);

            }
        });

        }
        function ddlfiltcompanyfunc(){

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetCompanyLists", "SuperAdmin")',
            data: {},
            async: false,
            success: function (data) {
                var display = "";
                for (i = 0; i < Object.keys(data).length; i++) {
                    display += "<option value='" + data[i].id + "'>" + data[i].companyName + "</option>"
                }
                $("#ddlfiltcompany").html(display);

            }
        });

        }
         function ddlfiltyearfunc() {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetYears1", "SuperAdmin")',
            data: {},
            async: false,
            success: function (data) {
                var display = "";
                for (i = 0; i < Object.keys(data).length; i++) {
                    display += "<option value='" + data[i].yearid + "'>" + data[i].yearid + "</option>"
                }
                $("#ddlfiltyear").html(display);

            }
        });

        }
          function ddlCatfunc() {

        $.ajax({
            type: 'POST',
             url: '@Url.Action("GetCategoryList1", "SuperAdmin")',
            data: {},
            async: false,
            success: function (data) {
                var display = "";
                for (i = 0; i < Object.keys(data).length; i++) {
                    display += "<option value='" + data[i].categoryid + "'>" + data[i].CategoryName + "</option>"
                }
                $("#ddlfiltcategory").html(display);

            }
        });

    }
    var display = "";
    function catchange(cntrl) {
        display = "";
        $('#ddlfiltlabel').html('');
        var id1 = $(cntrl).val();
        var i = 0;
        for (i = 0; i <= (+id1.length - +1); i++) {
            catloop(id1[i])
        }

    }
    function catloop(id1) {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetDataLabelListByCatID", "SuperAdmin")',
            data: { catid: id1 },
            async: false,
            success: function (data) {
                for (i = 0; i < Object.keys(data).length; i++)
                {
                    display += "<option value='" + data[i].DataLabelID + "'>" + data[i].DataLabelName + "</option>"
                }
                $("#ddlfiltlabel").html(display);



            }
        });
    }
    </script>

