﻿@*@using System.Data;
@if (Session["MenuMaster"] != null)
{
    DataTable dataTable = new DataTable();
    dataTable = (DataTable)Session["MenuMaster"];

    foreach (DataRow dr in dataTable.Select("Parentid = 0", "OrderID asc"))
    {
        if (dr["IsHasChild"].ToString().ToLower() == "true")
        {
            <li class="has-submenu">
                <a href="#"><i class="@dr["class"]"></i>@dr["menuname"]<i class="mdi mdi-chevron-down mdi-drop"></i></a>
                <ul class="submenu">
                    <li>
                        <ul>
                            @foreach (DataRow drchild in dataTable.Select("Parentid = " + dr["id"].ToString(), "OrderID asc"))
                            {
                            <li><a href="@drchild["URLPath"]"> @drchild["menuname"]</a></li>
                            }
                        </ul>
                    </li>

                </ul>
            </li>
        }
        else
        {
            <li class="has-submenu">
                <a href="@dr["URLPath"]"><i class="@dr["class"]"></i>@dr["menuname"]</a>
            </li>
        }

    }
}*@
      
            <script>
                $(function () {
                    var jsonstring = sessionStorage.getItem("MenuList");

                    //alert(jsonstring);

                    var obj = JSON.parse(jsonstring);

                    var displaytex = "";
                    for (i = 0; i < Object.keys(obj).length; i++) {
                        if (obj[i].ParentId == "0") {
                            if (obj[i].IsHasChild) {
                                displaytex = displaytex + "<li class='has-submenu'>";
                                displaytex = displaytex + "<a href='#'><i class='" + obj[i].class + "'></i>" + obj[i].menuname + "<i class='mdi mdi-chevron-down mdi-drop'></i></a>";
                                displaytex = displaytex + "<ul class='submenu'>";
                                displaytex = displaytex + "<li>";
                                displaytex = displaytex + "<ul>";
                                for (ii = 0; ii < Object.keys(obj).length; ii++) {
                                    if (obj[ii].ParentId == obj[i].ParentId) {
                                        displaytex = displaytex + "<li><a href='" + obj[ii].URLPath + "'> " + obj[ii].menuname + "</a></li>";
                                    }
                                    displaytex = displaytex + "</ul>";
                                    displaytex = displaytex + "</li>";
                                    displaytex = displaytex + "</ul>";
                                    displaytex = displaytex + "</li>";
                                }

                            }
                            else {
                                displaytex = displaytex + '<li class="has-submenu"><a href="' + obj[i].URLPath + '"><i class="' + obj[i].class + '"></i>' + obj[i].menuname + '</a></li>';
                            }
                        }
                    }
                    $('#menuload').append(displaytex);

                    //alert(displaytex);

                });
            </script>