﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using ECIModel;
@{
    var givename = "";
    var UserNo ="";
    //var usertype = 0;
    //var timeoutval = HttpContext.Current.Session.Timeout;
}
@*@if (HttpContext.Current.Session["SessionUser"] != null)
{
    SessionUser SessionUser = (SessionUser)HttpContext.Current.Session["SessionUser"];
    givename = SessionUser.FirstName + " " + SessionUser.LastName;
    //usertype = SessionUser.UserType;
}*@
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>@ViewBag.Title</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesbrand" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- App Icons -->
    <link rel="shortcut icon" href="../blue/assets/images/favicon.ico">

    <!-- App css -->
    <link href="../blue/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="../blue/assets/js/jquery.min.js"></script>
    <script src="../blue/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>

        <link href="../css/timeout-dialog.css" rel="stylesheet" type="text/css" />

        <script src="../js/timeout-dialog.js" type="text/javascript"></script>*@
    <style>
        .card-body {
            padding-top: .5rem;
            padding-right: .5rem;
            padding-bottom: .5rem;
            padding-left: .5rem;
        }
        body {
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
            color: #212529 !important;
        }
    </style>
    <style>
        #content {
            padding: 25px;
        }

        #fade {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 400%;
            background-color: #ababab;
            z-index: 1001;
             -moz-opacity: 0.8;
            opacity: .90;
            filter: alpha(opacity=80); 
           
        }
        .fa-edit {
            font-size:16px !important;
        }
        .tablelinehieght {
            line-height:0.5;
        }
      .tablelinehieght  .card-body {
padding-top: 1.5rem;
padding-right: 1.5rem;
padding-bottom: 1.5rem;
padding-left: 1.5rem;
}

        .table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > td {
    padding: 12px 12px;
}
         #fade1 {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 400%;
            background-color: white; 
            padding-top:20%;
            padding-left:50%;
            z-index: 1051;     
             -moz-opacity: 0.8;
            opacity: .90;
            filter: alpha(opacity=80);      
        }

        #modal {
            display: none;
            position: absolute;
            top: 45%;
            left: 45%;
            padding: 15px 10px 0px;
            box-shadow: 1px 1px 10px #ababab;
            border-radius: 20px;
            background-color: white;
            z-index: 1002;
            text-align: center;
            overflow: auto;
        }

        #fadeonchange {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 400%;
            background-color: #ababab;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .30;
            filter: alpha(opacity=80);
        }

        #modalonchange {
            display: none;
            position: absolute;
            top: 45%;
            left: 45%;
            width: 64px;
            height: 64px;
            padding: 15px 10px 0px;
            border: 3px solid #ababab;
            box-shadow: 1px 1px 10px #ababab;
            border-radius: 20px;
            background-color: white;
            z-index: 1002;
            text-align: center;
            overflow: auto;
        }

        #results {
            font-size: 1.25em;
            color: red;
        }

        .btn-primary {
            background-color: #0d5fa5;
            border: 1px solid #0d5fa5;
        }
      
    </style>
    <script>
        var FolderPath = "";
        function SessionExpireAlert(timeout) {
            var seconds = timeout / 1000;
            $('#seconds').html(seconds);
            setInterval(function () {
                seconds--;
                $('#seconds').html(seconds);
            }, 1000);
            setTimeout(function () {
                //Show Popup before 20 seconds of timeout.
                $('#dialog').dialog('open');
                //alert('Session is going expire in :' + seconds +'seconds.');
            }, timeout - 20 * 1000);
            setTimeout(function () {
                //location.reload(); location.href = "@Url.Action("SessionLogout", "Home")";
                LoadNewScreen("@Url.Action("SessionLogout", "Home")");
            }, timeout);
        };
        function ResetSession() {
            //Redirect to refresh Session.
            window.location = window.location.href;
        }
        function Redirection(actionurl) {
            if (actionurl == "cpass") {
                var url = '@Html.Raw(Url.Action("ResetPass", "Home", new { UserNum = "Userid", status = "no"}))';
                var params = url.replace('Userid', sessionStorage.getItem("UserNum"));
                window.location.href = params;
            }
            else if (actionurl == "logout") {

                userlogout();
                // alert('jesus');                
                // var params = url.replace('Userid', sessionStorage.getItem("UserNum"));
           
            }
            else {
                var url = '@Html.Raw(Url.Action("EditUser", "SuperAdmin", new { userid = "Userid", FromScreen = "profile" }))';
                var params = url.replace('Userid', sessionStorage.getItem("UserNum"));
                window.location.href = params;
            }
         
            
        }
        function userlogout() {
            var UserNum = sessionStorage.getItem("UserNum");

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UserLogout", "SuperAdmin")',
                    data: { Usernum: UserNum },
                    async: true,
                    success: function (data) {
                       
                        sessionStorage.removeItem("UserNum");
                        sessionStorage.removeItem("FName");
                        sessionStorage.removeItem("LName");
                        sessionStorage.removeItem("AccountId");
                        sessionStorage.removeItem("MenuList");
                        sessionStorage.removeItem("UserType");
                        //var i = sessionStorage.length;
                        //while (i--) {
                        //    var key = sessionStorage.key(i);
                        //    if (/foo/.test(key)) {
                        //        sessionStorage.removeItem(key);
                        //    }
                        //}
                            var url = '@Html.Raw(Url.Action("Login", "Home/Login"))';
                            window.location.href = url;
                        

                    }
                });
                //var i = sessionStorage.length;
                //while (i--) {
                //    var key = sessionStorage.key(i);
                //    if (/foo/.test(key)) {
                //        sessionStorage.removeItem(key);
                //    }
                //}
        }
        $(document).ready(function () {
            //$('#divsession').modal('show');
            if (sessionStorage.getItem("UserNum") == null) {
                //alert(sessionStorage.getItem("UserNum"));
                //open(location, '_self').close();
                window.open("@Url.Action("NextTab", "Home")", '_self').close();
                return false;
                //window.close();
            }
            var givename = sessionStorage.getItem("FName") + " " + sessionStorage.getItem("LName");
            $('#givname').html(givename);
            var UserNum = sessionStorage.getItem("UserNum");
         
          //  $('#divsession').modal('show');
            var timeoutval = 60000 * 44;

            setTimeout(function () {
                $('#divsession').modal('show');
            }, timeoutval);
                        
            $('#btnsessionyes').on('click', function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("IsValidSession", "SuperAdmin")',
                    data: { usernum: UserNum, resetsession: 1 },
                    async: true,
                    success: function (data) {
                        if (data.Message == "InValid") {
                            //location.reload(); location.href = "@Url.Action("SessionLogout", "Home")";
                            LoadNewScreen("@Url.Action("SessionLogout", "Home")");
                        }
                        else {
                            $('#divsession').modal('hide');
                        }
                    }
                });
            });
            $('#btnsessionno').on('click', function () {
                userlogout();
                //location.reload(); location.href = "@Url.Action("SessionLogout", "Home")";
                LoadNewScreen("@Url.Action("SessionLogout", "Home")");
                @*$.ajax({
                    type: 'POST',
                    url: '@Url.Action("IsValidSession", "SuperAdmin")',
                    data: { usernum: UserNum, resetsession: 0 },
                    async: true,
                    success: function (data) {
                        if (data.Message == "InValid") {
                            location.reload(); location.href = "@Url.Action("SessionLogout", "Home")";
                        }
                        else {
                            $('#divsession').modal('hide');
                        }
                    }
                });*@
            });
           
             $.ajax({
                    type: 'POST',
                    url: '@Url.Action("IsValidSession", "SuperAdmin")',
                    data: { usernum: UserNum, resetsession: 0 },
                    async: true,
                    success: function (data) {
                        if (data.Message == "InValid") {
                            //location.reload(); location.href = "@Url.Action("SessionLogout", "Home")";
                            Load("@Url.Action("SessionLogout", "Home")");
                        }
                        
                    }
                });

            //alert(d);

    @*$("#dialog").dialog({
        modal: true,
        autoOpen: false,
        title: "Session Expired",
        width: 300,
        height: 185
    });

    var time = @timeoutval * 1000 * 60;
    console.log("Total Timout:" + time);
                  SessionExpireAlert(time);
    $('#btnYes').on('click', function () {
        window.location = window.location.href;
    });
    $('#btnNo').on('click', function () {
        location.reload(); location.href = "@Url.Action("SessionLogout", "Home")";
    });*@
                //timeout = setTimeout(function() {
                //    //Things you need to do
                //    isLogout = true;

                //   // $('#idmodel').show();

                //    alert('Show Timeout Warning');
                //    return false;

                //}, time);

                //$(document).on('click', function () {
                //    if (!isLogout) {
                //        clearTimeout(timeout);
                //        timeout = setTimeout(function() {
                //            //Things you need to do
                //            isLogout = true;

                //            //$('#idmodel').show();
                //            alert('Show Timeout Warning');
                //            return false;
                //        }, time);
                //    }
                //});
            });
    </script>
</head>


<body>

    <!-- Loader -->
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

    <div class="header-bg">
        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container-fluid">

                    <!-- Logo container-->
                    <div class="logo">
                        <!-- Text Logo -->
                        <a href="AlterDashboard" class="logo" style=" font-size: 24px;">
                            ECI ANALYTICS PORTAL
                        </a>
                        <!-- Image Logo -->
                        <!-- <a href="index.html" class="logo">
                            <img src="../blue/assets/images/logo-sm.png" alt="" height="22" class="logo-small">
                            <img src="../blue/assets/images/logo.png" alt="" height="24" class="logo-large">
                        </a> -->

                    </div>
                    <!-- End Logo container-->


                    <div class="menu-extras topbar-custom">

                        <ul class="list-inline float-right mb-0">

                            <!-- notification-->
                            @*<li class="list-inline-item dropdown notification-list">
                                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                       aria-haspopup="false" aria-expanded="false">
                                        <i class="ti-bell noti-icon"></i>
                                        <span class="badge badge-info badge-pill noti-icon-badge">3</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
                                        <!-- item-->
                                        <div class="dropdown-item noti-title">
                                            <h5>Notification (3)</h5>
                                        </div>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                            <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                            <p class="notify-details"><b>Your order is placed</b><small class="text-muted">Dummy text of the printing and typesetting industry.</small></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                                            <p class="notify-details"><b>New Message received</b><small class="text-muted">You have 87 unread messages</small></p>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            <div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>
                                            <p class="notify-details"><b>Your item is shipped</b><small class="text-muted">It is a long established fact that a reader will</small></p>
                                        </a>

                                        <!-- All-->
                                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                                            View All
                                        </a>

                                    </div>
                                </li>*@
                            <!-- User-->
                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <img src="../blue/assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">
                                    <span class="ml-1">
                                        @*@givename*@
                                        <span id="givname"></span>
                                        <i class="mdi mdi-chevron-down"></i>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown " style="width:198px">
                                    <a class="dropdown-item" onclick="Redirection('profile');"><i class="dripicons-user text-muted"></i> Profile</a>
                                    <a class="dropdown-item" onclick="Redirection('cpass');" ><i class="dripicons-wallet text-muted"></i> Change Password</a>
                                    @*<a class="dropdown-item" href="#"><span class="badge badge-success pull-right m-t-5">5</span><i class="dripicons-gear text-muted"></i> Settings</a>*@
                                    @*<a class="dropdown-item" href="#"><i class="dripicons-lock text-muted"></i> Lock screen</a>*@
                                    <div class="dropdown-divider"></div>
                                         @*var url = '@Html.Raw(Url.Action("CustomReport", "SuperAdmin", new { reportid = "rptid", reportname = "rptname"}))'; href="@Url.Action("ResetPass", "Home", new {UserNum=  ,status="No" })*@
                                    <a class="dropdown-item" onclick="Redirection('logout');"><i class="dripicons-exit text-muted"></i> Logout</a>
                                </div>
                            </li>
                            <li class="menu-item list-inline-item">
                                <!-- Mobile menu toggle-->
                                <a class="navbar-toggle nav-link">
                                    <div class="lines">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                <!-- End mobile menu toggle-->
                            </li>

                        </ul>
                    </div>
                    <!-- end menu-extras -->

                    <div class="clearfix"></div>

                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->
            <!-- MENU Start -->
            <div class="navbar-custom">
                <div class="container-fluid">
                    <div id="navigation">
                        <!--Navigation Menu-->
                        <ul class="navigation-menu" id="menuload">
                            @Html.Partial("_MenuPartial")



                            @*<li class="has-submenu">
                                    <a href="#"><i class="dripicons-to-do"></i>Components <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                                    <ul class="submenu">
                                        <li class="has-submenu">
                                            <a href="#">Email</a>
                                            <ul class="submenu">
                                                <li><a href="email-inbox.html">Inbox</a></li>
                                                <li><a href="email-read.html">Email Read</a></li>
                                                <li><a href="email-compose.html">Email Compose</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="calendar.html">Calendar</a>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#">Forms</a>
                                            <ul class="submenu">
                                                <li><a href="form-elements.html">Form Elements</a></li>
                                                <li><a href="form-validation.html">Form Validation</a></li>
                                                <li><a href="form-advanced.html">Form Advanced</a></li>
                                                <li><a href="form-editors.html">Form Editors</a></li>
                                                <li><a href="form-uploads.html">Form File Upload</a></li>
                                                <li><a href="form-mask.html">Form Mask</a></li>
                                                <li><a href="form-summernote.html">Summernote</a></li>
                                                <li><a href="form-xeditable.html">Form Xeditable</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#">Icons</a>
                                            <ul class="submenu">
                                                <li><a href="icons-material.html">Material Design</a></li>
                                                <li><a href="icons-ion.html">Ion Icons</a></li>
                                                <li><a href="icons-fontawesome.html">Font Awesome</a></li>
                                                <li><a href="icons-themify.html">Themify Icons</a></li>
                                                <li><a href="icons-dripicons.html">Dripicons</a></li>
                                                <li><a href="icons-typicons.html">Typicons Icons</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#">Charts</a>
                                            <ul class="submenu">
                                                <li><a href="charts-morris.html">Morris Chart</a></li>
                                                <li><a href="charts-chartist.html">Chartist Chart</a></li>
                                                <li><a href="charts-chartjs.html">Chartjs Chart</a></li>
                                                <li><a href="charts-flot.html">Flot Chart</a></li>
                                                <li><a href="charts-c3.html">C3 Chart</a></li>
                                                <li><a href="charts-other.html">Jquery Knob Chart</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#">Tables </a>
                                            <ul class="submenu">
                                                <li><a href="tables-basic.html">Basic Tables</a></li>
                                                <li><a href="tables-datatable.html">Data Table</a></li>
                                                <li><a href="tables-responsive.html">Responsive Table</a></li>
                                                <li><a href="tables-editable.html">Editable Table</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="#">Maps</a>
                                            <ul class="submenu">
                                                <li><a href="maps-google.html"> Google Map</a></li>
                                                <li><a href="maps-vector.html"> Vector Map</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="has-submenu">
                                    <a href="#"><i class="dripicons-trophy"></i>Advanced UI <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                                    <ul class="submenu">
                                        <li><a href="advanced-animation.html">Animation</a></li>
                                        <li><a href="advanced-highlight.html">Highlight</a></li>
                                        <li><a href="advanced-rating.html">Rating</a></li>
                                        <li><a href="advanced-nestable.html">Nestable</a></li>
                                        <li><a href="advanced-alertify.html">Alertify</a></li>
                                        <li><a href="advanced-rangeslider.html">Range Slider</a></li>
                                        <li><a href="advanced-sessiontimeout.html">Session Timeout</a></li>
                                    </ul>
                                </li>

                                <li class="has-submenu">
                                    <a href="#"><i class="dripicons-copy"></i>Pages <i class="mdi mdi-chevron-down mdi-drop"></i></a>
                                    <ul class="submenu megamenu">
                                        <li>
                                            <ul>
                                                <li><a href="pages-timeline.html">Timeline</a></li>
                                                <li><a href="pages-invoice.html">Invoice</a></li>
                                                <li><a href="pages-directory.html">Directory</a></li>
                                                <li><a href="pages-login.html">Login</a></li>
                                                <li><a href="pages-register.html">Register</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul>
                                                <li><a href="pages-recoverpw.html">Recover Password</a></li>
                                                <li><a href="pages-lock-screen.html">Lock Screen</a></li>
                                                <li><a href="pages-blank.html">Blank Page</a></li>
                                                <li><a href="pages-404.html">Error 404</a></li>
                                                <li><a href="pages-500.html">Error 500</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>*@

                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box" style="padding: 0px 0;">
                        @*<form class="float-right app-search">
                                <input type="text" placeholder="Search..." class="form-control">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>*@
                        <h3 class="page-title"> <i class="@ViewBag.TitleClass"></i> @ViewBag.PageTitle</h3>
                    </div>
                </div>
            </div>
            <!-- end page title end breadcrumb -->

        </div>
    </div>


    <div class="wrapper">
        <div class="container-fluid">

            <div>
                @RenderBody()
                <div id="divModalLayer1" class="div-modal-layer"></div>
            </div>



        </div> <!-- end container -->
    </div>
    <!-- end wrapper -->
    <!-- Footer -->
    <footer class="footer" style="height:50px">
        <div class="container-fluid" style="width:100%;max-width: none !important;">
            <div class="row">
                <div class="col-12">
                    @*© 2018 Fonik - Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand.*@
                    <p style="font-size:10px" class="text-left">© Copyright Ethics & Compliance Initiative. All Rights Reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Developed by iBridge, LLC.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Release Version - Pre-alpha</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div id="dialog" style="display: none" align="center">
        Your Session will expire in&nbsp;<span id="seconds"></span>&nbsp;seconds.<br />
        Do you want to reset?
        <br />
        <button id="btnYes" value="Yes" class="btn btn-primary">Yes</button>&nbsp;<button id="btnNo" value="No" class="btn btn-primary">No</button>
    </div><!-- /.modal -->
    <!-- Loding div-->

    <div id="fade1" ><div style="border-radius: 1.25rem;height:50px;width:50px;"> <img src="../blue/assets/images/loading5.gif" width="50" height="50" /></div></div>
    <div id="modal">
        @*<img src="../blue/assets/images/loading4.gif"   width="100" height="100" style="background-color:#6c757d" />*@
        @*<i class="fa fa-spinner fa-pulse fa-spin font12" aria-hidden="true"></i>*@
    </div>

    <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="divsession">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header"  style="text-align:center;background-color:#0E3055;color:white;border-top-left-radius:0rem;border-top-right-radius:0rem;">
                    
                    <h5 class="modal-title mt-0" style="padding-left: 185px;"  >Still there?</h5>
                    <button type="button" class="close" data-dismiss="modal" style="opacity:100;color:white;" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <p align="center">
                        For Security, we log you out if you're inactive too long
                       @* Your Session has been expired.<br /> Do you want to reset?*@
                    </p>

                </div>
                <div class="modal-footer" style="justify-content: center;">
                    <button type="button" class="btn btn-primary" id="btnsessionyes">Continue Working</button>
                    <button type="button" class="btn btn-secondary" id="btnsessionno" >Log Out Now</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- loading div-->
    <script type="text/javascript">
        function openModal() {
            //alert("open modal");
            // document.getElementById('modal').style.display = 'block';
            document.getElementById('fade1').style.display = 'block';
        }

        function closeModal() {
            // document.getElementById('modal').style.display = 'none';
            document.getElementById('fade1').style.display = 'none';
        }

        function LoadNewScreen(url) {
            if (window.navigator.userAgent.indexOf("Edge") > -1) {
                location.href = url;
            }
            else {
                location.reload(); location.href = url;
            }
        }
    </script>
    <!-- jQuery  -->

    <script src="../blue/assets/js/popper.min.js"></script>
    <script src="../blue/assets/js/bootstrap.min.js"></script>
    <script src="../blue/assets/js/modernizr.min.js"></script>
    <script src="../blue/assets/js/waves.js"></script>
    <script src="../blue/assets/js/jquery.slimscroll.js"></script>
    <script src="../blue/assets/js/jquery.nicescroll.js"></script>
    <script src="../blue/assets/js/jquery.scrollTo.min.js"></script>

    <!-- App js -->
    <script src="../blue/assets/js/app.js"></script>

</body>
</html>