﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    @*<h2>
            Sorry, an error occurred while processing your request.
        </h2>*@
    <hgroup>
        <h1>Error.</h1>

        @model System.Web.Mvc.HandleErrorInfo

        @if (Model != null)
        {
            <div>
                <h2>
                    @Model.Exception.Message  in @Model.ControllerName
                </h2>

            </div>
        }

    </hgroup>
</body>
</html>