﻿@using ECIAPP.Models;
@model LoginVM
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<script>

        var ipinfo;

        $.getJSON("http://ipinfo.io", function (data) {
            
            //$("#IpAddress").html("City: " + data.city + " ,County: " + data.country + " ,IP: " + data.ip + " ,Location: " + data.loc + " ,Organisation: " + data.org + " ,Postal Code: " + data.postal + " ,Region: " + data.region + "")
            $("#IpAddress").val(data.ip);
            console.log($("#IpAddress").val());

            document.getElementById("IpAddress").value = data.ip;
            console.log($("#IpAddress").val());
        })

    </script>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
@Html.TextBoxFor(x => x.UserName)
@Html.PasswordFor(x => x.Password)
    <div style="display:none">
        @Html.TextBoxFor(x => x.IpAddress)
    </div>
    @*<input type="hidden" name="Usernum" value="@Model.Usernum" />*@
    
    <input type="submit" value="Submit" name="save" />
    
    @*<p>Client's information:</p>*@

    <p id="info"></p>
}