﻿@using ECIAPP.Models;
@model LoginVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>ECI | OTP Verification</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesbrand" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App Icons -->
    <link rel="shortcut icon" href="../blue/assets/images/favicon.ico">

    <!-- App css -->
    <link href="../blue/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/css/style.css" rel="stylesheet" type="text/css" />
    <script src="../blue/assets/js/jquery.min.js"></script>
    
</head>


<body>

    <!-- Loader -->
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

    <!-- Begin page -->
    <div class="accountbg"></div>
    <div class="wrapper-page">

        <div class="card">
            <div class="card-body">

                <h3 class="text-center m-0">
                    <a href="index.html" class="logo logo-admin"><img src="../blue/assets/images/ecilogo.png" height="50" alt="logo"></a>
                </h3>

                <div class="p-3">
                    <h4 class="text-muted font-18 m-b-5 text-center">Email Verification Code </h4>


                    @using (Html.BeginForm("CheckOTP", "Home", FormMethod.Post))
                    {

                        <div class="form-group has-feedback">
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        @Html.HiddenFor(x => x.Usernum)
                        @Html.HiddenFor(x => x.otp)
                        <div class="form-group row m-t-20">

                            <div class="col-sm-12 text-center">
                                @*<button class="btn btn-primary w-md waves-effect waves-light" type="submit">Verify</button>*@
                                <button type="button" class="btn btn-primary waves-effect waves-light" id="sa-login">Verify</button>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="callout callout-danger">
                                @ViewBag.Message
                            </div>
                        </div>

                    }
                </div>

            </div>
        </div>

        <div class="m-t-40 text-center">
            @*<p>Don't have an account ? <a href="pages-register.html" class="font-500 font-14 text-primary font-secondary"> Signup Now </a> </p>
                <p>© 2018 Fonik. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>*@
        </div>

    </div>


    <!-- jQuery  -->

    <script src="../blue/assets/js/popper.min.js"></script>
    <script src="../blue/assets/js/bootstrap.min.js"></script>
    <script src="../blue/assets/js/modernizr.min.js"></script>
    <script src="../blue/assets/js/waves.js"></script>
    <script src="../blue/assets/js/jquery.slimscroll.js"></script>
    <script src="../blue/assets/js/jquery.nicescroll.js"></script>
    <script src="../blue/assets/js/jquery.scrollTo.min.js"></script>

    <!-- App js -->
    <script src="../blue/assets/js/app.js"></script>
    <script>
        //$(function () {
        //    $('input').iCheck({
        //        checkboxClass: 'icheckbox_square-blue',
        //        radioClass: 'iradio_square-blue',
        //        increaseArea: '20%' // optional
        //    });
        //});
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#sa-login').click(function () {

                var Usernum = $('#Usernum').val();
                var otp = $('#otp').val();
                var typedotp = $('#Password').val();
                
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CheckOTPJS", "Home")',
                    data: { Usernum: Usernum, enotp: otp, typedotp: typedotp },
                    async: true,
                    success: function (data) {
                        if (data.Message == "Success") {

                        sessionStorage.setItem("UserNum", data.UserNum);
                        sessionStorage.setItem("FName", data.FName);
                        sessionStorage.setItem("LName", data.LName);
                        sessionStorage.setItem("AccountId", data.AccountId);                        
                        sessionStorage.setItem("MenuList", data.MenuList);
                        sessionStorage.setItem("UserType", data.UserType);


                        var obj = JSON.parse(data.MenuList);
                        var matches = jQuery.grep(obj, function (item) {
                            return (item.ParentId === 0);
                        });

                        if (Object.keys(obj).length != 0) {
                            for (i = 0; i < Object.keys(obj).length; i++) {

                                if (obj[i].ParentId == 0) {
                                    if (obj[i].URLPath == "AlterDashboard") {
                                        LoadNewScreen("@Url.Action("AlterDashboard", "SuperAdmin")");
                                    return false;
                                }
                                else {
                                    if (i - matches.length == -1) {
                                        var url = '@Html.Raw(Url.Action("Menu", "SuperAdmin"))';
                                        var params = url.replace('Menu', obj[i].URLPath);
                                        LoadNewScreen(params);
                                        return false;
                                    }
                                }
                            }
                        }
                    }
                    else {
                        LoadNewScreen("@Url.Action("WIP", "SuperAdmin")");
                        return false;
                    }


                    }
                    else {
                        alert(data.Message);
                        return false;
                    }
                    }
                });

            });
        });
        function LoadNewScreen(url) {
            if (window.navigator.userAgent.indexOf("Edge") > -1) {
                location.href = url;
            }
            else {
                location.reload(); location.href = url;
            }
        }
    </script>
</body >
</html >
