﻿@using ECIAPP.Models;
@model LoginVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>ECI | Login</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesbrand" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App Icons -->
    <link rel="shortcut icon" href="../blue/assets/images/favicon.ico">

    <!-- Sweet Alert -->
    <link href="../blue/assets/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">

    <!-- App css -->
    <link href="../blue/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/css/style.css" rel="stylesheet" type="text/css" />
    <script src="../blue/assets/js/jquery.min.js"></script>
    <style>
        #content {
            padding: 25px;
        }

        #fade {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 400%;
            background-color: #ababab;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .90;
            filter: alpha(opacity=80);
        }
         #fade1 {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 400%;
            background-color: white; 
            padding-top:20%;
            padding-left:50%;
            z-index: 1051;     
             -moz-opacity: 0.8;
            opacity: .90;
            filter: alpha(opacity=80);      
        }
        #modal {
            display: none;
            position: absolute;
            top: 45%;
            left: 45%;
            padding: 15px 10px 0px;
            box-shadow: 1px 1px 10px #ababab;
            border-radius: 20px;
            background-color: white;
            z-index: 1002;
            text-align: center;
            overflow: auto;
        }

        #fadeonchange {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 400%;
            background-color: #ababab;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .30;
            filter: alpha(opacity=80);
        }

        #modalonchange {
            display: none;
            position: absolute;
            top: 45%;
            left: 45%;
            width: 64px;
            height: 64px;
            padding: 15px 10px 0px;
            border: 3px solid #ababab;
            box-shadow: 1px 1px 10px #ababab;
            border-radius: 20px;
            background-color: white;
            z-index: 1002;
            text-align: center;
            overflow: auto;
        }

        #results {
            font-size: 1.25em;
            color: red;
        }
    </style>
    <style>
        .swal2-show {
            -webkit-animation: showSweetAlert .1s;
            animation: showSweetAlert 2.0s;
        }

        .swal2-hide {
            -webkit-animation: hideSweetAlert .15s forwards;
            animation: hideSweetAlert .9s;
        }
    </style>
    <script>
        $.getJSON("https://ipinfo.io", function (data) {
            // alert(data.ip);
            //$("#IpAddress").html("City: " + data.city + " ,County: " + data.country + " ,IP: " + data.ip + " ,Location: " + data.loc + " ,Organisation: " + data.org + " ,Postal Code: " + data.postal + " ,Region: " + data.region + "")
            $("#IpAddress").val(data.ip);
            console.log($("#IpAddress").val());
            //console.log($(window.navigator.userAgent));
            $("#sysconfig").val(window.navigator.userAgent);

            //document.getElementById("IpAddress").value = data.ip;
            //console.log($("#IpAddress").val());
        })
    </script>

</head>


<body>

    <!-- Loader -->
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

    <!-- Begin page -->
    <div class="accountbg"></div>

    <div class="wrapper-page">

        <div class="card">
            <div class="card-body">

                <h3 class="text-center m-0">
                    <a href="index.html" class="logo logo-admin"><img src="../blue/assets/images/ecilogo.png" height="50" alt="logo"></a>
                </h3>

                <div class="p-3">
                    <h4 class="text-muted font-18 m-b-5 text-center">Welcome Back !</h4>
                    <p class="text-muted text-center">Sign in to continue to ECI Dashboard.</p>
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { id = "frmLogin" }))
                    {

                        <div class="form-group">
                            <label for="username">Username</label>
                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <label for="userpassword">Password</label>
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                        </div>

                        <div class="form-group row m-t-20">
                            <div class="col-sm-6">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customControlInline">
                                    <label class="custom-control-label" for="customControlInline">Remember me</label>
                                </div>
                            </div>
                            <div class="col-sm-6 text-right">
                                @*<button class="btn btn-primary w-md waves-effect waves-light" type="submit">Log In</button>*@
                                <button type="button" class="btn btn-primary waves-effect waves-light" id="sa-login">Log In</button>
                            </div>
                        </div>

                        <div class="form-group m-t-10 mb-0 row">
                            <div class="col-12 m-t-20">
                                <a href="@Url.Action("ForgetPass", "Home")" class="text-muted"><i class="mdi mdi-lock"></i> Forgot password?</a>
                            </div>
                        </div>
                        @*<div class="alert alert-danger">*@
                        <div>
                            @ViewBag.Message
                        </div>

                        <div style="display:none">
                            @Html.TextBoxFor(x => x.IpAddress)
                            @*<input type="text" value="122.178.93.141" id="IpAddress" name="IpAddress" />*@
                            @Html.TextBoxFor(x => x.sysconfig)
                        </div>

                    }
                </div>

            </div>
        </div>

        <div class="m-t-40 text-center">
            @*<p>Don't have an account ? <a href="pages-register.html" class="font-500 font-14 text-primary font-secondary"> Signup Now </a> </p>
                <p>© 2018 Fonik. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>*@
            <p>© Copyright Ethics & Compliance Initiative. All Rights Reserved.</p>
        </div>

    </div>

    <!-- Loding div-->

    <div id="fade1" style="padding-top:20%;padding-left:50%;z-index:1052;"> <img src="../blue/assets/images/loading5.gif" width="50" height="50" /></div>
    <div id="modal">
        <img src="../blue/assets/images/loading4.gif"  width="100" height="100" />
        @*<i class="fa fa-spinner fa-pulse fa-spin font12" aria-hidden="true"></i>*@
    </div>

    <!-- loading div-->
    <!-- jQuery  -->

    <script src="../blue/assets/js/popper.min.js"></script>
    <script src="../blue/assets/js/bootstrap.min.js"></script>
    <script src="../blue/assets/js/modernizr.min.js"></script>
    <script src="../blue/assets/js/waves.js"></script>
    <script src="../blue/assets/js/jquery.slimscroll.js"></script>
    <script src="../blue/assets/js/jquery.nicescroll.js"></script>
    <script src="../blue/assets/js/jquery.scrollTo.min.js"></script>

    <!-- Sweet-Alert  -->
    <script src="../blue/assets/plugins/sweet-alert2/sweetalert2.min.js"></script>
    <script src="../blue/assets/pages/sweet-alert.init.js"></script>

    <!-- App js -->
    <script src="../blue/assets/js/app.js"></script>

</body>
</html>

<script type="text/javascript">
    function openModal() {
        //alert("open modal");
       // document.getElementById('modal').style.display = 'block';
        document.getElementById('fade1').style.display = 'block';
    }

    function closeModal() {
        //document.getElementById('modal').style.display = 'none';
        document.getElementById('fade1').style.display = 'none';
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        //$("#IpAddress").val('122.178.83.204');
        $('#sa-login').click(function () {

            openModal();

            //setTimeout(function () { console.log("5sec time out..") }, 25000);
            LoginClick();
        });
    });
    function ValidateUser() {
        var UserName = $('#UserName').val();
        var Password = $('#Password').val();
        var IpAddress = $('#IpAddress').val();
        var sysconfig = $('#sysconfig').val();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("ValidateUser", "Home")',
            data: { UserName: UserName, Password: Password, IpAddress: IpAddress, sysconfig: sysconfig },
            async: true,
            success: function (data) {
                //alert(data.Message);
                if (data.Message == "CheckOTP") {
                    closeModal();                    
                    var pathname = window.location.pathname;

                    if (pathname == "/") {
                        pathname = "/Home/Login";
                    }
                    //alert(pathname);
                    pathname = pathname.replace('Login', 'CheckOTP');
                    var href = pathname+"?usernum=" + data.UserNum + "&enotp=" + data.Otp;
                    //location.reload(); location.href = href;
                    LoadNewScreen(href);
                    }
                else if (data.Message == "Success") {

                    sessionStorage.setItem("UserNum", data.UserNum);
                    sessionStorage.setItem("FName", data.FName);
                    sessionStorage.setItem("LName", data.LName);
                    sessionStorage.setItem("AccountId", data.AccountId);
                    sessionStorage.setItem("MenuList", data.MenuList);
                    sessionStorage.setItem("UserType", data.UserType);
                    

                    
                    var obj = JSON.parse(data.MenuList);
                    var matches = jQuery.grep(obj, function (item) {
                        return (item.ParentId === 0);
                    });
                    
                    if (Object.keys(obj).length != 0) {
                        for (i = 0; i < Object.keys(obj).length; i++) {
                           
                            if (obj[i].ParentId == 0) {                               
                                if (obj[i].URLPath == "AlterDashboard") {
                                    LoadNewScreen("@Url.Action("AlterDashboard", "SuperAdmin")");
                                    return false;
                                }
                                else {
                                    if (i - matches.length == -1) {
                                        var url = '@Html.Raw(Url.Action("Menu", "SuperAdmin"))';
                                        var params = url.replace('Menu', obj[i].URLPath);
                                        LoadNewScreen(params);
                                        return false;
                                    }
                                }
                            }
                        }
                    }
                    else {
                        LoadNewScreen("@Url.Action("WIP", "SuperAdmin")");
                        return false;
                    }
                   @* if (data.UserType != "ECI Client User") {
                        //location.reload(); location.href = "@Url.Action("AlterDashboard", "SuperAdmin")";
                        LoadNewScreen("@Url.Action("AlterDashboard", "SuperAdmin")");
                    }
                    else {
                        //location.reload(); location.href = "@Url.Action("NewReportDashboard", "SuperAdmin")";
                        LoadNewScreen("@Url.Action("NewReportDashboard", "SuperAdmin")");
                    }*@

                }
                else {
                    closeModal();
                    alert(data.Message);
                    return false;
                }
            }
        });
    }
    function LoginClick() {
        var email = $('#UserName').val();
        var Password = encodeURIComponent($('#Password').val()) ;
        //alert(Password);
        var IpAddress = $('#IpAddress').val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ValidateSession", "Home")',
            data: { emailid: email, Pass: Password, IpAddress: IpAddress},
            async: true,
            success: function (data) {
                //console.log(data);
                //closeModal();



                if (data.Ok == "true") {
                    "use strict";
                    var SweetAlert = function () {
                    };
                    swal({
                        title: '',
                        text: "This user ID is already logged in. Closing it may cause to lose any unsaved data. Are you sure you wish to logout anyway?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Logout',
                        cancelButtonText: 'Cancel',
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger m-l-10',
                        buttonsStyling: false
                    }).then(function () {
                        //swal(
                        //    'Logged Out!',
                        //    'You can login again.',
                        //    'success'
                        //)
                        //$('#frmLogin').submit(); //Deepa Commented Out

                        ValidateUser();
                    }, function (dismiss) {
                        // dismiss can be 'cancel', 'overlay',
                        // 'close', and 'timer'
                        if (dismiss === 'cancel') {
                            closeModal();
                            //swal(
                            //    'Cancelled',
                            //    'Your imaginary file is safe :)',
                            //    'error'
                            //)
                        }
                    })
                }
                else if (data.Ok == "Invalid") {
                    closeModal();
                    alert("Invalid user / password");
                    return false;
                    //$('#frmLogin').submit();

                }
                else {
                    ValidateUser();
                }
            }
        });

    }
    function LoadNewScreen(url) {
        if (window.navigator.userAgent.indexOf("Edge") > -1) {
            location.href = url;
        }
        else {
            location.reload(); location.href = url;
        }
    }
</script>