﻿@using ECIAPP.Models;
@model PasswordVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>ECI | Reset Password</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Themesbrand" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App Icons -->
    <link rel="shortcut icon" href="../blue/assets/images/favicon.ico">

    <!-- App css -->
    <link href="../blue/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="../blue/assets/css/style.css" rel="stylesheet" type="text/css" />
    <script src="../blue/assets/js/jquery.min.js"></script>
    <script>
        $.getJSON("http://ipinfo.io", function (data) {
            // alert(data.ip);
            //$("#IpAddress").html("City: " + data.city + " ,County: " + data.country + " ,IP: " + data.ip + " ,Location: " + data.loc + " ,Organisation: " + data.org + " ,Postal Code: " + data.postal + " ,Region: " + data.region + "")
            $("#IpAddress").val(data.ip);
            console.log($("#IpAddress").val());
            //console.log($(window.navigator.userAgent));
           // $("#sysconfig").val(window.navigator.userAgent);

            //document.getElementById("IpAddress").value = data.ip;
            //console.log($("#IpAddress").val());
        })
    </script>
</head>


<body>

    <!-- Loader -->
    <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

    <!-- Begin page -->
    <div class="accountbg"></div>
    <div class="wrapper-page">

        <div class="card">
            <div class="card-body">

                <h3 class="text-center m-0">
                    <a href="index.html" class="logo logo-admin"><img src="../blue/assets/images/ecilogo.png" height="50" alt="logo"></a>
                </h3>

                <div class="p-3">
                    @*<h4 class="text-muted font-18 m-b-5 text-center">Email Verification Code </h4>*@


                    @using (Html.BeginForm("ResetPass", "Home", FormMethod.Post))
    {

                <div class="form-group has-feedback">
                    <label for="userpassword">New Password</label>
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                    @Html.ValidationMessage("Password", new { @class = "alert-danger" })
                </div>
                <div class="form-group has-feedback">
                    <label for="userpassword">Confirm New Password</label>
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessage("ConfirmPassword", new { @class = "alert-danger" })
                </div>
                @Html.HiddenFor(x => x.Usernum)
                @Html.HiddenFor(x => x.Status)
                <div class="form-group row m-t-20">

                    <div class="col-sm-6 text-right">
                        <button class="btn btn-info mb-5 waves-effect waves-light" type="submit"><i class="mdi mdi-lock-open"></i>Update</button>
                    </div>
                    <div class="col-sm-6 text-left">
                        @*<button class="btn btn-info mb-5 waves-effect waves-light" type="submit"><i class="mdi mdi-lock-open"></i>Cancel</button>*@
                        <button type="reset"  class="btn btn-info mb-5 waves-effect waves-light" onclick="userlogout();">Cancel</button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="callout callout-danger">
                        @ViewBag.Message
                    </div>
                    <div style="display:none">
                        @Html.TextBoxFor(x => x.IpAddress)
                        
                    </div>
                </div>

}
                </div>

            </div>
        </div>

        <div class="m-t-40 text-center">
            @*<p>Don't have an account ? <a href="pages-register.html" class="font-500 font-14 text-primary font-secondary"> Signup Now </a> </p>
                <p>© 2018 Fonik. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>*@
        </div>

    </div>


    <!-- jQuery  -->

    <script src="../blue/assets/js/popper.min.js"></script>
    <script src="../blue/assets/js/bootstrap.min.js"></script>
    <script src="../blue/assets/js/modernizr.min.js"></script>
    <script src="../blue/assets/js/waves.js"></script>
    <script src="../blue/assets/js/jquery.slimscroll.js"></script>
    <script src="../blue/assets/js/jquery.nicescroll.js"></script>
    <script src="../blue/assets/js/jquery.scrollTo.min.js"></script>

    <!-- App js -->
    <script src="../blue/assets/js/app.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

          
            $('#backbutton').on('click', function (e) {
                alert('jesus');
            //e.preventDefault();
            LoadNewScreen("@Url.Action("Login", "Home/Login")");
            
        });

        });

       
        function userlogout() {
            var UserNum = sessionStorage.getItem("UserNum");

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UserLogout", "SuperAdmin")',
                data: { Usernum: UserNum },
                async: true,
                success: function (data) {

                    var url = '@Html.Raw(Url.Action("Login", "Home/Login"))';
                        window.location.href = url;


                    }
            });
            //var i = sessionStorage.length;
            //while (i--) {
            //    var key = sessionStorage.key(i);
            //    if (/foo/.test(key)) {
            //        sessionStorage.removeItem(key);
            //    }
            //}
                }

</script>
</body>
</html>